<h3>Write Page</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Write Page</legend>
		<dl>
			<dt><label for="title">{L_PAGE_TITLE}</label></dt>
			<dd><input type="text" id="title" name="title" onchange="UpdateSlug();" value="{S_TITLE}" style="width: 100%;" /></dd>
			<dt><label for="slug">{L_PAGE_SLUG}</label></dt>
			<dd><label>{L_PARENT} {S_PAGE_PARENT}</label> <label>{L_SLUG} <input type="text" id="slug" name="slug" value="{S_SLUG}" /></label></dd>
			<dt><label for="post">{L_PAGE_BODY}</label></dt>
			<dd>
				<textarea id="post" name="post" style="margin: 0px; width: 100%; height: 250px;" cols="70" rows="15">{S_PAGE_TEXT}</textarea>
			</dd>
			<dt><label>{L_PAGE_CLASSIFICATION}</label></dt>
			<dd>{S_PAGE_CLASSIFICATION}</dd>
			<dt><label for="license">{L_PAGE_LICENSE}</label></dt>
			<dd>{S_PAGE_LICENSE} <a href="">Learn More...</a></dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="{L_SAVE_DRAFT}" />
				<input type="submit" name="publish" value="{L_PUBLISH}" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="pages" />
		<input type="hidden" name="sub" value="write" />
		<!-- IF S_ID -->
		<input type="hidden" name="id" value="{S_ID}" />
		<!-- ENDIF -->
	</fieldset>
</form>