ul#inbox-messages dd div {
	border-left: 1px solid #CCCCCC;
}

ul#inbox-messages li#inbox-head dd div {
	border: none !important;
}

ul#inbox-messages {
	list-style: none;
	padding: 0px;
	margin: 5px;
	border: solid 2px #333333;
}

ul#inbox-messages li {
	display: block;
	list-style-type: none;
	margin: 0;
	border-bottom: 1px solid #CCCCCC;
}

ul#inbox-messages li div {
	margin: 5px;
}

ul#inbox-messages li#inbox-head {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
}

ul#inbox-messages dl {
	position: relative;
	padding: 0;
	margin: 0;
}

ul#inbox-messages dl dt {
	display: block;
	float: left;
	width: 68%;
	padding: 0;
	margin: 0;
}

ul#inbox-messages dl dd {
	display: block;
	float: left;
	width: 16%;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* Simple fix so forum and topic lists always have a min-height set, even in IE6
	From http://www.dustindiaz.com/min-height-fast-hack */
dl.icon {
	min-height: 35px;
	height: auto !important;
	height: 35px;
	height: 1%;
	overflow: hidden;

}

dl.icon dt div {
	padding-left: 45px;		
	background-repeat: no-repeat;
	background-position: 10px 50%;
	font-weight: normal;
	text-align: left;
}

dl.title-row {
	min-height: 0px;
	height: auto !important;
	height: 0px;
	height: 1%;
	overflow: hidden;
}

ul#posts {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

ul#posts li {
	/*border: solid 2px #333333;*/
	list-style: none;
	margin: 0px;
	margin-bottom: 3px;
	
}

ul#posts li h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

.post {
	padding: 5px;
}

.post .inner {
	-ms-word-break: break-all;
    word-wrap: break-all;
    word-break: break-word;
}

ul#posts dl.profile {
	float: right;
    margin: 0;
}

ul#posts dl.profile dt {
    margin-top: 5px;
}

ul#posts dl.profile .message-disp-pic img {
    padding: 2px;
    background-color: white;
    border: solid 1px #999999;
    width: 50px;
    height: 50px;
}

ul#posts dl.profile p {
    padding-top: 0;
}

ul#posts dl.profile dd {
	margin: 0;
	padding: 0;
}

ul#posts div.top {
	clear: both;
	text-align: right;
}

/* colours */
ul#posts .corners-top, ul#posts .corners-top > span {
    background-image: url('/images/corners-top-eeeeee-18-9.png');
}

ul#posts .corners-top > span + span, ul#posts .corners-bottom > span + span {
    background-color: #EEEEEE;
}

ul#posts .corners-bottom, ul#posts .corners-bottom > span {
    background-image: url('/images/corners-bottom-eeeeee-18-9.png');
}

ul.list li.list-item.mail > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.list li.list-item.mail count {
    line-height: 35px;
}

ul.list li.list-item.mail {
    padding-left: 30px;
}

ul.list li.list-item.mail img {
    position: absolute;
    left: 5px;
    top: 10px;
}

.triangle-border.right {
    margin-right: 85px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.triangle-border.orange {
    background: #ffebdd;
}

.triangle-border.right.orange:after {
    border-color: transparent #ffebdd;
}

.triangle-border:hover {
    background: #ffffff;
}

.triangle-border.right:hover:after {
    border-color: transparent #ffffff;
}

.triangle-border.orange:hover {
    background: #ffefe5;
}

.triangle-border.right.orange:hover:after {
    border-color: transparent #ffefe5;
}

/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas

Created: 02 March 2010
Version: 1.2 (03 March 2011)

Dual licensed under MIT and GNU GPLv2 Nicolas Gallagher
------------------------------------------ */

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#333;
  background:#F2F2F2;
  /* css3 */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:transparent transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#F2F2F2 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 15px 30px;
  border-color:transparent transparent;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:10px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #F2F2F2;
}