/* colours */
#page-body .corners-top, #page-body .corners-top > span {
    background-image: url('/images/corners-top-eeeeee-10-5.png');
}

#page-body .corners-top > span + span, #page-body .corners-bottom > span + span {
    background-color: #EEEEEE;
}

#page-body .corners-bottom, #page-body .corners-bottom > span {
    background-image: url('/images/corners-bottom-eeeeee-10-5.png');
}

.blog-post {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 5px;
}

.cornered-posting {
    margin-bottom: 10px;
}