ul#small-groups {
	list-style: none;
	padding: 2px;
	margin: 0px;
	width: 246px;
	overflow: hidden;
}

ul#small-groups dl {
	padding: 0px;
	margin: 0px;
}

ul#small-groups li {
	margin-right: 2px;
	height: 42px;
}

ul#small-groups li img {
    float: left;
    width: 40px;
	height: 40px;
}

ul#small-groups .small-group-info {
    margin-left: 42px;
    padding: 3px;
}