<h3>{L_MANAGE_BLOG}</h3>

<p>{PAGINATION}</p>

<table style="width: 100%">
<tr>
	<th>{L_POSTED}</th>
	<th>{L_TITLE}</th>
	<th>{L_COMMENTS}</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN blog_list -->
<!-- IF blog_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{blog_list.POSTED}</td>
	<td>{blog_list.TITLE}</td>
	<td><a href="{blog_list.U_COMMENTS}">{blog_list.COMMENTS}</a></td>
	<td><a href="{blog_list.U_VIEW}">{L_VIEW}</a></td>
	<td><a href="{blog_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{blog_list.U_DELETE}">{L_DELETE}</a></td>
</tr>
<!-- END blog_list -->
</table>

<p>{PAGINATION}</p>