<!-- INCLUDE page_header.html -->

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<div id="content">
	<div id="overview-profile" class="pane">
        <!-- IF $_IS_DESKTOP AND USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
<h2>{L_BLOG}</h2>
<p><span id="subscribe" class="subscribe-button"><a href="{U_SUBSCRIBE}">{L_SUBSCRIBE}</a></span></p>
</div>
</div>
<!-- IF NOT $_IS_MOBILE -->
<div id="pane-profile">
	<div id="pane-pages" class="pane">
		<h3>{L_PAGES}</h3>
		<ul class="page-tiles">
			{PAGE_LIST}
		</ul>
	</div>
	<!-- IF ARCHIVES -->
	<div id="pane-blog-archive" class="pane">
		<h3>{L_ARCHIVE}</h3>
		<ul>
		<!-- BEGIN archive_list -->
			<li><a href="{archive_list.URL}">{archive_list.TITLE}</a></li>
		<!-- END archive_list -->
		</ul>
	</div>
	<!-- ENDIF -->
	<!-- IF CATEGORIES -->
	<div id="pane-blog-categories" class="pane">
		<h3>{L_CATEGORIES}</h3>
		<ul>
		<!-- BEGIN category_list -->
		<li><a href="{category_list.URL}">{category_list.TITLE}</a></li>
		<!-- END category_list -->
		</ul>
	</div>
	<!-- ENDIF -->
	<!-- IF BLOG_ROLL_ENTRIES -->
	<div id="pange-blog-roll" class="pane">
		<h3>{L_BLOGROLL}</h3>
		<ul>
      <!-- BEGIN blog_roll_list -->
      <li><a href="{blog_roll_list.URI}">{blog_roll_list.TITLE}</a></li>
      <!-- END blog_roll_list -->
		</ul>
	</div>
	<!-- ENDIF -->
	<div id="pange-blog-feed" class="pane">
		<h3>{L_FEED}</h3>
		<p style="padding-left: 10px;"><a href="{U_RSS}">{L_RSS_FEED}</a></p>
	</div>
</div>
<!-- ENDIF -->
<div id="profile">
<div id="pane-blog" class="pane">
	<!-- IF U_POST -->
	<div id="new-stuff">
		<span id="post-blog" class="post-button"><a href="{U_POST}">{L_NEW_BLOG_POST}</a></span>
	</div>
	<!-- ENDIF -->
	<div id="page-body">
		<h2>{PAGE_TITLE}</h2>
		<p>{PAGE_BODY}</p>
		
		<!-- IF BLOGPOSTS -->
		<!-- BEGIN blog_list -->
    <div class="cornered-posting">
		<div class="blog-post normal-writing">
			<h3><a href="{blog_list.URL}">{blog_list.TITLE}</a></h3>
			<p class="blog-date">{blog_list.DATE}</p>
			<p>{blog_list.POST}</p>
            <div class="r-stuff light">
                <span class="img-button like-item"><a href="#" onclick="return LikeItem({blog_list.ID},{blog_list.TYPE_ID},$(this).children('.likes'));" title="Like"><span class="sprite like-sprite"></span><span class="likes">{blog_list.LIKES}</span></a></span><!--
                --><span class="img-button share-item"><a href="#" onclick="return ShareItem({blog_list.ID},{ITEM_ID});" title="Share"><span class="sprite share-sprite"></span></a></span><!--
                --><span class="img-button comment-item"><a href="{blog_list.URL}#comments" title="Expand comments">{L_COMMENTS}<span class="likes">{blog_list.COMMENTS}</span></a></span><!--
                <!-- IF blog_list.IS_OWNER -->
                --><span class="img-button delete-item"><a href="{blog_list.U_DELETE}" title="Delete Status"><span class="sprite delete-sprite"></span></a></span><!--
                <!-- ENDIF -->
                -->
            </div>
		</div>
    </div>
		<!-- END blog_list -->
		<!-- ELSE -->
		<p>{NO_BLOG_POSTS}</p>
		<!-- ENDIF -->
		<!-- IF SINGLE -->
		<div id="comments" class="comment-pane">
		<!-- INCLUDE pane.comments.html -->
		</div>
		<!-- ENDIF -->
	</div>
<!-- IF PAGINATION -->
<p>{PAGINATION}</p>
<!-- ENDIF -->
</div>
</div>
</div>
<!-- INCLUDE page_footer.html -->