<h3>My Name</h3>
<p>Details of your real name are kept private between, you, your friends, and your family. People can search for your profile based on the name you give.</p>
<p>Your real name combined with your date of birth and hometown can be used to find you as together they are the most personally identifyable information about oneself. You should be careful who you give these pieces of information out to.</p>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>My Name</legend>
		<dl>
			<dt><label for="display">Display Name</label></dt>
			<dd><input type="text" id="display" name="display" value="{DISPLAY_NAME}" /></dd>
			<dt><label for="title">Title</label></dt>
			<dd>
				<select name="title" id="title">
					<option{TITLE_NONE}></option>
					<option{TITLE_MASTER}>Master</option>
					<option{TITLE_MR}>Mr.</option>
					<option{TITLE_MISS}>Miss.</option>
					<option{TITLE_MS}>Ms.</option>
					<option{TITLE_MRS}>Mrs.</option>
					<option{TITLE_DR}>Dr.</option>
					<option{TITLE_FR}>Fr.</option>
					<option{TITLE_SR}>Sr.</option>
					<option{TITLE_PROF}>Prof.</option>
					<option{TITLE_LORD}>Lord.</option>
				</select>
			</dd>
			<dt><label for="firstname">First Given Name</label></dt>
			<dd><input type="text" id="firstname" name="firstname" value="{FIRST_NAME}" /></dd>
			<dt><label for="middlename">Middle Given Name/Middle Initial</label></dt>
			<dd><input type="text" id="middlename" name="middlename" value="{MIDDLE_NAME}" /></dd>
			<dt><label for="lastname">Surname</label></dt>
			<dd><input type="text" id="lastname" name="lastname" value="{LAST_NAME}"/></dd>
			<dt><label for="suffix">Suffix</label> e.g. Jr., Sr., II, III</dt>
			<dd><input type="text" id="suffix" name="suffix" value="{SUFFIX}" /></dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="profile" />
		<input type="hidden" name="sub" value="name" />
	</fieldset>
</form>