<h3>{L_MY_CONTACT_DETAILS}</h3>
<p>{L_CONTACT_DETAILS_INFO}</p>

<form action="{S_ADD_EMAIL_CONTACT}" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{L_MY_CONTACT_DETAILS}</legend>
    <dl>
      <dt><label for="xmpp">{L_XMPP}</label></dt>
			<dd><input type="text" id="xmpp" name="xmpp" value="{S_XMPP}" style="width: 100%;" /></dd>
      <dt><label for="home-phone">{L_HOME_PHONE}</label></dt>
			<dd><input type="text" id="home-phone" name="home-phone" value="{S_HOME_PHONE}" style="width: 100%;" /></dd>
      <dt><label for="mobile-phone">{L_MOBILE_PHONE}</label></dt>
			<dd><input type="text" id="mobile-phone" name="mobile-phone" value="{S_MOBILE_PHONE}" style="width: 100%;" /></dd>
      <dt><label for="address">{L_ADDRESS}</label></dt>
			<dd><input type="text" id="address" name="address" value="{S_ADDRESS}" style="width: 100%;" /></dd>
      <dt><label for="suburb">{L_SUBURB}</label></dt>
			<dd><input type="text" id="suburb" name="suburb" value="{S_SUBURB}" style="width: 100%;" /></dd>
      <dt><label for="post-code">{L_POST_CODE}</label></dt>
			<dd><input type="text" id="post-code" name="post-code" value="{S_POST_CODE}" style="width: 100%;" /></dd>
      <dt><label for="website">{L_PERSONAL_WEBSITE}</label></dt>
			<dd><input type="text" id="website" name="website" value="{S_WEBSITE}" style="width: 100%;" /></dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
    </dl>
    <input type="hidden" name="module" value="profile" />
    <input type="hidden" name="sub" value="contact" />
  </fieldset>
</form>

<h2>E-mail Addresses</h2>
<table style="width: 100%">
<tr>
	<th>Address</th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN email_list -->
<!-- IF email_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{email_list.EMAIL}</td>
	<td><a href="{email_list.U_DELETE}">Remove</a></td>
	<td><a href="{email_list.U_PRIVATE}">Privacy</a></td>
</tr>
<!-- END email_list -->
</table>

<h4>Add e-mail address</h4>
<p>You can list multiple e-mail addresses as contact addresses.</p>
<form action="{S_ADD_EMAIL_CONTACT}" method="post" enctype="multipart/form-data">
<fieldset>
		<legend>Add e-mail address</legend>
		<dl>
			<dt><label for="email">E-mail Address</label></dt>
			<dd><input type="text" id="email" name="email" value="{S_EMAIL}" style="width: 100%;" /></dd>
			<dt></dt>
			<dd><input type="submit" name="add" value="Add" /></dd>
		</dl>
		<input type="hidden" name="module" value="profile" />
		<input type="hidden" name="sub" value="contact" />
    <input type="hidden" name="mode" value="add-e-mail" />
</fieldset>
</form>