<h3>{L_MY_CONTACT_DETAILS}</h3>
<p>{L_CONTACT_DETAILS_INFO}</p>

<div id="new-stuff">
	<span id="new-link" class="post-button"><a href="{U_ADD_LINK}">Add Link</a></span>
    <span id="new-email" class="post-button"><a href="{U_ADD_EMAIL}">Add E-mail Address</a></span>
    <span id="new-phone" class="post-button"><a href="{U_ADD_PHONE}">Add Phone Number</a></span>
</div>

<h4>Links</h4>

<table style="width: 100%">
<tr>
	<th>Link</th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN link_list -->
<!-- IF link_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{link_list.S_FAVICON}{link_list.LINK}</td>
	<td><a href="{link_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{link_list.U_DELETE}">{L_DELETE}</a></td>
</tr>
<!-- END link_list -->
</table>

<h4>E-mail Addresses</h4>

<table style="width: 100%">
<tr>
	<th>Address</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN email_list -->
<!-- IF email_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{email_list.EMAIL_ADDRESS}</td>
	<td><a href="{email_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{email_list.U_DELETE}">{L_DELETE}</a></td>
	<td><a href="{email_list.U_EDIT_PERMISSIONS}">Privacy</a></td>
</tr>
<!-- END email_list -->
</table>

<h4>Phone Numbers</h4>

<table style="width: 100%">
<tr>
	<th>Number</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN phone_list -->
<!-- IF phone_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{phone_list.PHONE_NUMBER}</td>
	<td><a href="{phone_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{phone_list.U_DELETE}">{L_DELETE}</a></td>
	<td><a href="{phone_list.U_EDIT_PERMISSIONS}">Privacy</a></td>
</tr>
<!-- END phone_list -->
</table>

<!-- IF ADDRESS -->
<!-- ENDIF -->