<h3>My Information</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>My Information</legend>
		<dl>
			<dt><label for="country">Auto Biography</label></dt>
			<dd>
				<textarea id="auto-biography" name="auto-biography" style="margin: 0px; width: 100%; height: 160px; border: solid 1px #666666;" rows="8" cols="75">{S_AUTO_BIOGRAPHY}</textarea>
				<div style="background-image: url('/images/tab_shadow.png'); background-repeat: repeat-x; position: relative; top: -2px; margin-left: 77px;">
					<div style="background-image: url('/images/bbcode_tab.png'); width: 77px; height: 18px; margin: 0px; padding: 0px; margin-left: -77px;"></div>
				</div>
			</dd>
			<dt><label for="country">Country</label></dt>
			<dd>{S_COUNTRY}</dd>
			<dt><label>Date of Birth</label></dt>
			<dd>
				<label>Year: {S_DOB_YEAR}</label>
				<label>Month: {S_DOB_MONTH}</label>
				<label>Day: {S_DOB_DAY}</label>
			</dd>
			<dt><label>Gender</label></dt>
			<dd>
				<label><input type="radio" name="gender" value="UNDEF"{S_GENDER_UNDEF} /> None Specified</label>
				<label><input type="radio" name="gender" value="MALE"{S_GENDER_MALE} /> Male</label>
				<label><input type="radio" name="gender" value="FEMALE"{S_GENDER_FEMALE} /> Female</label>
			</dd>
      <dt>{L_HEIGHT}:</dt>
      <dd>{S_HEIGHT}</dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="profile" />
		<input type="hidden" name="sub" value="" />
	</fieldset>
</form>