<script type="text/javascript">
<!--
    $(document).ready(function () {
        $('#message').focus().val('is ').outerWidth($('#status-div').width() - $('#status-submit').outerWidth(true));
    });
-->
</script>

	<div id="compose-status">
        <h3>Post Status</h3>
        <div id="status-div">
		<form action="{S_ACCOUNT}" method="post" id="status-form" onsubmit="return SendAction('{USER_DISPLAY_NAME}');">
			<p><input type="text" id="message" name="message" value="is " style="border: 1px solid #082; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; outline: none;"/><input type="submit" id="status-submit" value="Post" style="border-left: none; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" />
            <input type="hidden" name="aclmode" value="simple" />
			<input type="hidden" name="module" value="profile" />
			<input type="hidden" name="sub" value="status" /></p>
            {S_STATUS_PERMISSIONS}
		</form>
        </div>
	</div>