<!-- INCLUDE page_header.html -->

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<div id="content">
	<div id="overview-profile" class="pane">
        <!-- IF USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
<h2>{L_FEED}</h2>
</div>
</div>

<script type="text/javascript">
<!--
    $(document).ready(function () {
        $('#message').focus().val('is ').outerWidth($('#status-div').width() - $('#status-submit').outerWidth(true));
    });
-->
</script>

	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
	<div id="profile">
    <!-- IF OWNER -->
	<div id="compose-status">
        <h3>Post Status</h3>
        <div id="status-div">
		<form action="/account" method="post" id="status-form" onsubmit="return SendStatus('{USER_DISPLAY_NAME}');">
			<p><input type="text" id="message" name="message" value="is " style="border: 1px solid #082; border-right: none; outline: none;"/><input type="submit" id="status-submit" value="Post" style="border-left: none; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" />
            <input type="hidden" name="aclmode" value="simple" />
			<input type="hidden" name="module" value="profile" />
			<input type="hidden" name="sub" value="status" /></p>
            {S_STATUS_PERMISSIONS}
		</form>
        </div>
	</div>
    <!-- ENDIF -->

    <div class="infinite">
        <ul id="today-feeds">
        <li class="today-feed">
<!-- INCLUDE pane.feeditem.html -->
        </li>
        </ul>

	<!-- IF PAGINATION -->
	<p>{PAGINATION}<a href="#" class="infinite-more" onclick="return loadInfiniteContent('{U_NEXT_PAGE}', $(this).parent().siblings('.status-feed'));">{L_LOAD_MORE}</a></p>
	<!-- ENDIF -->
    </div>

    </div>

<!-- INCLUDE page_footer.html -->