<h3>Manage User Groups</h3>
<p>Manage user groups that are in the current Group.</p>
<span id="create-group" class="post-button"><a href="{U_CREATE_USER_GROUP}">Create a New User Group</a></span>
<table style="width: 100%">
<tr>
	<th>Title</th>
	<th>Type</th>
	<th>Members</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN group_list -->
<!-- IF group_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{group_list.DISPLAY_NAME}</td>
	<td>{group_list.GROUP_TYPE}</td>
	<td><a href="{group_list.U_MEMBERLIST}">{group_list.MEMBERS}</a></td>
	<td><a href="{group_list.U_VIEW}">{L_VIEW}</a></td>
	<td><a href="{group_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{group_list.U_DELETE}">{L_DELETE}</a></td>
</tr>
<!-- END group_list -->
</table>