<h3>Manage Sub User Groups</h3>
<p>Manage user groups that are in the current Group. Sub user groups allow you to group members of your community for various roles and permissions.</p>
<span id="create-group" class="post-button"><a href="{U_CREATE_USER_GROUP}">{L_CREATE_NEW_GROUP}</a></span>
<table style="width: 100%">
<tr>
	<th>{L_TITLE}</th>
	<th>{L_TYPE}</th>
	<th>{L_MEMBERS}</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN group_list -->
<!-- IF group_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{group_list.U_MEMBERS}">{group_list.DISPLAY_NAME}</a></td>
	<td>{group_list.GROUP_TYPE}</td>
	<td><a href="{group_list.U_SUBGROUP}">{group_list.MEMBERS}</a></td>
	<td><a href="{group_list.U_SUBGROUP}">{L_VIEW}</a></td>
	<td><a href="{group_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{group_list.U_DELETE}">{L_DELETE}</a></td>
</tr>
<!-- END group_list -->
</table>