<h3>Edit Group</h3>
<!--p>Here you can </p-->

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Edit Group</legend>
		<dl id="form-list">
			<dt class="top"><label for="title">Group Title:</label></dt>
			<dd class="top"><input type="text" name="title" id="title" size="64" maxlength="64" style="width: 350px; "  value="{GROUP_DISPLAY_NAME}" /></dd>
			<dt class="top"><label for="category">Group Category:</label></dt>
			<dd class="top">{S_CATEGORIES}</dd>
			<dt class="top"><label for="description">Group Description:</label></dt>
			<dd class="top">
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 78px; border: solid 1px #666666;" rows="4" cols="75">{GROUP_DESCRIPTION}</textarea>
				<div style="background-image: url('/images/tab_shadow.png'); background-repeat: repeat-x; position: relative; top: -2px; margin-left: 77px;">
					<div style="background-image: url('/images/bbcode_tab.png'); width: 77px; height: 18px; margin: 0px; padding: 0px; margin-left: -77px;"></div>
				</div>
			</dd>
			<dt class="top"><label>Group Type:</label></dt>
			<dd class="top">
				<dl>
					<dt><label><input type="radio" name="type" value="open" {S_OPEN_CHECKED}/> Open Group</label></dt>
					<dd>A group open for anyone to join.</dd>
					<dt><label><input type="radio" name="type" value="closed" {S_CLOSED_CHECKED}/> Closed Group</label></dt>
					<dd>A group with closed registration, but still visible to non-members. A group operator must approve new memberships to the group.</dd>
					<dt><label><input type="radio" name="type" value="private" {S_PRIVATE_CHECKED}/> Private Group</label></dt>
					<dd>A group with closed registration and not visible to non-members. Private groups are not listed in search listings.</dd>
				</dl>
			</dd>
			<dt class="top"><label for="homepage">Group Homepage:</label></dt>
			<dd class="top">{S_HOMEPAGE}</dd>
			<dt class="top"></dt>
			<dd class="top"><input type="submit" value="Save Group" name="save" /></dd>
		</dl>
		<input type="hidden" name="module" value="groups" />
		<input type="hidden" name="sub" value="edit" />
		<input type="hidden" name="id" value="{S_GROUP_ID}" />
	</fieldset>
</form>