<h3>Invite a Friend to a Group</h3>
<p>You can invite your friends to join the group below:</p>
<form action="{S_ACCOUNT}" method="post">
<fieldset>
		<legend>Invite a Friend to a Group</legend>
		<dl>
			<dt><label for="name">Username:</label></dt>
			<dd><input type="text" id="username" name="username" /></dd>
			<dt></dt>
			<dd><input type="submit" name="send" value="Send Invite" /></dd>
		</dl>
		<input type="hidden" name="module" value="groups" />
		<input type="hidden" name="sub" value="invite" />
		<input type="hidden" name="id" value="{S_ID}" />
</fieldset>
</form>