<!-- INCLUDE page_header.html -->
<h2>Groups</h2>
<span id="create-group" class="post-button"><a href="{U_CREATE_GROUP}">Create a New Group</a></span>
<!-- IF CATEGORIES -->
<h3>Categories</h3>
<ul>
	<!-- BEGIN category_list -->
	<li><a href="{category_list.U_GROUP_CATEGORY}">{category_list.TITLE}</a> ({category_list.GROUPS})</li>
	<!-- END category_list -->
</ul>
<!-- ENDIF -->

<!-- IF CATEGORY_TITLE -->
<h3>{CATEGORY_TITLE}</h3>
<!-- IF GROUPS -->
<!-- ELSE -->
<p>There are no groups in this category yet <span id="create-group-c" class="post-button"><a href="{U_CREATE_GROUP_C}">Start One</a></span>!</p>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF GROUPS -->

<!-- IF PAGINATION -->
<p>
  <strong>Go to page:</strong> {PAGINATION}
</p>
<!-- ENDIF -->

<ul>
	<!-- BEGIN groups_list -->
	<li><a href="{groups_list.U_GROUP}">{groups_list.TITLE}</a></li>
	<!-- END groups_list -->
</ul>

<!-- IF PAGINATION -->
<p>
  <strong>Go to page:</strong> {PAGINATION}
</p>
<!-- ENDIF -->

<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->