<!-- INCLUDE page_header.html -->
<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs">
<p>{BREADCRUMBS}</p>
</div>
<!-- ENDIF -->

<div id="content">
<h2>Groups</h2>

<!-- IF LOGGED_IN -->
<!-- IF $_IS_MOBILE -->
    <ul id="actions-menu" class="popup-menu">
        <li><a href="{U_CREATE_GROUP}">{L_CREATE_NEW_GROUP}</a></li>
    </ul>
<!-- ELSE -->
	<div id="new-stuff">
    <span id="create-group" class="post-button"><a href="{U_CREATE_GROUP}">{L_CREATE_NEW_GROUP}</a></span>
	</div>
<!-- ENDIF -->
<!-- ENDIF -->

	<!-- BEGIN category_list -->
  <!-- IF CATEGORY_TITLE -->
  <h3>{CATEGORY_TITLE}</h3>
  <!-- ELSE -->
  <h3><a href="{category_list.U_GROUP_CATEGORY}">{category_list.TITLE}</a> ({category_list.GROUPS})</h3>
  <!-- ENDIF -->

  <ul id="group">
  <!-- BEGIN category_list.group_list -->
    <!-- IF $_IS_MOBILE -->
    <li class="list-item icon">
    </li>
    <!-- ELSE -->
	  <li style="width: 20%; height: auto; position: relative; float: left;">
      <div class="contact-card-container" style="width: auto; margin: 5px;">
        <div class="contact-card" style="width: 100%; position: relative; z-index: auto; box-shadow: none; border: 1px solid #cccccc;">
      <!-- IF category_list.group_list.MOBILE_COVER -->
          <div style="height: 80px; background-image: url('{category_list.group_list.MOBILE_COVER}'); background-position: center; background-color: #333333; background-size: cover; width: auto;">
      <!-- ELSE -->
          <div style="height: 80px; background-color: #333333; background-size: cover; width: auto;">
      <!-- ENDIF -->
      <!-- IF category_list.group_list.ICON -->
		    <img src="{category_list.group_list.ICON}" alt="{category_list.group_list.USER_DISPLAY_NAME}" />
      <!-- ELSE -->
            <img src="/images/no_picture_100.png" alt="{category_list.group_list.USER_DISPLAY_NAME}" />
      <!-- ENDIF -->
          </div>
          <div style="width: auto;">
            <p><strong><a href="{category_list.group_list.U_PROFILE}">{category_list.group_list.GROUP_DISPLAY_NAME}</a></strong></p>
      <!-- IF LOGGED_IN -->
        <!-- IF friend_list.U_JOIN -->
            <p><span class="post-button"><a href="{category_list.group_list.U_JOIN}">{L_JOIN}</a></span></p>
        <!-- ENDIF -->
      <!-- ENDIF -->
            <p><em>{category_list.group_list.MEMBERS} {L__MEMBERS}</em></p>
      <!-- IF category_list.group_list.DESCRIPTION -->
            <p><em>{category_list.group_list.DESCRIPTION}</em></p>
      <!-- ENDIF -->
          </div>
        </div>
      </div>
      </li>
    <!-- ENDIF -->
  	<!-- END category_list.group_list -->
  </ul>
	<!-- END category_list -->
	<div class="cheat-clear-left"></div>
	<!-- IF PAGINATION -->
	<p><strong>Go to page:</strong> {PAGINATION}</p>
	<!-- ENDIF -->
</div>
<!-- INCLUDE page_footer.html -->