	<div id="today-groups" style="border: solid 1px #EEEEEE; margin-bottom: 5px;">
		<h4>{L_GROUPS}</h4>
	<!-- IF groups_list -->
	<ul id="small-groups">
	<!-- BEGIN groups_list -->
		<li>
			<a href="{groups_list.U_GROUP}">
				<!-- IF groups_list.ICON -->
				<img src="{groups_list.ICON}" data-at2x="{groups_list.TILE}" alt="{groups_list.TITLE}" title="{groups_list.TITLE}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{groups_list.TITLE}" title="{groups_list.TITLE}" />
				<!-- ENDIF -->
                </a>
                <div class="small-group-info"><a href="{groups_list.U_GROUP}">{groups_list.TITLE}</a><br />{groups_list.MEMBERS} {L_MEMBERS}</div>
			
		</li>
	<!-- END groups_list -->
	</ul>
	<div class="cheat-clear-left"></div>
    <!-- ELSE -->
    <p>You do not belong to any groups, <a href="/groups">Join a group</a>.</p>
    <!-- ENDIF -->
	</div>