<!-- INCLUDE page_header.html -->

<h2>{MEMBERS_TITLE}</h2>

<!-- IF IS_WAITING_APPROVAL -->
<h3>Pending Memberships</h3>
<table style="width: 100%">
<tr>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN approval_list -->
<!-- IF approval_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{approval_list.U_PROFILE}">{approval_list.USER_DISPLAY_NAME}</a></td>
	<td><a href="{approval_list.U_APPROVE}">Approve Membership</a></td>
</tr>
<!-- END approval_list -->
</table>
<!-- ENDIF -->

	<p>{BREADCRUMBS}</p>
<div id="member-filter-panel">
  <p>
    <a href="{U_FILTER_ALL}">All</a>
    <a href="{U_FILTER_BEGINS_NUMS}">#</a>
    <a href="{U_FILTER_BEGINS_A}">A</a>
    <a href="{U_FILTER_BEGINS_A}">B</a>
    <a href="{U_FILTER_BEGINS_A}">C</a>
    <a href="{U_FILTER_BEGINS_A}">D</a>
    <a href="{U_FILTER_BEGINS_A}">E</a>
    <a href="{U_FILTER_BEGINS_A}">F</a>
    <a href="{U_FILTER_BEGINS_A}">G</a>
    <a href="{U_FILTER_BEGINS_A}">H</a>
    <a href="{U_FILTER_BEGINS_A}">I</a>
    <a href="{U_FILTER_BEGINS_A}">J</a>
    <a href="{U_FILTER_BEGINS_A}">K</a>
    <a href="{U_FILTER_BEGINS_A}">L</a>
    <a href="{U_FILTER_BEGINS_A}">N</a>
    <a href="{U_FILTER_BEGINS_A}">M</a>
    <a href="{U_FILTER_BEGINS_A}">O</a>
    <a href="{U_FILTER_BEGINS_A}">P</a>
    <a href="{U_FILTER_BEGINS_A}">Q</a>
    <a href="{U_FILTER_BEGINS_A}">R</a>
    <a href="{U_FILTER_BEGINS_A}">S</a>
    <a href="{U_FILTER_BEGINS_A}">T</a>
    <a href="{U_FILTER_BEGINS_A}">U</a>
    <a href="{U_FILTER_BEGINS_A}">V</a>
    <a href="{U_FILTER_BEGINS_A}">W</a>
    <a href="{U_FILTER_BEGINS_A}">X</a>
    <a href="{U_FILTER_BEGINS_A}">Y</a>
    <a href="{U_FILTER_BEGINS_A}">Z</a>
  </p>
</div>
	<!-- IF PAGINATION -->
	<p><strong>Go to page:</strong> {PAGINATION}</p>
	<!-- ENDIF -->
	
<!-- IF MEMBERS -->
<ul id="group-members">
<!-- BEGIN member_list -->
	<li class="member">
		<div class="frame">
			<div class="avatar">
				<a href="{member_list.U_PROFILE}">
				<!-- IF member_list.ICON -->
				<img src="{member_list.ICON}" alt="{member_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{member_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a>
			</div>
			<!-- IF GROUP_OPERATOR -->
			<ul class="actions">
				<!-- IF member_list.U_MAKE_OPERATOR -->
				<li><a href="{member_list.U_MAKE_OPERATOR}">Make Operator</a></li>
				<!-- ENDIF -->
				<li><a href="{member_list.U_MAKE_OFFICER}">Make Officer</a></li>
				<!-- IF member_list.U_BAN -->
				<li><a href="{member_list.U_BAN}">Ban From Group</a></li>
				<!-- ENDIF -->
			</ul>
			<!-- ENDIF -->
			<ul class="details">
				<li><a href="{member_list.U_PROFILE}">{member_list.USER_DISPLAY_NAME}</a></li>
				<!-- IF member_list.USER_AGE -->
				<li>{member_list.USER_AGE}</li>
				<!-- ENDIF -->
				<!-- IF member_list.USER_COUNTRY -->
				<li>{member_list.USER_COUNTRY}</li>
				<!-- ENDIF -->
				<li>Joined group {member_list.JOIN_DATE}</li>
				<li><em>{member_list.USER_CAPTION}</em></li>
			</ul>
		</div>
	</li>
<!-- END member_list -->
</ul>
<!-- ENDIF -->
	<div class="cheat-clear-left"></div>
	<!-- IF PAGINATION -->
	<p><strong>Go to page:</strong> {PAGINATION}</p>
	<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->