<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mysql-host" value="" />
    <add key="mysql-user" value="" />
    <add key="mysql-password" value="" />
    <add key="mysql-database" value="" />
    <add key="storage-path" value="./storage" />
    <add key="boxsocial-title" value="" />
    <add key="email" value="" />
    <add key="error-email" value="" />
    <add key="smtp-server" value="" />
  </appSettings>
  <system.web>
    <compilation debug="false">
    </compilation>
    <customErrors mode="Off" defaultRedirect="404.aspx">
      <error statusCode="403" redirect="403.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    <trace enabled="false" localOnly="false"/>

    <authentication mode="Forms">
      <forms slidingExpiration="true" name="zinzam" />
    </authentication>

  </system.web>
</configuration>
