<h3>Write Page</h3>

<script type="text/javascript">
    $(function () {
        $.sceditor.plugins.bbcode.bbcode.set(
            'h1',
            {
                tags: {
                    h2: null
                },
                isInline: false,
                format: '[h1]{0}[/h1]',
                html: '<h2>{0}</h2>'
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'h2',
            {
                tags: {
                    h3: null
                },
                isInline: false,
                format: '[h2]{0}[/h2]',
                html: '<h3>{0}</h3>'
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'h3',
            {
                tags: {
                    h4: null
                },
                isInline: false,
                format: '[h3]{0}[/h3]',
                html: '<h4>{0}</h4>'
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'inline',
            {
                tags: {
                    img: {
                        src: null,
                        data: ['inline']
                    }
                },
                allowedChildren: ['#'],
                format: function (element, content) {
                    var $el = $(element);
                    var src = $el.attr('data-src');
                    var width = $el.attr('width');
                    width = (!(typeof width === 'undefined')) ? ' width=' + width : '';
                    var height = $el.attr('height');
                    height = (!(typeof height === 'undefined')) ? ' height=' + height : '';

                    return '[inline' + width + height + ']' + src + '[/inline]'
                },
                html: function (token, attrs, content) {
                    var undef, width, height, match,
                        attribs = '';

                    // handle [inline width=340 height=240]url[/img]
                    width = attrs.width;
                    height = attrs.height;

                    if (width !== undef) {
                        attribs += ' width="' + $.sceditor.escapeEntities(width, true) + '"';
                    }

                    if (height !== undef) {
                        attribs += ' height="' + $.sceditor.escapeEntities(height, true) + '"';
                    }

                    return '<img' + attribs +
                        ' data="inline" data-src="' + $.sceditor.escapeUriScheme(content) + '" style="max-width: 100%;" src="' + $.sceditor.escapeUriScheme(ownerStub + 'images/_display/' + content) + '" />';
                }
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'thumb',
            {
                tags: {
                    img: {
                        src: null,
                        data: ['thumb']
                    }
                },
                allowedChildren: ['#'],
                format: function (element, content) {
                    var $el = $(element);
                    var src = $el.attr('data-src');
                    var width = $el.attr('width');
                    width = (!(typeof width === 'undefined')) ? ' width=' + width : '';
                    var height = $el.attr('height');
                    height = (!(typeof height === 'undefined')) ? ' height=' + height : '';

                    return '[thumb' + width + height + ']' + src + '[/thumb]'
                },
                html: function (token, attrs, content) {
                    var undef, width, height, match,
                        attribs = '';

                    // handle [inline width=340 height=240]url[/img]
                    width = attrs.width;
                    height = attrs.height;

                    if (width !== undef) {
                        attribs += ' width="' + $.sceditor.escapeEntities(width, true) + '"';
                    }

                    if (height !== undef) {
                        attribs += ' height="' + $.sceditor.escapeEntities(height, true) + '"';
                    }

                    return '<img' + attribs +
                        ' data="thumb" data-src="' + $.sceditor.escapeUriScheme(content) + '" style="max-width: 100px; max-height: 100px;" src="' + $.sceditor.escapeUriScheme(ownerStub + 'images/_tile/' + content) + '" />';
                }
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'float',
            {
                tags: {
                    div: {
                        data: ['float']
                    }
                },
                isInline: false,
                format: function (element, content) {
                    var $el = $(element);
                    var width = $el[0].style.width;
                    width = (!(typeof width === 'undefined')) ? ' width=' + width : '';
                    var height = $el[0].style.height;
                    height = (!(typeof height === 'undefined')) ? ' height=' + height : '';

                    return '[float=' + $el.css('float') + width + height + ']' + content + '[/float]';
                },
                html: function (token, attrs, content) {
                    var styles = '';

                    switch (attrs.defaultattr) {
                        case "left":
                            styles = "float: left; margin-right: 10px; max-width: 100%;";
                            break;
                        case "right":
                            styles = "float: right; margin-left: 10px; max-width: 100%;";
                            break;
                    }

                    if (!(typeof attrs.width === 'undefined')) {
                        styles += "; width: " + attrs.width;
                    }
                    if (!(typeof attrs.height === 'undefined')) {
                        styles += "; height: " + attrs.height;
                    }

                    return '<div data="float" style="' + styles + '">' + content + '</div>';
                }
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'code',
            {
                tags: {
                    div: {
                        data: ['code']
                    }
                },
                isInline: false,
                allowedChildren: ['#', '#newline'],
                format: function (element, content) {
                    var $el = $(element);
                    var code = $el.find('code');
                    var captionEl = $el.find('strong');
                    var caption = '';
                    if (!(typeof captionEl === 'undefined')) {
                        caption = ' caption="' + captionEl.text() + '"';
                    }
                    var colour = code.css('color');
                    colour = (!(typeof colour === 'undefined')) ? ' color=' + $.sceditor.plugins.bbcode.normaliseColour(colour) : '';

                    return '[code' + colour + caption + ']' + this.elementToBbcode(code) + '[/code]';
                },
                html: function (token, attrs, content) {
                    if (typeof attrs.caption === 'undefined') {
                        if (!(typeof attrs.color === 'undefined')) {
                            return '<div data="code"><code style="color: ' + $.sceditor.escapeEntities($.sceditor.plugins.bbcode.normaliseColour(attrs.color)) + '">' + content + '</code></div>';
                        } else {
                            return '<div data="code"><code>' + content + '</code></div>';
                        }
                    } else {
                        if (!(typeof attrs.color === 'undefined')) {
                            return '<div data="code"><strong>' + attrs.caption + '</strong><br /><code style="color: ' + $.sceditor.escapeEntities($.sceditor.plugins.bbcode.normaliseColour(attrs.color)) + '">' + content + '</code></div>';
                        } else {
                            return '<div data="code"><strong>' + attrs.caption + '</strong><br /><code>' + content + '</code></div>';
                        }
                    }
                }
            });

        $.sceditor.plugins.bbcode.bbcode.set(
            'youtube',
            {
                allowsEmpty: true,
                tags: {
                    iframe: {
                        'data-youtube-id': null
                    }
                },
                format: function (element, content) {
                    element = element.attr('data-youtube-id');

                    return element ? '[youtube]' + element + '[/youtube]' : content;
                },
                html: '<iframe class="youtube-player" width="560" height="340" frameborder="0" ' +
                    'src="https://www.youtube.com/embed/{0}" ' +
                    'data-youtube-id="{0}" allowfullscreen></iframe>'
            });

        $("#post").sceditor({
            plugins: "bbcode",
            toolbar: "bold,italic,underline|bulletlist,orderedlist|quote|link,unlink,image|source"
        });
    });
</script>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Write Page</legend>
		<dl>
			<dt><label for="title">{L_PAGE_TITLE}</label></dt>
			<dd><input type="text" id="title" name="title" onchange="UpdateSlug();" value="{S_TITLE}" style="width: 100%;" /></dd>
			<dt><label for="slug">{L_PAGE_SLUG}</label></dt>
			<dd><label>{L_PARENT} {S_PAGE_PARENT}</label> <label>{L_SLUG} <input type="text" id="slug" name="slug" value="{S_SLUG}" /></label></dd>
			<dt><label for="post">{L_PAGE_BODY}</label></dt>
			<dd>
				<textarea id="post" name="post" style="margin: 0px; width: 100%; height: 350px;" cols="70" rows="20">{S_PAGE_TEXT}</textarea>
			</dd>
			<dt><label>{L_PAGE_CLASSIFICATION}</label></dt>
			<dd>{S_PAGE_CLASSIFICATION}</dd>
			<dt><label for="license">{L_PAGE_LICENSE}</label></dt>
			<dd>{S_PAGE_LICENSE} <a href="">Learn More...</a></dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="{L_SAVE_DRAFT}" />
				<input type="submit" name="publish" value="{L_PUBLISH}" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="pages" />
		<input type="hidden" name="sub" value="write" />
		<!-- IF S_ID -->
		<input type="hidden" name="id" value="{S_ID}" />
		<!-- ENDIF -->
	</fieldset>
</form>