<h3>Manage Pages</h3>

<!-- IF $_IS_MOBILE -->
<p class="action-buttons"><span class="actions-menu"><a onclick="return showPopupMenu(event, 'actions-menu');"><span></span></a></span></p>
<ul id="actions-menu" class="popup-menu">
    <li><a href="{U_NEW_PAGE}">Write New Page</a></li>
</ul>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
<ul class="list">
<!-- BEGIN page_list -->
<li class="list-item">
    <p>
        <a href="{page_list.U_VIEW}">{page_list.TITLE}</a>
    </p>
    <span class="action delete"><a href="{page_list.U_DELETE}">{L_DELETE}</a></span>
    <span class="action edit"><a href="{page_list.U_EDIT}">{L_EDIT}</a></span>
    <span class="action permissions"><a href="{page_list.U_EDIT_PERMISSIONS}">{L_PRIVACY}</a></span>
</li>
<!-- END page_list -->
</ul>
<!-- ENDIF -->
<!-- IF NOT $_IS_MOBILE -->
<table style="width: 100%">
<tr>
	<th>Page Title</th>
	<th>Last Updated</th>
    <th>{L_VIEWS}</th>
	<th></th>
	<th></th>
    <th></th>
	<th></th>
</tr>
<!-- BEGIN page_list -->
<!-- IF page_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{page_list.TITLE}</td>
	<td>{page_list.UPDATED}</td>
    <td><a href="{page_list.U_STATISTICS}">{page_list.VIEWS}</a></td>
	<td><a href="{page_list.U_VIEW}">View</a></td>
	<td><a href="{page_list.U_EDIT}">Edit</a></td>
  <td><a href="{page_list.U_PERMS}"><img src="/images/permissions.png" alt="{L_EDIT_PERMISSIONS}" title="{L_EDIT_PERMISSIONS}"/></a></td>
	<td><a href="{page_list.U_DELETE}"><img src="/images/delete.png" alt="{L_DELETE}" title="{L_DELETE}"/></a></td>
</tr>
<!-- END page_list -->
</table>
<!-- ENDIF -->
