<div class="new-stuff">
  <!-- IF U_REPLY -->
  <span class="new-topic post-button"><a href="{U_REPLY}">{L_REPLY}</a></span>
  <!-- ENDIF -->
  <!-- IF U_FORWARD -->
	<span class="new-reply post-button"><a href="{U_FORWARD}">{L_FORWARD}</a></span>
  <!-- ENDIF -->
</div>

<script type="text/javascript">
<!--
    $(document).ready(function () {
        $('#posts').css("overflow-y", "scroll").css("float", "none").css("height", $(window).height() - $('#posts').offset().top - $('#foot').outerHeight(true) - $('.mail-reply-form').outerHeight(true) - 10).scrollTop($('#posts').prop("scrollHeight"));


    });
-->
</script>

<ul id="posts">
<!-- INCLUDE pane_message -->
</ul>

<form action="{U_ACCOUNT}" method="post" class="mail-reply-form">
<fieldset>
	<legend style="display: none;">{L_REPLY}</legend>
    <ul class="comment-list">
    <li>
        <h4 class="owner">{L_REPLY}</h4>
		<!-- IF USER_ICON -->
		<div class="comment-disp-pic">
			<img src="{USER_ICON}" data-at2x="{USER_TILE}" alt="{USER_DISPLAY_NAME}" />
		</div>
		<!-- ENDIF -->
        <div class="comment-text">
	        <textarea id="message-text" class="comment-textarea" name="message" style="width: 100%; height: 56px;" rows="3" cols="75" onfocus="$(this).css('height', '78px'); $(this).siblings('.comment-buttons').show(); /*$(this).siblings('.comment-buttons')[0].scrollIntoView();*/"></textarea>
	        <p style="text-align: right; display: none;" class="comment-buttons"><input type="submit" id="save" name="save" value="Reply" id="comment-submit-{ITEM_ID}" class="comment-submit" onclick="return SendMessage({S_ID}, $(this).parent().siblings('.comment-textarea').val());" />
            <input type="reset" value="Cancel" onclick="$(this).parent().hide(); $(this).parent().siblings('.comment-textarea').css('height', '56px');" /></p>
		<input type="hidden" name="module" value="mail" />
		<input type="hidden" name="sub" value="compose" />
        <input type="hidden" name="mode" value="reply" />
		<input type="hidden" name="id" value="{S_ID}" />
        </div>
    </li>
    </ul>
</fieldset>
</form>