<h3>Compose Message</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Compose Message</legend>
		<dl>
            <dt><label for="to">To</label></dt>
			<dd><input type="text" id="to" name="to" value="{S_TO}" style="width: 100%;" /></dd>
			<dt><label for="subject">Subject</label></dt>
			<dd><input type="text" id="subject" name="subject" value="{S_SUBJECT}" style="width: 100%;" /></dd>
			<dt><label for="post">Message</label></dt>
			<dd>
				<textarea id="post" name="post" style="margin: 0px; width: 100%; height: 250px;" cols="70" rows="15">{S_MESSAGE}</textarea>
			</dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Save (draft)" />
				<input type="submit" name="send" value="Send" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="pages" />
		<input type="hidden" name="sub" value="write" />
		<!-- IF S_ID -->
		<input type="hidden" name="id" value="{S_ID}" />
		<!-- ENDIF -->
	</fieldset>
</form>