<p></p>

<!-- IF mail_item -->
<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>

<!-- IF $_IS_MOBILE -->
<ul class="list">
<!-- BEGIN mail_item -->
<li class="list-item icon mail">
    <a href="{mail_item.URI}">
        <span class="count">{mail_item.DATE}</span>
        <!-- IF mail_item.IS_NORMAL_READ -->
        <img src="/images/posticon_read_med.png" />
        <!-- ENDIF -->
        <!-- IF mail_item.IS_NORMAL_UNREAD -->
        <img src="/images/posticon_unread_med.png" />
        <!-- ENDIF -->
        <p>{mail_item.SUBJECT}</p>
        <p><em>
          <!-- BEGIN mail_item.recipients -->
          {mail_item.recipients.DISPLAY_NAME}
          <!-- END mail_item.recipients -->
        </em></p>
    </a>
    <span class="action delete"><a href="{mail_item.U_DELETE}">{L_DELETE}</a></span>
</li>
<!-- END mail_item -->
</ul>
<!-- ENDIF -->
<!-- IF NOT $_IS_MOBILE -->
			<ul id="inbox-messages" class="pane">
    <li id="inbox-head">
					<dl class="title-row">
						<dt><div>&nbsp;</div></dt>
						<dd><div>{L_DATE}</div></dd>
      </dl>
    </li>
<!-- BEGIN mail_item -->
    <li>
					<dl class="icon">
        <dt>
    <!-- IF mail_item.IS_NORMAL_READ -->
    <div style="min-height: 20px; background-image: url('/images/posticon_read_med.png');">
    <!-- ENDIF -->
    <!-- IF mail_item.IS_NORMAL_UNREAD -->
    <div style="min-height: 20px; background-image: url('/images/posticon_unread_med.png');">
    <!-- ENDIF -->
          <a href="{mail_item.URI}">
          <!-- IF mail_item.SUBJECT -->
          {mail_item.SUBJECT}<br />
          <!-- ENDIF -->
          <!-- BEGIN mail_item.recipients -->
          {mail_item.recipients.DISPLAY_NAME}
          <!-- END mail_item.recipients -->
          </a><br />
          </div>
        </dt>
        <dd><div>{mail_item.LAST_DATE}</div></dd>
      </dl>
    </li>
<!-- END mail_item -->
</ul>
<!-- ENDIF -->
<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>
<!-- ELSE -->
    <p>{L_NO_MAIL_MESSAGES}</p>
<!-- ENDIF -->