<h3>{COMPOSE_MESSAGE}</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>{L_COMPOSE_MESSAGE}</legend>
		<dl>
            <dt><label for="to">To</label></dt>
			<dd>{S_TO}</dd>
			<dt><label for="subject">Subject</label></dt>
			<dd>{S_SUBJECT}</dd>
			<dt><label for="post">Message</label></dt>
			<dd>
				{S_MESSAGE}
			</dd>
			<dt></dt>
			<dd>
                <!-- IF SAVE_DRAFT -->
				<input type="submit" name="save" value="{L_SAVE_DRAFT}" />
                <!-- ENDIF -->
				<input type="submit" name="send" value="{L_SEND}" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="mail" />
		<input type="hidden" name="sub" value="compose" />
		<!-- IF S_ID -->
		<input type="hidden" name="id" value="{S_ID}" />
		<!-- ENDIF -->
	</fieldset>
</form>