<!-- INCLUDE page_header.html -->

<div id="content">
<h2>{ACCOUNT_TITLE}
<!-- IF PRIMITIVE_TITLE -->
:: <a href="{U_PRIMITIVE}">{PRIMITIVE_TITLE}</a>
<!-- ENDIF -->
</h2>
<!-- IF ERROR -->
<p class="error"><span class="icon"></span>{ERROR}</p>
<!-- ENDIF -->
<!-- IF INFO -->
<p class="information"><span class="icon"></span>{INFO}</p>
<!-- ENDIF -->
<!-- IF NO_PERMISSIONS -->
<p class="no-permissions">{NO_PERMISSIONS}</p>
<!-- ENDIF -->
<!-- IF NO_CUSTOM_STYLE -->
<p class="no-permissions">{NO_CUSTOM_STYLE}</p>
<!-- ENDIF -->

</div>
<div class="account-pane">

{MODULE_CONTENT}

</div>