<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-au" dir="ltr">
<head>
	<title>{TITLE}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" href="/favicon.ico" />
	<link href="/styles/boxsocial.mobile.css" rel="Stylesheet" media="screen, projection" type="text/css"/>
    <link href="/styles/boxsocial.min.css" rel="Stylesheet" media="screen, projection" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile.structure-1.3.0.min.css" />
	<!-- BEGIN style_sheet_list -->
	<link href="{style_sheet_list.URI}" rel="Stylesheet" media="screen, projection" type="text/css"/>
	<!-- END style_sheet_list -->
	<!-- IF CANONICAL_URI -->
	<link rel="canonical" href="{CANONICAL_URI}" />
	<!-- ENDIF -->
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- IF REDIRECT_URI -->
	<meta http-equiv="refresh" content="3;url={REDIRECT_URI}" />
	<!-- ENDIF -->
	<script type="text/javascript">
	<!--
		var sid = '{SID}';
	-->
	</script>
	<script type="text/javascript" src="/scripts/jquery-1.8.2.min.js"></script>
	<!-- BEGIN javascript_list -->
	<script type="text/javascript" src="{javascript_list.URI}"></script>
	<!-- END javascript_list -->
    <script type="text/javascript" src="/scripts/ajax.js"></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            $.mobile.defaultTransition = 'none';
            //$.mobile.ignoreContentEnabled = true;
        });
    </script>
    <script type="text/javascript" src="/scripts/jquery.mobile-1.3.0.min.js"></script>
</head>
<body>
<div data-role="page" id="main-page" data-theme="a">
	<div data-theme="a" data-role="header" data-position="fixed">
			<h1 id="page-title"><a data-rel="panel" data-inline="true" href="#boxsocial-menu"><span>{HEADING}</span></a></h1>
			<h2 id="sub-title">A Global Community</h2>
		<div id="mobile-nav" data-role="navbar" data-iconpos="top">
			<ul>
				<li>
					<a href="{U_HOME}" data-theme="" data-icon="home">Home</a>
				</li>
                <!-- IF PAGE_LIST -->
				<li>
					<a href="#pages-menu" data-rel="panel" data-role="button" data-inline="true" data-theme="" data-icon="">Pages</a>
				</li>
                <!-- ENDIF -->
                <!-- IF TAB_LIST -->
				<li>
					<a href="#pages-menu" data-rel="panel" data-role="button" data-inline="true" data-theme="" data-icon="">Pages</a>
				</li>
                <!-- ENDIF -->
                <!-- IF LOGGED_IN -->
				<li>
					<a href="{U_USER_PROFILE}" data-theme="" data-icon="">Me</a>
				</li>
				<li>
					<a href="#post-menu" data-rel="popup" data-role="button" data-inline="true" data-theme="" data-icon="">Post</a>
				</li>
                <!-- ENDIF -->
				<li>
					<a href="#search-menu" data-rel="popup" data-role="button" data-inline="true" data-theme="" data-icon="search">Search</a>
				</li>
			</ul>
		</div>
	</div>
    <div data-role="panel" id="boxsocial-menu" data-display="push" data-theme="b" style="position:fixed">
        <ul data-role="listview" data-inset="true" data-theme="b">
<!-- IF LOGGED_IN -->
            <li><a href="{U_ACCOUNT}">My Account</a>
            <!-- IF module_list -->
                <ul>
                    <!-- BEGIN module_list -->
                    <li><a href="{module_list.URI}"><span>{module_list.NAME}</span></a></li>
                    <!-- END module_list -->
                </ul>
            <!-- ENDIF -->
            </li>
            <li><a href="{U_SIGNOUT}">Sign out</a></li>
<!-- ELSE -->
            <li><a href="{U_REGISTER}">Register</a></li>
            <li><a href="{U_SIGNIN}">Sign in</a></li>
<!-- ENDIF -->
            <li><a href="{U_HELP}">Help</a></li>
        </ul>

        <ul data-role="listview" data-inset="true" data-theme="b">
            <li>{SITE_TITLE}
                <ul>
                        <li><a href="{U_ABOUT}">About</a></li>
						<li><a href="{U_PRIVACY}">Privacy</a></li>
						<li><a href="{U_TOS}">Terms of Service</a></li>
						<li><a href="{U_SITEMAP}">Site Map</a></li>
                </ul></li>
            <li><a href="{U_FOOT_GROUPS}">Groups</a></li>
            <li><a href="{U_FOOT_NETWORKS}">Networks</a></li>
            <li>Music
                <ul>
						<li><a href="{U_FOOT_MUSIC}">Music Home</a></li>

						<li><a href="{U_FOOT_MUSIC_DIRECTORY}">Artists</a></li>
						<li><a href="{U_FOOT_MUSIC_CHART}">Charts</a></li>
                </ul></li>
            <li>Help
                <ul>
						<li><a href="{U_SAFETY}">Safety</a></li>
						<li><a href="{U_HELP}">Help</a></li>
                </ul></li>
        </ul>
        <p><a href="{U_COPYRIGHT}">Copyright</a> &copy; {YEAR} {SITE_TITLE}, Powered By <a href="http://boxsocial.net/">Box Social</a></p>
    </div>
    <!-- IF PAGE_LIST -->
    <div data-role="panel" id="pages-menu" data-display="overlay" data-position="right" data-theme="b">
        <ul data-role="listview" data-inset="true" data-theme="b">
            <li data-role="divider" data-theme="">Pages</li>
            {PAGE_LIST}
        </ul>
    </div>
    <!-- ENDIF -->
    <div data-role="popup" data-position-to="window" id="search-menu" data-theme="a">
        <div style="padding:10px 20px;">
            <h2>Search</h2>
			<form action="{S_SEARCH}" method="get">
				<fieldset>
					<input type="text" id="search-text" name="q" value="" maxlength="127" />
					<input type="submit" value="Search" />
				</fieldset>
			</form>
        </div>
    </div>
        <!-- IF LOGGED_IN -->
    <div data-role="popup" data-position-to="window" id="post-menu" data-theme="a" style="position:fixed">
        <div style="padding:10px 20px;">
            <h2>Post status</h2>
			    <form action="/account" method="post" class="status-form" onsubmit="return SendStatus();" onblur="$('#post-status-div').dialog().close();">
			        <p><input type="text" id="message" name="message" style="border: 1px solid #082; border-right: none; outline: none;"/><input type="submit" id="status-submit" value="Post" style="border-left: none; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" />
			        <input type="hidden" name="module" value="profile" />
			        <input type="hidden" name="sub" value="status" /></p>
			    </form>
        </div>
    </div>
        <!-- ENDIF -->
	    <!-- BEGIN head_hook -->
{head_hook.BODY}
		<!-- END head_hook -->
	<div data-role="content" data-theme="a">
		<div id="body" data-enhance="false">

