<!-- INCLUDE page_header.html -->
<div id="content">
	<h3 class="today-date">{DATE_STRING}</h3>
    <div>
    <!-- IF post_panel -->
    <!-- BEGIN post_panel -->
{post_panel.BODY}
    <!-- END post_panel -->
    <!-- ENDIF -->
    </div>
	<!-- IF actions_list -->
	<div id="today-actions">
		<!-- BEGIN actions_list -->
		<span class="post-button"><a href="{actions_list.URI}">{actions_list.TITLE}</a></span>
		<!-- END actions_list -->
	</div>
	<!-- ENDIF -->
	<!-- BEGIN app_panel -->
{app_panel.BODY}
	<!-- END app_panel -->
</div>
<!-- INCLUDE page_footer.html -->