<!-- INCLUDE page_header.html -->

	<div id="overview-profile" class="pane">
		<div class="img-wb img-fl">
            <!-- IF $_IS_MOBILE AND USER_TINY -->
            <img src="{USER_TINY}" data-at2x="{USER_THUMB}" alt="{USER_DISPLAY_NAME} Display Picture" />
            <!-- ELSE -->
			<div class="no-disp-pic">{L_NO_PICTURE}</div>
			<!-- ENDIF -->
		</div>
        <!-- IF $_IS_MOBILE AND USER_COVER_PHOTO -->
        <div class="info" style="height: 90px; background-image: url('{USER_MOBILE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
			<h2><a href="{U_PROFILE}">{USER_DISPLAY_NAME}</a></h2>
            <!-- IF USER_AUTOBIOGRAPHY -->
            <p id="status-message">{USER_AUTOBIOGRAPHY}</p>
            <!-- ENDIF -->
		<div class="cheat-clear"></div>
	</div>
    </div>
<div id="content">
<p><span class="actions-menu"><a onclick="return showPopupMenu(event, 'actions-menu');"><span></span></a></span>
<!-- IF NOT SELF -->
<!-- IF LOGGED_IN -->
<!-- IF SUBSCRIBED -->
<span id="subscribe" class="subscribe-{USER_TYPE_ID}-{USER_ID} subscribe-button subscribed"><a href="{U_UNSUBSCRIBE}" onclick="return SubscribeItem({USER_ID}, {USER_TYPE_ID}, $(this).parent().hasClass('subscribed'));">{L_UNSUBSCRIBE}</a></span><span class="subscribers">{SUBSCRIBERS}</span>
<!-- ELSE -->
<span id="subscribe" class="subscribe-{USER_TYPE_ID}-{USER_ID} subscribe-button"><a href="{U_SUBSCRIBE}" onclick="return SubscribeItem({USER_ID}, {USER_TYPE_ID}, $(this).parent().hasClass('subscribed'));">{L_SUBSCRIBE}</a></span><span class="subscribers">{SUBSCRIBERS}</span>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->
</p>
<ul id="actions-menu" class="popup-menu">
				<!-- IF LOGGED_IN -->
                <!-- IF NOT OWNER -->
                <!-- IF U_SEND_MESSAGE -->
    <li><a href="{U_SEND_MESSAGE}">{L_SEND_MESSAGE}</a></li>
                <!-- ENDIF -->
    <li><a href="{U_ADD_FRIEND}">{L_ADD_TO_FRIENDS}</a></li>
                <!-- ENDIF -->
				<!-- ELSE -->
				<!-- ENDIF -->
                <!-- BEGIN email_list -->
    <li><a href="{email_list.U_MAILTO}">{email_list.EMAIL}</a></li>
                <!-- END email_list -->
                <!-- BEGIN phone_list -->
    <li><a href="tel://{phone_list.PHONE_NUMBER}">{phone_list.PHONE_NUMBER}</a></li>
                <!-- END phone_list -->
</ul>
	<div id="pane-profile">
		<!-- IF HAS_PROFILE_INFO -->
		<div id="pane-profile-info" class="pane">
			<h3>{L_ABOUT}</h3>
			<dl>
		    <dt>{L_JOINED}:</dt>
		    <dd>{USER_JOINED}</dd>
		    <dt>{L_LAST_SEEN}:</dt>
		    <dd>{USER_LAST_SEEN}</dd>
		    <dt>{L_PROFILE_VIEWS}:</dt>
		    <dd>{USER_PROFILE_VIEWS}</dd>
		    <dt>{L_SUBSCRIPTIONS}:</dt>
		    <dd>{USER_SUBSCRIPTIONS}</dd>
			<!-- IF USER_AGE -->
			<dt>{L_AGE}:</dt>
			<dd>{USER_AGE}</dd>
			<!-- ENDIF -->
			<!-- IF USER_GENDER -->
			<dt>{L_GENDER}:</dt>
			<dd>{USER_GENDER}</dd>
			<!-- ENDIF -->
			<!-- IF USER_COUNTRY -->
			<dt>{L_COUNTRY}:</dt>
			<dd>{USER_COUNTRY}</dd>
			<!-- ENDIF -->
			<!-- IF USER_MARITIAL_STATUS -->
			<dt>{L_MARITIAL_STATUS}:</dt>
			<dd>{USER_MARITIAL_STATUS}</dd>
			<!-- ENDIF -->
			<!-- IF USER_SEXUALITY -->
			<dt>{L_SEXUALITY}:</dt>
			<dd>{USER_SEXUALITY}</dd>
			<!-- ENDIF -->
			<!-- IF USER_RELIGION -->
			<dt>{L_RELIGION}:</dt>
			<dd>{USER_RELIGION}</dd>
			<!-- ENDIF -->
			</dl>
		</div>
		<!-- ENDIF -->
		<!-- BEGIN app_panel_side -->
{app_panel_side.BODY}
		<!-- END app_panel_side -->
	</div>
	<div id="profile">
    <!-- IF SHOW_FRIENDS -->
	<div id="profile-friends-pane" class="pane">
	<h3>{USER_DISPLAY_NAME_OWNERSHIP} {L_FRIENDS} ({FRIENDS})</h3>
	<!-- IF FRIENDS -->
	<ul id="profile-friends">
	<!-- BEGIN friend_list -->
		<li>
			<span class="img-wb"><a href="{friend_list.U_PROFILE}">
			<!-- IF friend_list.ICON -->
			<img src="{friend_list.ICON}" data-at2x="{friend_list.TILE}" alt="{friend_list.USER_DISPLAY_NAME}" />
			<!-- ELSE -->
			<img src="/images/no_picture_100.png" alt="{friend_list.USER_DISPLAY_NAME}" />
			<!-- ENDIF -->
			</a></span>
		</li>
	<!-- END friend_list -->
	</ul>
	<div class="cheat-clear-left"></div>
	<p>{USER_DISPLAY_NAME} has {FRIENDS} {L_FRIENDS}.</p>
	<!-- ELSE -->
	<p>{L_NO_FRIENDS}</p>
	<!-- ENDIF -->
	</div>
    <!-- ENDIF -->
	<!-- BEGIN app_panel -->
{app_panel.BODY}
	<!-- END app_panel -->
	</div>
    </div>
<!-- INCLUDE page_footer.html -->