<h3>Preferences</h3>
<p>Here you can save individual preferences when using {SITE_TITLE}. You can save bandwidth by disabling images and videos in profiles and comments.</p>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Preferences</legend>
		<dl>
			<dt><label for="homepage">My Homepage</label></dt>
			<dd>
				{S_HOMEPAGE}
			</dd>
			<dt><label>Show Custom Styles</label></dt>
			<dd>
				<label><input type="radio" name="show-styles" value="1"{S_SHOW_STYLES_YES} /> Yes</label>
				<label><input type="radio" name="show-styles" value="0"{S_SHOW_STYLES_NO} /> No</label>
			</dd>
			<dt><label>Display Images</label></dt>
			<dd>
				<label><input type="radio" name="display-images" value="1"{S_DISPLAY_IMAGES_YES} /> Yes</label>
				<label><input type="radio" name="display-images" value="0"{S_DISPLAY_IMAGES_NO} /> No</label>
			</dd>
			<dt><label>Display Flash Content</label></dt>
			<dd>
				<label><input type="radio" name="display-flash" value="1"{S_DISPLAY_FLASH_YES} /> Yes</label>
				<label><input type="radio" name="display-flash" value="0"{S_DISPLAY_FLASH_NO} /> No</label>
			</dd>
			<dt><label>Display Videos</label></dt>
			<dd>
				<label><input type="radio" name="display-videos" value="1"{S_DISPLAY_VIDEOS_YES} /> Yes</label>
				<label><input type="radio" name="display-videos" value="0"{S_DISPLAY_VIDEOS_NO} /> No</label>
			</dd>
			<dt><label>Send E-mail Notifications</label></dt>
			<dd>
				<label><input type="radio" name="email-notifications" value="1"{S_EMAIL_NOTIFICATIONS_YES} /> Yes</label>
				<label><input type="radio" name="email-notifications" value="0"{S_EMAIL_NOTIFICATIONS_NO} /> No</label>
			</dd>
			<dt><label for="timezone">My Timezone</label></dt>
			<dd>{S_TIMEZONE}</dd>
            <dt><label for="analytics-code">Google Analytics Code</label></dt>
            <dd>{S_ANALYTICS_CODE}</dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="" />
		<input type="hidden" name="sub" value="preferences" />
	</fieldset>
</form>