<h3>Change Password</h3>
<p>You can change your password at any time.</p>
<p>You should use strong passwords that contain letters and numbers. Never give out your password and change it often (at least every 60 days).</p>

<form action="{S_CHANGE_PASSWORD}" method="post" enctype="multipart/form-data">
<fieldset>
		<legend>Change Password</legend>
		<dl>
			<dt><label for="old-password">Old Password</label></dt>
			<dd><input type="text" id="old-password" name="old-password" style="width: 100%;" /></dd>
			<dt><label for="new-password">Old Password</label></dt>
			<dd><input type="text" id="new-password" name="new-password" style="width: 100%;" /></dd>
			<dt><label for="confirm-password">Old Password</label></dt>
			<dd><input type="text" id="confirm-password" name="confirm-password" style="width: 100%;" /></dd>
			<dt></dt>
			<dd><input type="submit" name="change" value="Change" /></dd>
		</dl>
		<input type="hidden" name="module" value="dashboard" />
		<input type="hidden" name="sub" value="password" />
</fieldset>
</form>