<!-- INCLUDE page_header.html -->

<p>{BREADCRUMBS}</p>

<h2>{ACCOUNT_TITLE}
<!-- IF PRIMITIVE_TITLE -->
:: <a href="{U_PRIMITIVE}">{PRIMITIVE_TITLE}</a>
<!-- ENDIF -->
</h2>
<!-- IF ERROR -->
<p class="error"><span class="icon"></span>{ERROR}</p>
<!-- ENDIF -->
<!-- IF INFO -->
<p class="information"><span class="icon"></span>{INFO}</p>
<!-- ENDIF -->
<!-- IF NO_PERMISSIONS -->
<p class="no-permissions">{NO_PERMISSIONS}</p>
<!-- ENDIF -->
<!-- IF NO_CUSTOM_STYLE -->
<p class="no-permissions">{NO_CUSTOM_STYLE}</p>
<!-- ENDIF -->

<div id="tabs">
	<ul>
		<!-- BEGIN module_list -->
        <!-- IF module_list.CURRENT -->
		<li class="current"><a href="{module_list.URI}"><span>{module_list.NAME}</span></a></li>
        <!-- ELSE -->
        <li><a href="{module_list.URI}"><span>{module_list.NAME}</span></a></li>
        <!-- ENDIF -->
		<!-- END module_list -->
	</ul>
</div>
<div id="account-panel">
<ul id="account-links">
	<!-- BEGIN account_links -->
    <!-- IF account_links.CURRENT -->
	<li class="current"><a href="{account_links.URI}"><span>{account_links.TITLE}</span></a></li>
    <!-- ELSE -->
    <li><a href="{account_links.URI}"><span>{account_links.TITLE}</span></a></li>
    <!-- ENDIF -->
	<!-- END account_links -->
</ul>
<div class="account-pane">
