<!-- INCLUDE page_header.html -->

<h2>{ACCOUNT_TITLE}
<!-- IF PRIMITIVE_TITLE -->
:: <a href="{U_PRIMITIVE}">{PRIMITIVE_TITLE}</a>
<!-- ENDIF -->
</h2>
<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
<!-- IF INFO -->
<p class="information">{INFO}</p>
<!-- ENDIF -->
<!-- IF NO_PERMISSIONS -->
<p class="no-permissions">{NO_PERMISSIONS}</p>
<!-- ENDIF -->
<!-- IF NO_CUSTOM_STYLE -->
<p class="no-permissions">{NO_CUSTOM_STYLE}</p>
<!-- ENDIF -->

<div id="tabs">
	<ul>
		<!-- BEGIN module_list -->
		<li><a href="{module_list.URI}"><span>{module_list.NAME}</span></a></li>
		<!-- END module_list -->
		<!--li><a href="/account/?module=preferences"><span>Preferences</span></a></li-->
		<!--li><a href="/account/?module=networks"><span>Networks</span></a></li-->
	</ul>
</div>
<div id="account-panel">
<ul id="account-links">
	<!-- BEGIN account_links -->
	<li><a href="{account_links.URI}"><span>{account_links.TITLE}</span></a></li>
	<!-- END account_links -->
</ul>
<div class="account-pane">
