<h3>Overview</h3>

<p>Welcome to the account management panel. From here you can manage your account, profile, friends, and more.</p>

<!-- IF IS_NOTIFICATIONS -->
<h4>Notifications</h4>
<table style="width: 100%">
<!-- BEGIN notifications_list -->
<!-- IF notifications_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{notifications_list.DATE}</td>
	<td>{notifications_list.ACTION}</td>
	<td>{notifications_list.DESCRIPTION}</td>
</tr>
<!-- END notifications_list -->
</table>
<!-- ENDIF -->

<!-- IF IS_INVITATIONS -->
<h4>Group Invitations</h4>
<table style="width: 100%">
<!-- BEGIN invitations_list -->
<!-- IF invitations_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{invitations_list.DATE}</td>
	<td>{invitations_list.ACTION}</td>
	<td>{invitations_list.DESCRIPTION}</td>
</tr>
<!-- END invitations_list -->
</table>
<!-- ENDIF -->