<!-- INCLUDE page_header.html -->
			<div id="master-title">ZinZam is a <a href="http://en.wikipedia.org/wiki/Collaborative">collaborative</a>, <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>, social, online <a href="http://en.wikipedia.org/wiki/Workspace#Computer_programming">workspace</a></div>
			<div id="get-started" style="float: right; width: 400px;"><h3>Get Started Today</h3>
			<p id="synopsis">Start a <strong>blog</strong>... <strong>Publish</strong> your art... <strong>Share</strong> with friends and family... <strong>Manage</strong> your day... With ZinZam <strong>you</strong> are in <strong>control</strong>.</p>
			<h4 id="register-pill"><a href="/register/"><span>Create an Account</span></a></h4>
				<div id="login-box">
					<h3>Sign In</h3>
					<form action="/sign-in/" method="post" id="form-login">
					<fieldset>
						<dl>
							<dt><label for="username">Username:</label></dt>
							<dd><input type="text" id="username" name="username" /></dd>
							<dt><label for="password">Password:</label></dt>
							<dd><input type="password" id="password" name="password" /></dd>
							<dt><label for="remember">Remember me:</label></dt>
							<dd><input type="checkbox" value="true" id="remember" name="remember" /></dd>
							<dt></dt>
							<dd><input type="submit" value="Sign In" name="submit" /></dd>
						</dl>
					</fieldset>
					</form>
					<p><a href="{U_FORGOT_PASSWORD}">I have forgotten my password</a></p>
				</div>
			</div>
			<div id="space-filler">
				<div id="title-image"><img src="/images/{I_DEFAULT}" alt="Image" /></div>
			</div>
<!-- INCLUDE page_footer.html -->