<!-- INCLUDE page_header.html -->
<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
<div id="login-box">
<h3>Sign In</h3>
				<form action="/sign-in/" method="post" id="form-login">
				<fieldset>
						<dl>
							<dt><label for="username">Username:</label></dt>
							<dd><input type="text" id="username" name="username" /></dd>
							<dt><label for="password">Password:</label></dt>
							<dd><input type="password" id="password" name="password" /></dd>
							<dt><label for="remember">Remember me:</label></dt>
							<dd><input type="checkbox" value="true" id="remember" name="remember" /></dd>
							<dt></dt>
							<dd><input type="submit" value="Sign In" name="submit" /></dd>
						</dl>
						<input type="hidden" name="redirect" value="{REDIRECT}" />
					</fieldset>
				</form>
				<p><a href="{U_FORGOT_PASSWORD}">I have forgotten my password</a></p>
			</div>
<!-- INCLUDE page_footer.html -->