<!-- INCLUDE page_header.html -->
<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
<div id="login-box">
<h2>{L_SIGNIN}</h2>
				<form action="{S_POST}" method="post" id="form-login">
				<fieldset>
						<dl>
							<dt><label for="username">{L_USERNAME}:</label></dt>
							<dd><input type="text" id="username" name="username" /></dd>
							<dt><label for="password">{L_PASSWORD}:</label></dt>
							<dd><input type="password" id="password" name="password" /></dd>
							<dt><label for="remember">{REMEMBER_ME}:</label></dt>
							<dd><input type="checkbox" value="true" id="remember" name="remember" checked="checked" /></dd>
							<dt></dt>
							<dd><input type="submit" value="{L_SIGNIN}" name="submit" /></dd>
						</dl>
						<input type="hidden" name="redirect" value="{REDIRECT}" />
						<!-- IF DOMAIN -->
						<input type="hidden" name="domain" value="{DOMAIN}" />
						<!-- ENDIF -->
					</fieldset>
				</form>
				<p><a href="{U_FORGOT_PASSWORD}">{L_FORGOT_PASSWORD}</a></p>
			</div>
<!-- INCLUDE page_footer.html -->