	<!-- BEGIN comment-list -->
	<li id="c{comment-list.ID}">
		<!-- IF comment-list.OWNER -->
		<h4 class="owner">Posted by: <a href="{comment-list.U_PROFILE}">{comment-list.USERNAME}</a></h4>
		<!-- ENDIF -->
		<!-- IF comment-list.IS_SPAM -->
		<h4>This Comment has been marked as spam (<a href="#" onclick="return ShowSpamComment({comment-list.ID});" id ="comment-a-{comment-list.ID}">show comment</a>)</h4>
		<!-- ENDIF -->
		<!-- IF comment-list.NORMAL -->
		<h4>Posted by: <a href="{comment-list.U_PROFILE}">{comment-list.USERNAME}</a></h4>
		<!-- ENDIF -->
		<!-- IF comment-list.IS_SPAM -->
		<div id ="comment-{comment-list.ID}" style="display: none;">
		<h4>Posted by: <a href="{comment-list.U_PROFILE}">{comment-list.USERNAME}</a></h4>
		<p class="time">Posted: {comment-list.TIME}</p>
		<!-- ELSE -->
		<p class="time">Posted: {comment-list.TIME}</p>
		<div>
		<!-- ENDIF -->
		<!-- IF comment-list.USER_TILE -->
		<div class="comment-disp-pic">
			<img src="{comment-list.USER_TILE}" alt="{comment-list.USER_DISPLAY_NAME}" />
		</div>
		<!-- ENDIF -->
		<div class="comment-text">
			<p>{comment-list.COMMENT}</p>
		</div>
        <div class="r-stuff light">
        <span class="img-button like-item"><a href="#" onclick="return LikeItem({comment-list.ID},{comment-list.TYPE_ID},$(this).children('.likes'));" title="Like"><span class="sprite like-sprite"></span><span class="likes">{comment-list.LIKES}</span></a></span><!--
        --><span class="img-button share-item"><a href="#" onclick="return ShareItem({comment-list.ID},{ITEM_ID});" title="Share"><span class="sprite share-sprite"></span></a></span><!--
        <!-- IF LOGGED_IN -->
		<!-- IF IS_USER_GUESTBOOK -->
		<!-- IF U_CONVERSATION -->
        --><span class="img-button conversation-item"><a href="{comment-list.U_CONVERSATION}" title="View as Conversation"><span class="sprite conversation-sprite"></span></a></span><!--
		<!-- ENDIF -->
        <!-- IF CAN_COMMENT -->
		<!-- IF U_REPLY -->
        --><span class="img-button reply-item"><a href="{comment-list.U_REPLY}" title="Reply to Post">Reply</a></span><!--
		<!-- ENDIF -->
		<!-- ENDIF -->
        --><span class="img-button quote-item"><a href="#" onclick="return QuoteComment({comment-list.ID},{ITEM_ID});" title="Quote Comment">Quote</a></span><!--
		<!-- ENDIF -->
		<!-- IF comment-list.MODERATE -->
        --><span class="img-button delete-item"><a href="{comment-list.U_DELETE}" onclick="return DeleteComment({comment-list.ID},{ITEM_ID});" title="Delete Comment"><span class="sprite delete-sprite"></span></a></span><!--
		<!-- ENDIF -->
        --><span class="img-button report-item"><a href="#" onclick="return ReportComment({comment-list.ID},{ITEM_ID});" title="Report as SPAM"><span class="sprite report-sprite"></span></a></span><!--
        <!-- ENDIF -->
        -->
        </div>
		<div class="cheat-clear-left"></div>
		</div>
	</li>
	<!-- END comment-list -->