	<!-- BEGIN comment-list -->
	<li class="c{comment-list.ID}">
		<!-- IF comment-list.IS_SPAM -->
		<h4>This Comment has been marked as spam (<a href="#" onclick="return ShowSpamComment({comment-list.ID});" class="comment-a-{comment-list.ID}">show comment</a>)</h4>
		<!-- ENDIF -->
		<!-- IF comment-list.IS_SPAM -->
		<div class="comment-{comment-list.ID}" style="display: none;">
		<!-- ELSE -->
        <!-- IF comment-list.OWNER -->
		<div class="owner">
        <!-- ELSE -->
        <div class="normal">
		<!-- ENDIF -->
        <!-- ENDIF -->
		<!-- IF comment-list.USER_ICON -->
		<div class="comment-disp-pic">
			<img src="{comment-list.USER_ICON}" data-at2x="{comment-list.USER_TILE}" alt="{comment-list.USER_DISPLAY_NAME}" />
		</div>
		<!-- ENDIF -->
		<div class="comment-text">
            <p class="posted-by"><a href="{comment-list.U_PROFILE}" class="username-card" bs-uid="{comment-list.USER_ID}">{comment-list.USER_DISPLAY_NAME}</a> <em>{comment-list.TIME}</em></p>
			{comment-list.COMMENT}
		</div>
        <div class="r-stuff light">
        <span class="img-button voteup-item"><a href="#" onclick="return LikeItem({comment-list.ID},{comment-list.TYPE_ID},$(this).children('.upvotes'));" title="{L_VOTE_UP}"><span class="upvotes">{comment-list.LIKES}</span><span class="sprite voteup-sprite"></span></a></span><span class="img-button votedown-item"><a href="#" onclick="return DislikeItem({comment-list.ID},{comment-list.TYPE_ID},$(this).children('.downvotes'));" title="{L_VOTE_DOWN}"><span class="sprite votedown-sprite"></span><span class="downvotes">{comment-list.DISLIKES}</span></a></span><!--
        --><span class="img-button share-item"><a href="#" onclick="return ShareItem({comment-list.ID},{ITEM_ID});" title="{L_SHARE}"><span class="sprite share-sprite"></span></a></span><!--
        <!-- IF LOGGED_IN -->
		<!-- IF IS_USER_GUESTBOOK -->
		<!-- IF U_CONVERSATION -->
        --><span class="img-button conversation-item"><a href="{comment-list.U_CONVERSATION}" title="{L_VIEW_AS_CONVERSATION}"><span class="sprite conversation-sprite"></span></a></span><!--
		<!-- ENDIF -->
        <!-- IF CAN_COMMENT -->
		<!-- IF U_REPLY -->
        --><span class="img-button reply-item"><a href="{comment-list.U_REPLY}" title="{L_REPLY_TO_COMMENT}">{L_REPLY}</a></span><!--
		<!-- ENDIF -->
		<!-- ENDIF -->
        --><span class="img-button quote-item"><a href="#" onclick="return QuoteComment({comment-list.ID},{ITEM_ID});" title="{L_QUOTE_COMMENT}">{L_QUOTE}</a></span><!--
		<!-- ENDIF -->
		<!-- IF comment-list.MODERATE -->
        --><span class="img-button delete-item"><a href="{comment-list.U_DELETE}" onclick="return DeleteComment({comment-list.ID},{ITEM_ID});" title="{L_DELETE}"><span class="sprite delete-sprite"></span></a></span><!--
		<!-- ENDIF -->
        --><span class="img-button report-item"><a href="#" onclick="return ReportComment({comment-list.ID},{ITEM_ID});" title="{L_REPORT}"><span class="sprite report-sprite"></span></a></span><!--
        <!-- ENDIF -->
        -->
        </div>
        </div>
		<div class="cheat-clear-left"></div>
		</div>
	</li>
	<!-- END comment-list -->