<!-- IF CAN_COMMENT -->
<form action="/api/comment" method="post" class="comment-form">
<fieldset>
	<legend style="display: none;">Post Comment</legend>
    <ul class="comment-list">
    <li>
        <h4 class="owner">Post Comment</h4>
		<!-- IF USER_TILE -->
		<div class="comment-disp-pic">
			<img src="{USER_ICON}" alt="{USER_DISPLAY_NAME}" />
		</div>
		<!-- ENDIF -->
        <div class="comment-text">
	        <textarea id="comment-text-{ITEM_ID}" class="comment-textarea" name="comment" style="width: 100%; height: 56px;" rows="3" cols="75" onfocus="$(this).css('height', '78px'); $(this).siblings('.comment-buttons').show(); /*$(this).siblings('.comment-buttons')[0].scrollIntoView();*/"></textarea>
	        <p style="text-align: right; display: none;" class="comment-buttons"><input type="submit" value="Post" onclick="return SubmitComment({ITEM_ID},{ITEM_TYPE},0,'{COMMENT_SORT}', $(this).parent().siblings('.comment-textarea').val());" id="comment-submit-{ITEM_ID}" class="comment-submit" />
            <input type="reset" value="Cancel" onclick="$(this).parent().hide(); $(this).parent().siblings('.comment-textarea').css('height', '56px');" /></p>
	        <input type="hidden" name="item" value="{ITEM_ID}" />
	        <input type="hidden" name="type" value="{ITEM_TYPE}" />
        </div>
    </li>
    </ul>
</fieldset>
</form>
<!-- ELSE -->
<p>You <strong>cannot</strong> post comments.
<!-- IF LOGGED_IN -->
<!-- ELSE -->
<a href="{U_SIGNIN}">{L_SIGNIN}</a>.
<!-- ENDIF -->
</p>
<!-- ENDIF -->
