            <!-- INCLUDE page_header.html -->
            <!-- IF ERROR -->
            <p class="error">{ERROR}</p>
            <!-- ENDIF -->
            <div id="login-box">
            <h3>Sign In</h3>
				<form action="/sign-in/?mode=reset-password" method="post" id="form-password-reset">
				<fieldset>
						<dl>
							<dt><label for="email">E-mail Address:</label></dt>
							<dd><input type="text" id="email" name="email" /></dd>
							<dt></dt>
							<dd><input type="submit" value="Send" name="submit" /></dd>
						</dl>
					</fieldset>
				</form>
			</div>
<!-- INCLUDE page_footer.html -->