<!-- INCLUDE page_header.html -->
<h2>Register a New Account</h2>
<p>Registration is simple and only takes a minute.</p>
<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
<form action="{S_POST}" method="post" id="form-register">
<fieldset>
	<dl id="form-list">
		<dt class="top"><label for="username">{L_USERNAME}:</label></dt>
		<dd class="top"><input type="text" id="username" name="username" value="{USERNAME}" /></dd>
		<dt class="top"><label for="email">{L_EMAIL}:</label></dt>
		<dd class="top"><input type="email" id="email" name="email" value="{EMAIL}" /></dd>
		<dt class="top"><label for="confirm-email">Confirm e-mail:</label></dt>
		<dd class="top"><input type="email" id="confirm-email" name="confirm-email" value="{CONFIRM_EMAIL}" /></dd>
		<dt class="top"><label for="password">{L_PASSWORD}:</label></dt>
		<dd class="top"><input type="password" id="password" name="password" /></dd>
		<dt class="top"><label for="confirm-password">Confirm password:</label></dt>
		<dd class="top"><input type="password" id="confirm-password" name="confirm-password" /></dd>
		<dt class="top"><label>Enter the letters shown to the left in the box below:</label></dt>
		<dd class="top"><img src="{U_CAPTCHA}" alt="captcha" /></dd>
		<dd class="top"><input type="text" id="captcha" name="captcha" /></dd>
		<dt class="top"><label for="agree">I agree to the {SITE_TITLE} <a href="/terms-of-service/">Terms of Service</a>:</label></dt>
		<dd class="top"><input type="checkbox" value="true" id="agree" name="agree" /></dd>
		<dt class="top"></dt>
		<dd class="top"><input type="submit" value="Register" name="submit" /></dd>
	</dl>
	<input type="hidden" id="verification" name="verification" value="{SID}" />
    <!-- IF EMAIL_KEY -->
    <input type="hidden" id="key" name="key" value="{EMAIL_KEY}" />
    <!-- ENDIF -->
    <!-- IF REFERRAL_KEY -->
    <input type="hidden" id="refer" name="key" value="{REFERRAL_KEY}" />
    <!-- ENDIF -->
    <input type="hidden" id="gid" name="gid" value="{GID}" />
</fieldset>
</form>
<!-- INCLUDE page_footer.html -->