<div id="today-statuses" style="border: solid 1px #EEEEEE; margin-bottom: 5px;">
    <p id="status-message" onclick="hide('status-message');show('status-form');ge('message').focus();" style="cursor: pointer;">
	    <!-- IF STATUS_MESSAGE -->
	    {USER_DISPLAY_NAME} {STATUS_MESSAGE} <em>Updated {STATUS_UPDATED}</em>
	    <!-- ELSE -->
	    Click here to change your status message.
	    <!-- ENDIF -->
	</p>
	<div>
		<form action="/account" method="post" id="status-form" style="display: none;" onsubmit="return SendStatus();">
			<p><input type="text" id="message" name="message" value="is " onblur="show('status-message');hide('status-form');" />
			<input type="submit" id="status-submit" value="Submit"/>
			<input type="hidden" name="module" value="profile" />
			<input type="hidden" name="sub" value="status" /></p>
		</form>
	</div>
    <ul>
      <!-- BEGIN status_messages -->
      <li>
        <a href="/{status_messages.USER_NAME}">{status_messages.USER_DISPLAY_NAME}</a>
        {status_messages.STATUS_MESSAGE} <em>{status_messages.STATUS_UPDATED}</em>
      </li>
      <!-- END status_messages -->
    </ul>
</div>