<div>
  <ul>
    <!-- BEGIN permission -->
    <li>
      {permission.TITLE}
      <p>{permission.DESCRIPTION}</p>
      <!-- XXIF grant -->
      <dl>
        <dt>
        </dt>
        <dd>
          {L_ALLOW}
        </dd>
        <dd>
          {L_DENY}
        </dd>
        <dd>
          {L_INHERIT}
        </dd>
      </dl>
      <ul>
        <!-- BEGIN permission.grant -->
        <li>
          <dl>
            <dt>
              {permission.grant.DISPLAY_NAME}
              <input type="hidden" name="new-grant[{permission.grant.PERMISSION_ID},{permission.grant.ID}]" value="true" />
            </dt>
            <dd>
              {permission.grant.S_ALLOW}
            </dd>
            <dd>
              {permission.grant.S_DENY}
            </dd>
            <dd>
              {permission.grant.S_INHERIT}
            </dd>
          </dl>
        </li>
        <!-- END permission.grant -->
      </ul>
      <!-- XXENDIF -->
      <div>
        {permission.S_PERMISSION_GROUPS}
      	<input type="submit" name="add-permission[{permission.ID}]" value="Add permission" />
      </div>
    </li>
    <!-- END permission -->
  </ul>
  <!-- BEGIN grants -->
  <input type="hidden" name="{grants.S_GRANT_INDEX}" value="{grants.S_GRANT_KEY}" />
  <!-- END grants -->
</div>
