<p>
<label><input type="radio" name="classification" value="0" {IS_NONE}/> None</label>
<label><input type="radio" name="classification" value="1" {IS_EVERYONE}/> <!--img src="/images/rating_e.png" alt="Everyone" /-->Everyone</label>
<label><input type="radio" name="classification" value="3" {IS_MATURE}/> <!--img src="/images/rating_15.png" alt="Mature - 15+" /-->Mature 15+</label>
<label><input type="radio" name="classification" value="5" {IS_RESTRICTED}/> <!--img src="/images/rating_18.png" alt="Restricted - 18+" /-->Restricted 18+ (NSFW)</label>
</p>