{HACK}Hack<div id="acl-list"><!-- BEGIN permision_types -->
  <h3>{permision_types.TITLE}</h3>
  <div class="perm-type">
  <div class="permission-type-simple">
  </div>
  <div class="permission-type-detailed">
  <ul id="permission-list">
    <!-- BEGIN permision_types.permission -->
    <li class="permission-titles">
      <p><strong>{permision_types.permission.DESCRIPTION}</strong></p>
      <!-- XXIF grant -->
      <dl class="permission-titles">
        <dt>&nbsp;</dt>
        <dd>
          {L_ALLOW}
        </dd>
        <dd>
          {L_DENY}
        </dd>
        <dd>
          {L_INHERIT}
        </dd>
      </dl>
      <ul class="permission-grant-list">
        <!-- BEGIN permision_types.permission.grant -->
        <li class="permission-grant">
          <dl>
            <dt>
              {permision_types.permission.grant.DISPLAY_NAME}
		<!-- IF permision_types.permission.grant.IS_NEW -->
              <input type="hidden" name="new-grant[{permision_types.permission.grant.PERMISSION_ID},{permision_types.permission.grant.ID}]" value="true" />
		<!-- ENDIF -->
            </dt>
            <dd>
              {permision_types.permission.grant.S_ALLOW}
            </dd>
            <dd>
              {permision_types.permission.grant.S_DENY}
            </dd>
            <dd>
              {permision_types.permission.grant.S_INHERIT}
            </dd>
          </dl>
        </li>
        <!-- END permision_types.permission.grant -->
      </ul>
      <!-- XXENDIF -->
      <div>
        {permision_types.permission.S_PERMISSION_GROUPS}
      	<input type="submit" name="add-permission[{permision_types.permission.ID}]" value="{L_ADD_PERMISSION}" />
      </div>
    </li>
    <!-- END permision_types.permission -->
  </ul>
  </div>
  <!-- BEGIN permision_types.grants -->
  <input type="hidden" name="{permision_types.grants.S_GRANT_INDEX}" value="{permision_types.grants.S_GRANT_KEY}" />
  <!-- END permision_types.grants -->
</div>
<!-- END permision_types -->
</div>