<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<div id="pane-profile">
  <div id="pane-pages" class="pane">
    <h3>{L_PAGES}</h3>
    <ul class="page-tiles">
      {PAGE_LIST}
    </ul>
  </div>
</div>

<div id="profile">
<!-- IF subscriber_list -->
	<!-- IF PAGINATION -->
	<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>
	<!-- ENDIF -->
<ul id="profile-subscribers">
<!-- BEGIN subscriber_list -->
<li style="width: 33%; height: auto; position: relative;">
  <div class="contact-card-container" style="width: auto; margin: 5px;">
    <div class="contact-card" style="width: 100%; position: relative; z-index: auto; box-shadow: none; border: 1px solid #cccccc;">
    <!-- IF subscriber_list.MOBILE_COVER -->
      <div style="height: 80px; background-image: url('{subscriber_list.MOBILE_COVER}'); background-position: center; background-color: #333333; background-size: cover; width: auto;">
    <!-- ELSE -->
      <div style="height: 80px; background-color: #333333; background-size: cover; width: auto;">
    <!-- ENDIF -->
        <!-- IF subscriber_list.ICON -->
		<img src="{subscriber_list.ICON}" alt="{subscriber_list.USER_DISPLAY_NAME}" />
        <!-- ELSE -->
        <img src="/images/no_picture_100.png" alt="{subscriber_list.USER_DISPLAY_NAME}" />
		<!-- ENDIF -->
      </div>
      <div style="width: auto;">
        <p><strong><a href="{subscriber_list.U_PROFILE}">{subscriber_list.USER_DISPLAY_NAME}</a></strong></p>
      <!-- IF LOGGED_IN AND NOT subscriber_list.ME -->
        <!-- IF subscriber_list.SUBSCRIBED -->
        <p><span class="subscribe-{subscriber_list.TYPE}-{subscriber_list.ID} subscribe-button subscribed"><a href="{subscriber_list.U_SUBSCRIBE}" onclick="return SubscribeItem({subscriber_list.ID},{subscriber_list.TYPE}, $(this).parent().hasClass('subscribed') );">{L_UNSUBSCRIBE}</a></span><span class="subscribers">{subscriber_list.SUBSCRIBERS}</span></p>
        <!-- ELSE -->
        <p><span class="subscribe-{subscriber_list.TYPE}-{subscriber_list.ID} subscribe-button"><a href="{subscriber_list.U_SUBSCRIBE}" onclick="return SubscribeItem({subscriber_list.ID},{friensubscriber_listd_list.TYPE}, $(this).parent().hasClass('subscribed') );">{L_SUBSCRIBE}</a></span><span class="subscribers">{subscriber_list.SUBSCRIBERS}</span></p>
        <!-- ENDIF -->
      <!-- ENDIF -->
        <!-- IF subscriber_list.LOCATION -->
        <p><strong>{L_LOCATION}:</strong> {subscriber_list.LOCATION}</p>
        <!-- ENDIF -->
        <p>{subscriber_list.ABSTRACT}</p>
      </div>
    </div>
  </div>
</li>
<!-- END subscriber_list -->
</ul>
	<div class="cheat-clear-left"></div>
	<!-- IF PAGINATION -->
	<p><strong>Go to page:</strong> {PAGINATION}</p>
	<!-- ENDIF -->
<!-- ELSE -->
<p>This user has no subscriptions.</p>
<!-- ENDIF -->
</div>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->