	<div id="today-feed">

    <!-- IF FALSE -->
	<div id="compose-status">
        <h3>Post Status</h3>
        <div id="status-div">
		<form action="/account" method="post" id="status-form" onsubmit="return SendAction('{USER_DISPLAY_NAME}');">
			<p><input type="text" id="message" name="message" value="is " style="border: 1px solid #082; border-right: none; outline: none;"/><input type="submit" id="status-submit" value="Post" style="border-left: none; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" />
            <input type="hidden" name="aclmode" value="simple" />
			<input type="hidden" name="module" value="profile" />
			<input type="hidden" name="sub" value="status" /></p>
            {S_STATUS_PERMISSIONS}
		</form>
        </div>
	</div>
    <!-- ENDIF -->

    <div class="infinite">
		<h4 class="today-day"><!--a href="/{USERNAME}/feed"-->Feed<!--/a--></h4>
		<!-- IF HAS_FEED_ITEMS -->
		<ul id="today-feeds">
			<!-- BEGIN feed_days_list -->
			<li class="today-feed">
				<h4 class="today-day">{feed_days_list.DAY}</h4>
                <!-- INCLUDE pane.feeditem.html -->
			</li>
			<!-- END feed_days_list -->
		</ul>

        	<!-- IF PAGINATION -->
	        <p>{PAGINATION}<a href="#" class="infinite-more" onclick="return loadInfiniteContent('{U_NEXT_PAGE}', $(this).parent().siblings('#today-feeds').children('.today-feed').last());">{L_LOAD_MORE}</a></p>
	        <!-- ENDIF -->
		<!-- ELSE -->
		<p>There are no recent items in your friend's feeds.</p>
		<!-- ENDIF -->
        </div>
	</div>