<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
	<div id="overview-profile" class="pane">
        <!-- IF USER_MOBILE_COVER_PHOTO -->
		<div class="info no-icon" style="height: 90px; background-image: url('{USER_MOBILE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info no-icon">
        <!-- ENDIF -->
        <h2>{FRIENDS_TITLE}</h2>
        </div>
    </div>
<!-- ENDIF -->

<div id="content">
<!-- IF $_IS_DESKTOP -->
	<div id="overview-profile" class="pane">
        <!-- IF $_IS_DESKTOP AND USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
<h2>{FRIENDS_TITLE}</h2>
</div>
</div>
<!-- ENDIF -->

<!-- IF $_IS_DESKTOP -->
<div id="pane-profile">
  <div id="pane-pages" class="pane">
    <h3>Pages</h3>
    <ul class="page-tiles">
      {PAGE_LIST}
    </ul>
  </div>
</div>
<!-- ENDIF -->

<div id="profile">
  <div id="member-filter-panel">
  <p>
    <a href="{U_FILTER_ALL}">All</a>
    <a href="{U_FILTER_BEGINS_A}">A</a>
    <a href="{U_FILTER_BEGINS_B}">B</a>
    <a href="{U_FILTER_BEGINS_C}">C</a>
    <a href="{U_FILTER_BEGINS_D}">D</a>
    <a href="{U_FILTER_BEGINS_E}">E</a>
    <a href="{U_FILTER_BEGINS_F}">F</a>
    <a href="{U_FILTER_BEGINS_G}">G</a>
    <a href="{U_FILTER_BEGINS_H}">H</a>
    <a href="{U_FILTER_BEGINS_I}">I</a>
    <a href="{U_FILTER_BEGINS_J}">J</a>
    <a href="{U_FILTER_BEGINS_K}">K</a>
    <a href="{U_FILTER_BEGINS_L}">L</a>
    <a href="{U_FILTER_BEGINS_M}">N</a>
    <a href="{U_FILTER_BEGINS_N}">M</a>
    <a href="{U_FILTER_BEGINS_O}">O</a>
    <a href="{U_FILTER_BEGINS_P}">P</a>
    <a href="{U_FILTER_BEGINS_Q}">Q</a>
    <a href="{U_FILTER_BEGINS_R}">R</a>
    <a href="{U_FILTER_BEGINS_S}">S</a>
    <a href="{U_FILTER_BEGINS_T}">T</a>
    <a href="{U_FILTER_BEGINS_U}">U</a>
    <a href="{U_FILTER_BEGINS_V}">V</a>
    <a href="{U_FILTER_BEGINS_W}">W</a>
    <a href="{U_FILTER_BEGINS_X}">X</a>
    <a href="{U_FILTER_BEGINS_Y}">Y</a>
    <a href="{U_FILTER_BEGINS_Z}">Z</a>
  </p>
</div>
	<!-- IF PAGINATION -->
	<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>
	<!-- ENDIF -->
<!-- IF FRIENDS -->
<ul id="profile-friends">
<!-- BEGIN friend_list -->
	<li>
		<dl>
			<dt><span class="img-wb"><a href="{friend_list.U_PROFILE}">
			<!-- IF friend_list.TILE -->
			<img src="{friend_list.TILE}" alt="{friend_list.USER_DISPLAY_NAME}" />
			<!-- ELSE -->
			<img src="/images/no_picture_100.png" alt="{friend_list.USER_DISPLAY_NAME}" />
			<!-- ENDIF -->
			</a></span></dt>
			<dd><a href="{friend_list.U_PROFILE}">{friend_list.USER_DISPLAY_NAME}</a></dd>
		</dl>
	</li>
<!-- END friend_list -->
</ul>
<!-- ENDIF -->
	<div class="cheat-clear-left"></div>
	<!-- IF PAGINATION -->
	<p><strong>Go to page:</strong> {PAGINATION}</p>
	<!-- ENDIF -->
</div>
</div>
<!-- INCLUDE page_footer.html -->