<!-- INCLUDE page_header.html -->

<!-- INCLUDE primitive_header.html -->

<div id="profile">
    <p class="action-buttons">{BREADCRUMBS}</p>
<!-- IF subscriber_list -->
	<!-- IF PAGINATION -->
	<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>
	<!-- ENDIF -->
<ul class="list">
<!-- BEGIN subscriber_list -->
	<li class="list-item icon">
        <a href="{subscriber_list.U_PROFILE}">
        <!-- IF subscriber_list.ICON -->
		<img src="{subscriber_list.ICON}" alt="{subscriber_list.USER_DISPLAY_NAME}" />
		<!-- ELSE -->
		<img src="/images/no_picture_100.png" alt="{subscriber_list.USER_DISPLAY_NAME}" />
		<!-- ENDIF -->
        {subscriber_list.USER_DISPLAY_NAME}
        </a>
	</li>
<!-- END subscriber_list -->
</ul>
<!-- ELSE -->
	<div class="cheat-clear-left"></div>
	<!-- IF PAGINATION -->
	<p><strong>{L_GO_TO_PAGE}</strong> {PAGINATION}</p>
	<!-- ENDIF -->
<p>This user has no subscriptions.</p>
<!-- ENDIF -->
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->