<h3>Applications</h3>
<p>Here you can manage installed application permissions, or remove installed applications.</p>

<div id="new-stuff">
	<span id="find-application" class="post-button"><a href="{U_APPLICATIONS}">Browse Applications</a></span>
</div>

<table style="width: 100%">
<tr>
	<th>Name</th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN application_list -->
<!-- IF application_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{application_list.U_APPLICATION}">{application_list.NAME}</a></td>
	<td><a href="{application_list.U_SETTINGS}">Settings</a></td>
	<td>
		<!-- IF application_list.U_UNINSTALL -->
		<a href="{application_list.U_UNINSTALL}">Uninstall</a>
		<!-- ENDIF -->
	</td>
</tr>
<!-- END application_list -->
</table>

<h4>Authorised Apps</h4>
<p>These are the websites and applications you have authorised to access your Box Social account. Here you can deauthorise an application. Next time you use the application it may ask you to re-authorise.</p>

<table style="width: 100%">
<tr>
	<th>Name</th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN oauth_application_list -->
<!-- IF oauth_application_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{oauth_application_list.U_APPLICATION}">{oauth_application_list.NAME}</a></td>
	<td><a href="{oauth_application_list.U_SETTINGS}">Settings</a></td>
	<td>
		<!-- IF oauth_application_list.U_DEAUTHORISE -->
		<a href="{oauth_application_list.U_DEAUTHORISE}">Deauthorise</a>
		<!-- ENDIF -->
	</td>
</tr>
<!-- END oauth_application_list -->
</table>