<h3>{L_SETTINGS}</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
<fieldset>
		<legend>{L_SETTINGS}</legend>
		<dl>
			<dt class="top"><label for="title">Title</label></dt>
			<dd class="top"><input type="text" id="title" name="title" value="{APPLICATION_TITLE}" style="width: 100%;" /></dd>
			<dt class="top"><label for="description">Application Description:</label></dt>
			<dd class="top">
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 78px;" rows="4" cols="75">{APPLICATION_DESCRIPTION}</textarea>
			</dd>
            <!-- IF IS_OAUTH -->
			<dt class="top"><label for="callback">OAuth Callback URL</label></dt>
			<dd class="top">
                <p><input type="text" id="callback" name="callback" value="{OAUTH_CALLBACK}" style="width: 100%;" /></p>
                <p><em>{SITE_TITLE} will make a HTTP request to the above callback URL once successfully authenticated via OAuth.</em></p>
            </dd>
            <!-- ENDIF -->
			<dt class="top"></dt>
			<dd class="top"><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="applications" />
		<input type="hidden" name="sub" value="settings" />
</fieldset>
</form>


