<h3>Account Security</h3>
<p>Enable two-factor authentication to improve the security of your account.</p>
<p>Two factor authentication uses something you have (like a smart phone) and something you know (like a password) to sign-in to your account.</p>
<p>{SITE_TITLE} uses RFC 6238 compliant two-factor authentication compatible with Google Authenticator for <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Android</a> and <a href="https://itunes.apple.com/au/app/google-authenticator/id388497605?mt=8">iPhone</a> or Microsoft Authenticator for <a href="http://www.windowsphone.com/en-us/store/app/authenticator/e7994dbc-2336-4950-91ba-ca22d653759b">Windows Phone</a>.</p>

<!-- IF S_ENABLED -->
<p><a href="{U_DISABLE}">Disable two-factor authentication for your account.</a></p>
<!-- ENDIF -->

<!-- IF S_DISABLED -->
<p><a href="{U_ENABLE}">Begin the process of enabling two-factor authentication for your account.</a></p>
<!-- ENDIF -->

<h2>Active Sessions</h2>
<p>The following is a list of all your active sessions from signed on devices.</p>

<!-- IF sessions_list -->
<table>
  <tr>
    <th>IP Address</th>
    <th>Time</th>
    <th>Browser</th>
  </tr>
  <!-- BEGIN sessions_list -->
  <tr>
    <td>{sessions_list.IP}</td>
    <td>{sessions_list.TIME}</td>
    <td>{sessions_list.BROWSER_STRING}</td>
  </tr>
  <!-- END sessions_list -->
</table>
<!-- ENDIF -->