<!-- INCLUDE page_header.html -->
<div id="content">
  <h2>Edit Permissions</h2>
  <!-- IF U_ITEM -->
  <h3><em><a href="{U_ITEM}">{ITEM_TITLE}</a></em></h3>
  <!-- ELSE -->
  <h3><em>{ITEM_TITLE}</em></h3>
  <!-- ENDIF -->

  <p>Use access control lists to control who can and cannot interact with your content.</p>

  <div id="acl">
    <form action="/api/acl" method="POST">
      {S_PERMISSIONS}
        <input type="submit" name="save" value="Save" />
        <input type="hidden" name="id" value="{S_ITEM_ID}" />
        <input type="hidden" name="type" value="{S_ITEM_TYPE_ID}" />
    </form>
  </div>
</div>
<!-- INCLUDE page_footer.html -->
