<!-- INCLUDE page_header.html -->
			<div id="master-title">Box Social is a <a href="http://en.wikipedia.org/wiki/Collaborative">collaborative</a>, <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>, social, online <a href="http://en.wikipedia.org/wiki/Workspace#Computer_programming">workspace</a></div>
            <h2>Explore Box Social</h2>
			<div id="explore">
                <div id="explore-groups" class="explore-area">
                    <h3><a href="">Groups</a></h3>
                </div>
                <div id="explore-networks" class="explore-area">
                    <h3><a href="">Networks</a></h3>
                </div>
                <div id="explore-music" class="explore-area">
                    <h3><a href="">Music</a></h3>
                </div>
            </div>
            <div class="clear"></div>
<!-- INCLUDE page_footer.html -->