<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-au" dir="ltr">
<head>
    <title>{TITLE}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.png"/>
	<link href="{U_STATIC}/styles/boxsocial.css" rel="Stylesheet" media="screen, projection" type="text/css"/>
	<style type="text/css">
		<!--
		
		

--></style>
</head>
<body>
    <div>
        <!-- IF APP_ICON -->
        <p><img src="{APPLICATION_ICON}" title="{APPLICATION_TITLE}" /></p>
        <!-- ENDIF -->
    </div>
    <p>{AUTHORISE_APPLICATION}</p>
    <form action="{U_POST}">
    <!-- IF REQUIRE_LOGIN -->
    <!-- ENDIF -->
    <p>{S_SUBMIT}</p>
    {S_OAUTH_TOKEN}
    </form>
</body>
</html>
