<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-au" dir="ltr">
<head>
    <title>{TITLE}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.png"/>
	<link href="{U_STATIC}/styles/boxsocial.css" rel="Stylesheet" media="screen, projection" type="text/css"/>
	<style type="text/css">
		<!--

@media screen and (min-width: 481px) {
		.about-app {
		    float: right;
		    width: 200px;
		}
		
		.form-app {
		    margin-right: 200px;
		    max-width: 700px;
		}
}

@media screen and (max-width: 480px) {
		.about-app {
		}
		
		.form-app {
		    max-width: 700px;
		}
}
		
		#page {
		    width: auto;
		    max-width: 900px;
		    padding: 10px;
		}

--></style>
</head>
<body>
	<div id="page">
        <div class="about-app">
            <!-- IF APP_ICON -->
            <p><img src="{APPLICATION_ICON}" title="{APPLICATION_TITLE}" /></p>
            <!-- ENDIF -->
        </div>
        <p>{AUTHORISE_APPLICATION}</p>
        <div class="form-app">
            <form action="{U_POST}" method="post">
                <fieldset>
        		    <dl>
            <!-- IF REQUIRE_LOGIN -->
					    <dt><label for="username">{L_USERNAME}:</label></dt>
					    <dd>{S_USERNAME}</dd>
					    <dt><label for="password">{L_PASSWORD}:</label></dt>
					    <dd>{S_PASSWORD}</dd>
            <!-- ENDIF -->
            <!-- IF VERIFY -->
            			<dt><label for="verify">{L_VERIFICATION_CODE}</label></dt>
						<dd>{S_VERIFY}</dd>
            <!-- ENDIF -->
                        <dt></dt>
					    <dd>{S_SUBMIT} {S_CANCEL}</dd>
                    </dl>
                    {S_OAUTH_TOKEN}
                    {S_MODE}
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
