<!-- INCLUDE page_header.html -->

  <script>
      function switchTab(i) {
          $(".post-content-tab").hide();
          $("#post-tab-" + i).show();
          $(".post-tab").removeClass("current");
          $("#tab-" + i).addClass("current");
          return false;
      }
  </script>

  <style>
  </style>

  <!-- IF NEW_HERE -->
  <div id="new-here">
    <p class="information">Looks like you're new here. <a href="{U_ACCOUNT_INVITE}">Why not invite some friends</a>.</p>
  </div>
  <!-- ENDIF -->

<div id="today-main">
	<h3>{DATE_STRING}</h3>
	<!-- IF actions_list -->
	<div id="today-actions">
		<!-- BEGIN actions_list -->
		<span class="post-button"><a href="{actions_list.URI}">{actions_list.TITLE}</a></span>
		<!-- END actions_list -->
	</div>
	<!-- ENDIF -->
	<div id="today-right" style="float: right; width: 250px;">
	<!-- BEGIN app_panel_side -->
{app_panel_side.BODY}
	<!-- END app_panel_side -->
	</div>
    <div id="post-content" style="margin-right: 260px; border: solid 1px #EEEEEE; margin-bottom: 5px; padding: 5px 10px;">
        <div id="tabs">
        <ul class="post-tabs">
        <!-- BEGIN app_panel_post -->
        <!-- IF app_panel_post.$_INDEX_FIRST -->
        <li class="post-tab current" id="tab-{app_panel_post.$_INDEX}"><a href="#post-tab-{app_panel_post.$_INDEX}" onclick="return switchTab({app_panel_post.$_INDEX});"><span>{app_panel_post.TITLE}</span></a></li>
        <!-- ELSE -->
        <li class="post-tab" id="tab-{app_panel_post.$_INDEX}"><a href="#post-tab-{app_panel_post.$_INDEX}" onclick="return switchTab({app_panel_post.$_INDEX});"><span>{app_panel_post.TITLE}</span></a></li>
        <!-- ENDIF -->
        <!-- END app_panel_post -->
        </ul>
        </div>
        <!-- BEGIN app_panel_post -->
        <!-- IF app_panel_post.$_INDEX_FIRST -->
        <div class="post-content-tab" id="post-tab-{app_panel_post.$_INDEX}">
        <!-- ELSE -->
        <div class="post-content-tab" id="post-tab-{app_panel_post.$_INDEX}" style="display: none;">
        <!-- ENDIF -->
            {app_panel_post.BODY}
        </div>
        <!-- END app_panel_post -->
    </div>
	<!-- BEGIN app_panel -->
{app_panel.BODY}
	<!-- END app_panel -->
</div>
<!-- INCLUDE page_footer.html -->