<!-- INCLUDE page_header.html -->

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<div id="content">
	<div id="overview-profile" class="pane">
		<div class="img-wb img-fl">
			<!-- IF USER_THUMB -->
			<img src="{USER_THUMB}" data-at2x="{USER_MOBILE}" alt="{USER_DISPLAY_NAME} Display Picture" />
			<!-- ELSE -->
			<div class="no-disp-pic">{L_NO_PICTURE}</div>
            <!-- ENDIF -->
		</div>
        <!-- IF USER_COVER_PHOTO -->
		<div class="info" style="height: 190px; background-image: url('{USER_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
            
            <ul id="profile-links">
            <!-- BEGIN link_list -->
                <li><a href="{link_list.U_LINK}">{link_list.S_FAVICON}
                <!-- IF link_list.TITLE -->
                <span>{link_list.TITLE}</span>
                <!-- ENDIF -->
                </a></li>
            <!-- END link_list -->
            </ul>
			<h2><a href="{U_PROFILE}">{USER_DISPLAY_NAME}</a></h2>
<!-- IF NOT SELF -->
<!-- IF LOGGED_IN -->
<!-- IF SUBSCRIBED -->
<p><span id="subscribe" class="subscribe-{USER_TYPE_ID}-{USER_ID} subscribe-button subscribed"><a href="{U_UNSUBSCRIBE}" onclick="return SubscribeItem({USER_ID}, {USER_TYPE_ID}, $(this).parent().hasClass('subscribed'));">{L_UNSUBSCRIBE}</a></span><span class="subscribers">{SUBSCRIBERS}</span></p>
<!-- ELSE -->
<p><span id="subscribe" class="subscribe-{USER_TYPE_ID}-{USER_ID} subscribe-button"><a href="{U_SUBSCRIBE}" onclick="return SubscribeItem({USER_ID}, {USER_TYPE_ID}, $(this).parent().hasClass('subscribed'));">{L_SUBSCRIBE}</a></span><span class="subscribers">{SUBSCRIBERS}</span></p>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->
		<div class="cheat-clear"></div>
	</div>
    </div>
<!-- BEGIN primitive_head_hook -->
{primitive_head_hook.BODY}
<!-- END primitive_head_hook -->

	<div id="pane-profile">
		<div id="pane-pages" class="pane">
            <!-- IF $_IS_MOBILE -->
            <h3 onclick="ShowPages()">{L_PAGES}</h3>
            <!-- ELSE -->
			<h3>{L_PAGES}</h3>
            <!-- ENDIF -->
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
		<div id="pane-profile-contact" class="pane">
			<h3>{L_CONTACT}</h3>
			<dl>
				<!-- IF LOGGED_IN -->
                <!-- IF NOT OWNER -->
                <!-- IF U_SEND_MESSAGE -->
				<dt><a href="{U_SEND_MESSAGE}" id="u-send-message"></a></dt>
				<dd><a href="{U_SEND_MESSAGE}">{L_SEND_MESSAGE}</a></dd>
                <!-- ENDIF -->
				<!--dt><a href=""></a></dt>
				<dd>Add to Favourites</dd-->
				<dt><a href="{U_ADD_FRIEND}" id="u-add-friend"></a></dt>
				<dd><a href="{U_ADD_FRIEND}">{L_ADD_TO_FRIENDS}</a></dd>
				<!--dt><a href=""></a></dt>
				<dd>Leave a Message</dd-->
				<dt><a href="{U_BLOCK_USER}" id="u-block-user"></a></dt>
				<dd><a href="{U_BLOCK_USER}">{L_BLOCK_USER}</a></dd>
                <!-- ENDIF -->
				<!-- ELSE -->
				<dt><a href="{U_REGISTER}"></a></dt>
				<dd>{L_REGISTER_TO_CONTACT}</dd>
				<!-- ENDIF -->
                <!-- BEGIN email_list -->
                <dt>{L_EMAIL}</dt>
				<dd><a href="{email_list.U_MAILTO}">{email_list.EMAIL}</a></dd>
                <!-- END email_list -->
                <!-- BEGIN phone_list -->
                <dt>{L_PHONE}</dt>
				<dd>{phone_list.PHONE_NUMBER}</dd>
                <!-- END phone_list -->
			</dl>
		</div>
		<!-- IF HAS_PROFILE_INFO -->
		<div id="pane-profile-info" class="pane">
			<h3>{L_ABOUT}</h3>
			<dl>
		    <dt>{L_JOINED}:</dt>
		    <dd>{USER_JOINED}</dd>
		    <dt>{L_LAST_SEEN}:</dt>
		    <dd>
              <!-- IF IS_ONLINE -->
              <span class="online"></span>
              <!-- ENDIF -->
            {USER_LAST_SEEN}</dd>
		    <dt>{L_PROFILE_VIEWS}:</dt>
		    <dd>{USER_PROFILE_VIEWS}</dd>
		    <dt>{L_SUBSCRIPTIONS}:</dt>
		    <dd>{USER_SUBSCRIPTIONS}</dd>
			<!-- IF USER_AGE -->
			<dt>{L_AGE}:</dt>
			<dd>{USER_AGE}</dd>
			<!-- ENDIF -->
			<!-- IF USER_GENDER -->
			<dt>{L_GENDER}:</dt>
			<dd>{USER_GENDER}</dd>
			<!-- ENDIF -->
			<!-- IF USER_COUNTRY -->
			<dt>{L_COUNTRY}:</dt>
			<dd>{USER_COUNTRY}</dd>
			<!-- ENDIF -->
			<!-- IF USER_MARITIAL_STATUS -->
			<dt>{L_MARITIAL_STATUS}:</dt>
			<dd>{USER_MARITIAL_STATUS}</dd>
			<!-- ENDIF -->
            <!-- IF USER_INTERESTED_IN_MEN OR USER_INTERESTED_IN_WOMEN -->
			<dt>{L_INTERESTED_IN}:</dt>
			<dd>
            <!-- IF USER_INTERESTED_IN_MEN -->
            {L_MEN}
            <!-- ENDIF -->
            <!-- IF USER_INTERESTED_IN_MEN AND USER_INTERESTED_IN_WOMEN -->
            {L__AND}
            <!-- ENDIF -->
            <!-- IF USER_INTERESTED_IN_WOMEN -->
            {L_WOMEN}
            <!-- ENDIF -->
            </dd>
			<!-- ENDIF -->
			<!-- IF USER_SEXUALITY -->
			<dt>{L_SEXUALITY}:</dt>
			<dd>{USER_SEXUALITY}</dd>
			<!-- ENDIF -->
			<!-- IF USER_RELIGION -->
			<dt>{L_RELIGION}:</dt>
			<dd>{USER_RELIGION}</dd>
			<!-- ENDIF -->
			</dl>
		</div>
		<!-- ENDIF -->
		<!-- BEGIN app_panel_side -->
{app_panel_side.BODY}
		<!-- END app_panel_side -->
	</div>
	<div id="profile">
    <!-- IF USER_AUTOBIOGRAPHY -->
    <div id="profile-autobiography-pane" class="pane">
    <h3>{L_AUTOBIOGRAPHY}</h3>
    <p id="status-message">{USER_AUTOBIOGRAPHY}</p>
    </div>
    <!-- ENDIF -->
    <!-- IF SHOW_FRIENDS -->
	<div id="profile-friends-pane" class="pane">
	<h3>{USER_DISPLAY_NAME_OWNERSHIP} {L_FRIENDS} ({FRIENDS})</h3>
	<!-- IF FRIENDS -->
	<ul id="profile-friends">
	<!-- BEGIN friend_list -->
		<li>
			<dl>
				<dt><span class="img-wb"><a href="{friend_list.U_PROFILE}">
				<!-- IF friend_list.TILE -->
				<img src="{friend_list.TILE}" data-at2x="{friend_list.SQUARE}" alt="{friend_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{friend_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a></span></dt>
				<dd><a href="{friend_list.U_PROFILE}">{friend_list.USER_DISPLAY_NAME}</a></dd>
			</dl>
		</li>
	<!-- END friend_list -->
	</ul>
	<div class="cheat-clear-left"></div>
	<p>{USER_DISPLAY_NAME} has {FRIENDS} {L_FRIENDS}.</p>
	<!-- ELSE -->
	<p>{L_NO_FRIENDS}</p>
	<!-- ENDIF -->
	</div>
    <!-- ENDIF -->
	<!-- BEGIN app_panel -->
{app_panel.BODY}
	<!-- END app_panel -->
	</div>
    </div>
<!-- INCLUDE page_footer.html -->