<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

    <!-- IF $_IS_MOBILE -->
	<div id="overview-profile" class="pane">
        <!-- IF PRIMITIVE_MOBILE_COVER_PHOTO -->
		<div class="info no-icon" style="height: 90px; background-image: url('{PRIMITIVE_MOBILE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info no-icon">
        <!-- ENDIF -->
        <h2>{APPLICATION_NAME}</h2>
        </div>
    </div>
    <!-- ENDIF -->

<div id="content">
    <!-- IF NOT $_IS_MOBILE -->
	<div id="overview-profile" class="pane">
		<div class="img-wb img-fl">
			<!-- IF PRIMITIVE_THUMB -->
			<img src="{PRIMITIVE_THUMB}" data-at2x="{PRIMITIVE_MOBILE}" alt="{APPLICATION_NAME} Display Picture" />
            <!-- ENDIF -->
		</div>
        <!-- IF PRIMITIVE_COVER_PHOTO -->
		<div class="info" style="height: 190px; background-image: url('{PRIMITIVE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
            
			<h2><a href="{U_APPLICATION}">{APPLICATION_NAME}</a></h2>
		<div class="cheat-clear"></div>
	</div>
    </div>

	<div id="pane-profile">
		<div id="pane-profile-overview" class="pane">
			<h3><a href="{U_APPLICATION}">{APPLICATION_NAME}</a></h3>
			<!-- IF U_MANAGE -->
			<p><span id="manage" class="post-button"><a href="{U_MANAGE}">Manage Application</a></span></p>
			<!-- ENDIF -->
			<!-- IF U_INSTALL -->
			<p><span id="install" class="post-button"><a href="{U_INSTALL}">Install This Application</a></span></p>
			<!-- ENDIF -->
			<!-- IF U_UNINSTALL -->
			<p><span id="uninstall" class="post-button"><a href="{U_UNINSTALL}">Uninstall This Application</a></span></p>
			<!-- ENDIF -->
            <!-- IF U_REVOKE -->
			<p><span id="revoke" class="post-button"><a href="{U_REVOKE}">Revoke Access</a></span></p>
			<!-- ENDIF -->
		</div>
	</div>
	<div id="profile">
	<div id="profile-group-info-pane" class="pane">
	<h3>Application Information</h3>
	<dl>
		<dt>Creator:</dt>
		<dd>{CREATOR_DISPLAY_NAME}</dd>
		<!-- IF DESCRIPTION -->
		<dt>{L_DESCRIPTION}:</dt>
		<dd>{DESCRIPTION}</dd>
		<!-- ENDIF -->
	</dl>
	</div>
	<!-- BEGIN app_panel -->
{app_panel.BODY}
	<!-- END app_panel -->
	</div>
    </div>
<!-- INCLUDE page_footer.html -->