html, body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

body {
	background: white;
	font-size: 62.5%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
}

#page {
	width: 900px;
	margin: 10px auto;
	text-align: left;
}

#head {
	height: 65px;
	padding: 0 5px;
}

div.pane 
{
	height: 1%;
	background-color: white;
}


a {
	text-decoration: none;
	color: #002299;
}

p {
	padding: 0px;
	margin: 6px 0;
}

#head h1 {
	float: left;
	margin: 0px;
	padding: 0px;
	background: url('/images/zinzam-wl.png');
	background-repeat: no-repeat;
}

#head h1 a {
	display: block;
	width: 540px;
	height: 63px;
}

#head h1 a span {
	text-indent: -5000px;
	display: block;
}

#head h2 {
	display: none;
}

#body h2 {
	font-size: 220%;
}

#body h3 {
	font-size: 180%;
}

#body h4 {
	font-size: 150%;
}

#body h5 {
	font-size: 135%;
}

#body h6 {
	font-size: 120%;
}

#head #search {
	float: right;
}

#head #search fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#head #search #search-text {
	width: 250px;
}

#head #head-nav {
	text-align: right;
	font-size: 120%;
	margin-left: 550px;
}

div#rc-top {
	height: 5px;
	font-size: 1px;
}

div#rc-bottom {
	height: 5px;
	font-size: 1px;
}

#foot {
	clear: both;
	border-top: solid 1px #D7D7D7;
}

#body {
	width: 100%;
	margin: 5px 0;
}

#new-points {
	border: solid 1px #333333;
	clear: both;
}

#new-points h2 {
	padding: 0px;
	margin: 5px;
	font-size: 120%;
}

#new-points p {
	clear: both;
	margin: 5px;
	padding: 0px;
	text-align: right;
}

#new-points ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#new-points li {
	float: left;
	width: 280px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#new-points li:hover {
	background: #EEEEEE;
}

div.avatar {
	width: 100px;
	height: 100px;
	padding: 2px;
	border: solid 1px black;
	float: left;
}

a img {
	border: none;
}

#space-filler {
	margin-right: 400px;
}

#form-register dt {
	font-weight: bold;
}

#form-register dl#form-list dt.top {
	float: left;
	width: 240px;
	display: block;
}

#form-register dl#form-list dd.top {
	margin-left: 250px;
	margin-bottom: 2px;
}

#form-login dt {
	float: left;
	width: 140px;
	display: block;
}
#form-login dd {
	margin-left: 150px;
	margin-bottom: 2px;
}

#pane-profile {
	width: 300px;
	float: right;
}

#pane-profile div.pane {
	border: solid 1px black;
	margin-bottom: 5px;
}

#pane-profile div.pane h3 {
	border-bottom: solid 1px black;
	padding: 1px 5px;
	margin: 0px;
	background-color: #CCCCCC;
	font-size: 140%;
}

#profile #pane-blog.pane h3, #profile #pane-page #page-body.normal-writing h3 {
	border-style: none;
	background: none;
}

#profile #pane-page.pane {
	background-color: #FFFFFF;
}

.normal-writing p, .normal-writing li
{
	font-size: 120%;
	line-height: 160%;
}

#pane-profile-overview dl {
	padding: 0;
	margin: 7px 0;
}

#pane-profile-info dl dt {
	float: left;
	padding: 0 5px;
	font-weight: bold;
}

#pane-profile-contact dl dt {
	float: left;
	padding: 0 5px;
}

#pane-profile-contact dl dt a {
	display: block;
	border: solid 1px black;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

#u-add-friend {
    background-image: url('/images/add-friend.png');
}

#u-block-user {
    background-image: url('/images/block-user.png');
}

#pane-profile-contact dl dd {
	height: 18px;
	padding-top: 4px;
}

#pane-pages ul {
	margin-left: 26px;
	padding-left: 0;
}

#pane-pages ul ul {
    margin-left: 20px;
}

#pane-pages ul li {
	margin: 2px 0 0;
	padding: 0;
	list-style-position: outside;
}

li.empty {
	list-style-type: none;
}

#profile {
	margin-right: 320px;
}

#profile div.pane {
	border: solid 1px black;
	margin-bottom: 5px;
}

#profile div.pane h3 {
	border-bottom: solid 1px black;
	padding: 1px 5px;
	margin: 0px;
	background-color: #CCCCCC;
	font-size: 140%;
}

#profile div#profile-group-info-pane h4 {
	padding: 3px 5px;
	margin: 0px;
	font-size: 130%;
}

#profile div.pane p {
	padding: 0 5px;
}

#pane-profile-overview div.img-fl {
	margin: 5px;
}

#pane-profile-overview dl {
	clear: none;
	width: 100%;
	overflow: visible;
}

#pane-profile-overview dt {
	display: inline;
	padding: 0 5px;
	font-weight: bold;
}
#pane-profile-overview dd {
	display: inline;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.cheat-clear {
	clear: both;
	height: 0px;
	font-size: 0px;
}

.cheat-clear-left {
	clear: left;
	height: 0px;
	font-size: 0px;
}

div.img-fl {
	float: left;
	display: inline;
}

div.img-wb {
	padding: 3px;
	margin: 0px;
	background-color: White;
	border: solid 1px black;
	font-size: 0px;
}

div.no-disp-pic {
	width: 160px;
	height: 120px;
	font-size: 12px;
	padding: 3px;
	margin: 0px;
}

span.img-wb {
	padding: 3px;
	background-color: White;
	border: solid 1px black;
	font-size: 0px;
	display: block;
	width: 100px;
}

span.no-disp-pic
{
	width: 100px;
	height: 100px;
	display: block;
	font-size: 12px;
	padding: 3px;
	margin: 0px;
}

.img-wb img {
	padding: 0px;
	margin: 0px;
}

#login-box {
	border: solid 1px #666666;
}

#login-box h3 {
	border-bottom: solid 1px #666666;
	padding: 1px 5px;
	margin: 0px;
	background-color: #CCCCCC;
	font-size: 140%;
}

#login-box fieldset {
	border: none;
}

p.error {
	color: #EE0000;
	background-color: #FFEEEE;
	border: solid 2px #CC0000;
	padding: 5px;
	font-weight: bold;
}

p.information {
	color: #0000EE;
	background-color: #EEEEFF;
	border: solid 2px #0000CC;
	padding: 5px;
	font-weight: bold;
}

p.no-permissions {
	color: #996600;
	background-color: #FFEECC;
	border: solid 2px #DDCC00;
	padding: 5px;
	font-weight: bold;
}

hr {
	border: none;
	border-top: solid 1px #999999;
}

#page-body {
	padding: 0 15px;
}

#page-body p {
	text-align: justify;
}

p.blog-date {
	margin-top: 2px;
	padding-top: 2px;
	color: #666666;
}

div.blog-post h3 {
	margin-bottom: 2px;
	padding-bottom: 2px;
}

ul#profile-friends {
	list-style: none;
	padding: 5px;
	margin: 0px;
}

ul#profile-friends dl {
	padding: 0px;
	margin: 0px;
}

ul#profile-friends li {
	float: left;
	width: 120px;
	height: 120px;
	display: inline;
}

ul#profile-friends li div {
	width: 100px;
}

div.ratebar a {
	cursor: pointer;
}

ul#comment-list {
	list-style: none;
	padding: 0px;
	margin: 5px 0;
}

ul#comment-list li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

ul#comment-list li h4 {
	font-size: 115%;
	padding: 2px;
	margin: 0px;
	background-color: #CCCCCC;
}

ul#comment-list li h4.owner {
	background-color: #BBDDEE;
}

ul#comment-list li p.time {
	float: right;
	position: relative;
	top: -1.4em;
	padding: 0px;
	margin: 0px;
	padding-right: 5px;
}

ul#comment-list li div.comment-disp-pic {
	float:left;
	width: 60px;
	height: 60px;
	padding: 0 5px;
	margin-top: 2px;
}

ul#comment-list li div.comment-disp-pic img 
{
	padding: 2px;
	border: solid 1px black;
}

ul#comment-list li div.comment-text 
{
	margin-left: 65px;
}

ul#comment-list li p.extra {
	text-align: right;
}
ul#comment-list li p.extra a {
	color: #0033CC;
}

#comment-form fieldset, #list-add-form fieldset {
	border: none;
	padding: 5px;
	margin: 0;
}

#comment-form legend, #list-add-form legend {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 5px;
}

#tabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 24px;
	margin-left: 8px;
}

#tabs li {
	float: left;
	height: 24px;
	list-style-type: none;
	background-color: #AAAAAA;
	margin-left: 1px;
}

#tabs li a {
	background-color: #DDDDDD;
	display: block;
	padding-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

#tabs li a span {
	background-color: #CCCCCC;
	display: block;
	height: 22px;
	line-height: 22px;
	padding: 0 8px;
	margin-top: 2px;
	font-weight: bold;
}

#tabs li a:hover span {
	color: #006699;
	background-color: #DDEEFF;
}

#account-panel
{
	background-color: #CCCCCC;
	padding: 5px;
}

#account-links {
	list-style-type: none;
	float: left;
	width: 200px;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
}

#account-links li {
	margin-bottom: 1px;
}

#account-links li a {
	padding: 3px 5px;
	display: block;
	cursor: pointer;
	font-weight: bold;
	background-color: #EEEEEE;
}

#account-links li a:hover {
	color: #006699;
	background-color: #DDEEFF;
}

#account-panel div.account-pane
{
	margin-left: 220px;
}

.account-pane legend {
	display: none;
}

.account-pane fieldset {
	border: none;
	padding-top: 0px;
}

.account-pane h3 {
	margin-bottom: 0px;
}

.account-pane dt {
	font-weight: bold;
}

.account-pane dd {
	margin: 0px;
}

#perms-table {
	width: 100%;
	padding: 0;
	border-collapse: collapse;
}

#perms-table td.check, #perms-table th {
	text-align: center;
}

#perms-table td, #perms-table th 
{
	background-color: #EEEEEE;
	border: solid 1px #999999;
	margin: 0px;
}

tr.even td {
	background-color: #EEEEEE;
}

tr.odd td {
	background-color: #F8F8F8;
}

tr:hover td {
	background-color: #DDEEFF;
}

#new-stuff, #x-stuff
{
	padding: 5px 2px;
}

span.post-button, span.img-button {
	border: solid 1px #333399;
	border-left: solid 8px #333399;
	padding: 2px 4px;
	margin: 2px;
	font-size: 10px;
}

span.img-button {
	padding: 0px 4px;
	font-size: 14px;
}

span.img-button img {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 2px;
}

#std-message {
	border: solid 1px #666699;
	margin-top: 50px;
	margin-bottom: 25px;
	height: 150px;
	min-height: 150px;
}

#std-message h2 {
	background-color: #EEEEFF;
	border-bottom: solid 1px #666699;
	margin-top: 0px;
	padding: 3px;
}

#std-message p {
	padding: 5px;
}

ul#group-members {
	list-style: none;
	padding: 0px;
	margin: 5px 0;
}

ul#group-members li.member {
	float: left;
	width: 50%;
	list-style: none;
	margin: 0;
}

ul#group-members li.member div.frame {
	padding: 3px;
	margin: 5px;
	border: solid 1px #6666CC;
	height: 106px;
}

ul#group-members li.member div.frame ul.details {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-left: 110px;
	margin-right: 125px;
}
ul#group-members li.member div.frame ul.details li {
	margin-bottom: 1px;
	background-color: #DDEEFF;
}

ul#group-members li.member div.frame ul.actions {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
	width: 120px;
	height: 100px;
}

ul#group-members li.member div.frame ul.actions li {
	border: solid 1px #333399;
	border-left: solid 8px #333399;
	padding: 2px 4px;
	margin: 2px;
}

#overview-profile {
	border: solid 1px black;
	margin-bottom: 5px;
	background-color: white;
}

#overview-profile div.info {
	padding: 5px;
	border-bottom: solid 1px black;
	background-color: #CCCCCC;
	padding-left: 180px;
}

#overview-profile h2, #overview-profile p {
	margin-top: 5px;
	margin-bottom: 3px;
}

#overview-profile p#status-message {
	z-index: 1;
}

#overview-profile div.img-wb {
	margin: 5px;
	z-index: 2;
}

#overview-profile dl {
	clear: none;
	overflow: visible;
	margin: 5px 0px;
	padding-left: 180px;
}

#overview-profile dt {
	display: inline;
	padding: 0 5px;
	font-weight: bold;
}
#overview-profile dd {
	display: inline;
	padding: 0px;
	margin: 0px;
	width: auto;
}

ul#today-feeds {
	list-style: none;
	padding: 0px;
	margin: 0 5px;
}

ul#today-feeds li {
	list-style: none;
	margin: 5px 0;
	padding: 5px 3px;
	border-top: solid 1px #EEEEEE;
	border-bottom: solid 1px #EEEEEE;
}

#synopsis {
	font-size: 120%;
	font-style: italic;
}

#synopsis strong {
	font-size: 110%;
}

#master-title {
	font-weight: bold;
	font-size: 220%;
	text-align: center;
	padding: 15px;
	font-family: Verdana;
}

#master-title a {
	font-weight: normal;
	font-size: 110%;
}

#title-image
{
	border-bottom: solid 3px #999999;
	border-right: solid 3px #999999;
	margin-bottom: 10px;
	width: 490px;
	height: 385px;
}

#title-image img {
	padding: 5px;
	padding-bottom: 60px;
	border: solid 1px #CCCCCC;
	position: relative;
	left: -2px;
	top: -2px;
}

#register-pill {
	text-align: center;
}

#register-pill a {
	display: block;
	width: 224px;
	height: 42px;
	background-image: url('/images/register_pill.png');
	margin: 5px auto;
}
#register-pill a span {
	display: none;
}

#site-nav {
	margin-top: 30px;
	margin-bottom: 10px;
	float: right;
	width: 200px;
	border: solid 1px #EEEEEE;
}

#site-content {
	margin-right: 210px;
	padding: 0 20px;
	margin-bottom: 20px;
}

#site-content p {
	margin-bottom: 15px;
	text-indent: 48px;
}

#site-content li {
	margin-bottom: 5px;
}

#site-content p, #site-content li {
	font-family: Garamond, Times New Roman, Times New Roman, Serif;
	line-height: 150%;
	font-size: 175%;
}

ul#permission-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li.permission-titles {
    list-style: none;
    padding: 5px;
    margin: 5px;
    background-color: #DDDDDD;
}

li dl.permission-titles {
    
}

li dl.permission-titles dt, li dl.permission-titles dd {
    float: left;
    font-weight: bold;
    width: 25%;
}

li.permission-grant dt {
    display: block;
    width: 25%;
	float: left;
}

li.permission-grant dd {
    float: left;
    display: block;
    width: 25%;
}

ul.permission-grant-list {
    list-style: none;
	padding: 0px;
	margin: 0px;
}
