* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

html, body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	min-height: 1280px;
}

body {
	background: white;
	font-size: 9pt;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
}

#page {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 10px 0;
	text-align: left;
}

#head {
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32pt;
	z-index: 10000;
}

#body {
	text-align: left;
	margin: 32pt 0 0 0;
}

#content {
    padding: 0 5px;
}

.cheat-clear {
	clear: both;
	height: 0px;
	font-size: 0px;
}

.cheat-clear-left {
	clear: left;
	height: 0px;
	font-size: 0px;
}

a {
	text-decoration: none;
	color: #002299;
}

p {
	padding: 6px 0;
	margin: 0 0;
}

h1#page-title {
	margin: 0px;
	padding: 0px;
	background: url('/images/boxsocial-logo-mobile.png');
	background-repeat: no-repeat;
	background-size: auto 32pt;
	height: 32pt;
	background-color: #fe6600;
	border-bottom: solid 1px #e74400;
	position: relative;
	width: 100%;
}

h1#page-title a {
	display: block;
	width: 100%;
	height: 32pt;
}

h1#page-title a span {
	text-indent: -5000px;
	display: block;
}

#search-button 
{
    float: right;
    height: 32pt;
    width: 32pt;
    display: block;
    position: relative;
    top: 0;
    z-index: 2;
    background-image: url('/images/mobile-symbols-48.png');
}

#post-button
{
    float: right;
    height: 32pt;
    width: 32pt;
    display: block;
    position: relative;
    top: 0;
    z-index: 2;
    background-image: url('/images/mobile-symbols-48.png');
    background-position: -44px 0;
}

#pages-button
{
    float: right;
    height: 32pt;
    width: 32pt;
    display: block;
    position: relative;
    top: 0;
    z-index: 2;
    background-image: url('/images/mobile-symbols-48.png');
    background-position: -88px 0;
}

#search-button span, #post-button span, #pages-button span 
{
    display: none;
}

#mobile-nav 
{
    clear: both;
}

h2#sub-title {
	display: none;
}

#body h2 {
	font-size: 160%;
	margin: 6px 0;
}

#body h3 {
	font-size: 140%;
	margin: 4px 0;
}

#body h4 {
	font-size: 130%;
	margin: 3px 0;
}

#body h5 {
	font-size: 120%;
	margin: 3px 0;
}

#body h6 {
	font-size: 110%;
	margin: 3px 0;
}

.page-tiles {
    padding: 0;
    margin: 5px;
    display: none;
    list-style: none;
}

.page-tiles li {
    padding: 1px 5px;
    background-color: #333333;
    color: #FFFFFF;
    list-style: none;
}

.page-tiles li a {
    color: #FFFFFF;
    display: block;
}

.page-tiles li a span {
    display: inline;
}

.page-li {
}

#foot {
	/*clear: both;*/
	height: 11em;
}

#footer {
	border-top: solid 1px #D7D7D7;
}

#clear-space {
	height: 11em;
}

#foot * {
	color: #cccccc;
}

#new-stuff, #x-stuff, .r-stuff
{
	padding: 10px 2px;
}

#x-stuff {
    text-align: center;
}

.r-stuff {
    text-align: right;
}

/* Fixes button height rendering in gecko to same as trident and webkit */
button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
  border: 0;
}

input[type="text"], input[type="password"], textarea
{
	border: 1px solid #002288;
	background: #ffffff url(images/ui-bg_glass_100_ffffff_1x400.png) 50% 50% repeat-x;
	padding: 4px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select
{
	border: 1px solid #002288;
	background: #ffffff url(images/ui-bg_glass_100_ffffff_1x400.png) 50% 50% repeat-x;
	vertical-align: -4px;
}

span.post-button, span.img-button, button {
	border-radius: 5px;
	border: 1px solid #002288;
	background: #2244aa url(images/ui-bg_flat_100_2244aa_40x100.png) 50% 50% repeat-x;
	color: #ffffff;
	margin: 2px;
	padding: 4px 16px;
}

span.subscribe-button {
	border-radius: 5px;
	border: 1px solid #eecc22;
	background: #ffee22;
	color: #664422;
	margin: 2px;
	padding: 6px 16px;
	font-size: 110%;
}

input[type="submit"] {
	border-radius: 5px;
	border: 1px solid #008822;
	background: #22aa44;
	color: #ffffff;
	margin: 2px;
	padding: 4px 16px;
}

input[type="cancel"], input[type="reset"] {
	border-radius: 5px;
	border: 1px solid #888888;
	background: #dddddd;
	color: #666666;
	margin: 2px;
	padding: 4px 16px;
}

input[type="cancel"]:hover, input[type="reset"]:hover {
    background: #ffffff;
    color: #333333;
}

span.post-button:hover, span.img-button:hover, button:hover {
    background: #ffffff url(images/ui-bg_glass_100_ffffff_1x400.png) 50% 50% repeat-x;
    color: #0044aa;
}

span.subscribe-button:hover {
    background: #f7f722;
    color: #664422;
}

input[type="submit"]:hover {
    background: #ffffff;
    color: #00aa44;
}

span.post-button a, span.img-button a {
    color: #ffffff;
}

span.post-button:hover a, span.img-button:hover a {
    color: #0044aa;
}

span.subscribe-button a {
    color: #664422;
}

.light span.img-button {
	border-radius: 3px;
	border: none;
	background: none;
	color: #888888;
	margin: 2px;
	padding: 5px 5px;
}

.light span.img-button:hover {
    border: 1px solid #cccccc;
    background: #dddddd;
    padding: 4px 4px;
}

.light span.img-button a {
    color: #888888;
}

.light span.img-button:hover a {
    color: #0044aa;
}

.white span.img-button, .white span.post-button {
	border: none;
	background: none;
	color: #ffffff;
	margin: 0 2px;
	padding: 3px 3px;
}

.white span.img-button:hover, .white span.post-button:hover {
    background: rgba(221, 221, 221, 0.4);
}

.white span.img-button a, .white span.post-button a {
    color: #ffffff;
}

.white span.img-button:hover a, .white span.post-button:hover a {
    color: #ffffff;
}

span.img-button {
	padding: 4px 4px;
	text-align: center;
}

span.img-button img {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 2px;
}

.font-sprite {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    position: relative;
    top: 2px;
    text-align: center;
}

.sprite {
    background-image: url(images/ui-icons_ffffff_256x240.png);
}

.light .sprite {
    background-image: url(images/ui-icons_888888_256x240.png);
}

.tag-sprite {
    background-position: -240px -96px;
}

.delete-sprite {
    background-position: -176px -96px;
}

.exclaim-sprite {
    background-position: -32px -144px;
}

.report-sprite {
    background-position: -16px -112px;
}

.conversation-sprite {
    background-position: -128px -96px;
}

.like-sprite {
    background-position: -208px -112px;
}

.share-sprite {
    background-position: -240px -112px;
}

.light .voteup-sprite {
    background-image: url(images/like-888888.png);
}

span.img-button:hover .voteup-sprite.sprite {
    background-image: url(images/like-007F00.png);
}

.light .votedown-sprite {
    background-image: url(images/dislike-888888.png);
}


span.img-button:hover .votedown-sprite.sprite {
    background-image: url(images/dislike-ff0000.png);
}

.light .permissions-sprite {
    background-image: url(images/permissions-888888.png);
}


span.img-button:hover .permissions-sprite.sprite {
    background-image: url(images/permissions-red.png);
}

span.img-button.voteup-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

span.img-button.votedown-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

span.img-button .sprite {
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    text-align: center;
}

span.img-button:hover .tag-sprite:hover, span.img-button:hover .sprite {
    background-image: url(images/ui-icons_0044aa_256x240.png);
}

.white span.img-button:hover .sprite {
    background-image: url(images/ui-icons_ffffff_256x240.png);
}

.upvotes {
    color: #007f00;
}

.downvotes {
    color: #ff0000;
}


#m-nav-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 32pt;
    width: 100%;
    position: relative;
    clear: both;
}

#m-nav-buttons li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    height: 28pt;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#m-nav-buttons li a
{
    display: block;
    width: 100%;
    height: 28pt;
    color: #666666;
}

#m-nav-buttons li a span
{
    display: block;
    padding-top: 14pt;
}

#m-nav-buttons li:first-child 
{
    border-top-left-radius: 7pt;
    border-bottom-left-radius: 7pt;
}

#m-nav-buttons li:last-child 
{
    border-top-right-radius: 7pt;
    border-bottom-right-radius: 7pt;
}

#search {
    display: none;
}

#post-status-div
{
    display: none;
}

ul.comment-list {
	list-style: none;
	padding: 0px;
	margin: 5px 0;
}

ul.comment-list li {
	list-style: none;
	padding: 0 0 1px 0;
	margin: 0 1px 4px 1px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #ffffff;
}

ul.comment-list li:hover {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-top: none;
    padding-bottom: 0;
    margin: 0 0 4px 0;
}

ul.comment-list li h4 {
	font-size: 115%;
	padding: 2px;
	margin: 0px;
	font-weight: normal;
	font-size: 120% !important;
	border-top: 2px solid #dddddd;
}

ul.comment-list li h4.owner {
	border-top: 2px solid #BBDDEE;
}

ul.comment-list li p.time {
	padding: 0px;
	margin: 0px;
}

ul.comment-list li div.comment-disp-pic {
	float:left;
	width: 60px;
	height: 60px;
	padding: 0 5px;
	margin-top: 2px;
}

ul.comment-list li div.comment-disp-pic img 
{
	padding: 2px;
	background-color: White;
	border: solid 1px #999999;
}

ul.comment-list li div.comment-head
{
    margin-left: 70px;
}

ul.comment-list li div.comment-text 
{
    padding: 2px;
	margin-left: 70px;
	position: relative;
}

ul.comment-list li p.extra {
	text-align: right;
	margin: 4px 0;
}
ul.comment-list li p.extra a {
	color: #0033CC;
}

.comment-form fieldset, #list-add-form fieldset {
	border: none;
	padding: 0px;
	margin: 0;
}

.comment-form legend, #list-add-form legend {
	font-size: 125%;
	font-weight: bold;
	margin: 0px;
}

.ui-content {padding: 8px !important;}
.ui-listview-filter {margin: 8px !important;}
.ui-content .ui-listview {margin: 8px !important;}

li.droplist-user, li.droplist-group {
    text-align: left;
}

li.droplist-user a {
        min-height: 32pt;
}

li.droplist-group a {
        min-height: 32pt;
}

li.droplist-user img {
        margin-right: 10px;
        float: left;
        padding: 2px;
        height: 32px;
        width: 32px;
}

.user-droplist .empty, .permission-group-droplist .empty {
        color: #999999;
        padding: 2px;
        margin: 2px;
        display: inline-block;
        cursor: pointer;
}

.user-droplist .delete, .permission-group-droplist .delete {
        margin-left: 4px;
        display: inline-block;
        width: 1.5em;
        text-align: center;
        border-radius: 3px;
}

.user-droplist .delete:hover, .permission-group-droplist .delete:hover {
        color: #2244aa;
        background-color: #ffffff;
}

.user-droplist, .permission-group-droplist {
        border: 1px solid #028;
        background-color: #ffffff;
        position: relative;
}

.user-droplist input, .permission-group-droplist input {
        border: none;
        outline: none;
        background-color: #ffffff;
        margin: 0;
        min-height: 19pt;
        width: 100%;
}

.user-droplist .username, .permission-group-droplist .username {
        border: 1px solid #002288;
	    background: #2244aa url(images/ui-bg_flat_100_2244aa_40x100.png) 50% 50% repeat-x;
        color: #ffffff;
        padding: 5pt;
        margin: 2px;
        display: inline-block;
        border-radius: 3px;
        cursor: default;
}

.permission-group-droplist .group {
        border: 1px solid #0088aa;
	    background: #22aacc;
        color: #ffffff;
        padding: 5pt;
        margin: 2px;
        display: inline-block;
        border-radius: 3px;
        cursor: default;
}

#tabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 24px;
	margin-left: 8px;
}

#tabs li {
	float: left;
	height: 19pt;
	list-style-type: none;
	background: #2244aa url(images/ui-bg_flat_100_2244aa_40x100.png) 50% 50% repeat-x;
	margin-left: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #002288;
	border-bottom: none;
	color: #ffffff;
}

#tabs li.current {
    background: #ffffff url(images/ui-bg_flat_100_ffffff_40x100.png) 50% 50% repeat-x;
}

#tabs li a {
	display: block;
	padding-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

#tabs li > span {
	display: block;
	padding-left: 2px;
	margin-right: 2px;
}

#tabs li.current a span, #tabs li.current span {
    color: #aa5500;
}

#tabs li span {
	display: block;
	height: 19pt;
	line-height: 19pt;
	padding: 0 8px;
	margin-top: 2px;
	font-weight: bold;
	color: #ffffff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tabs li:hover {
	background: #ffffff url(images/ui-bg_flat_100_ffffff_40x100.png) 50% 50% repeat-x;
}

#tabs li:hover a span {
    color: #0044aa;
}

ul#today-feeds {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#today-feeds li {
	list-style: none;
	margin: 5px 0;
	padding: 5px 0;
}

ul.feed-list {
    padding: 0;
    margin: 0;
}

ul.feed-list li.feed-item {
    margin: 5px 0;
    padding: 5px 0;
    border-top: solid 1px #EEEEEE;
}

ul.feed-list li.feed-item h5 {
	font-size: 115%;
	padding: 2px;
	margin: 0px;
	font-weight: normal;
	font-size: 120% !important;
	margin-left: 60px;
}

ul.feed-list li div.feed-disp-pic {
	float:left;
	width: 60px;
	height: 60px;
	padding: 0 5px;
	margin-top: 2px;
}

ul.feed-list li div.feed-disp-pic img 
{
	padding: 2px;
	background-color: White;
	border: solid 1px #999999;
}

ul.feed-list li div.feed-title {
    padding: 2px 0;
	margin-left: 70px;
	position: relative;
}

ul.feed-list li div.feed-text 
{
    padding: 0;
	position: relative;
	clear: left;
}

blockquote {
    border: 1px solid #CCCCCC;
    margin: 2px;
    padding: 3px;
    overflow: auto;
}

.bbcode-thumb {
    margin-right: 1px;
}

/* Menu System */
#boxsocial-menu {
    position: fixed;
    top: 32pt;
    width: 200px;
    left: -200px;
    bottom: 0px;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
    display: none;
}

#pages-menu {
    position: fixed;
    top: 32pt;
    width: 200px;
    right: -200px;
    bottom: 0px;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

#post-menu {
    position: fixed;
    height: 32pt;
    left: 0;
    right: 0;
    bottom: -200px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    text-align: left;
    font-size: 200%;
}

#post-menu h2 {
    display: none;
}

#status-submit {
    border-radius: 0;
}

#search-menu {
    position: fixed;
    height: 32pt;
    left: 0;
    right: 0;
    bottom: -100px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    text-align: left;
    font-size: 200%;
}

#search-menu h2  
{
    display: none;
}

#search-menu fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#search-menu input[type="submit"] {
    border: 1px solid #aaaaaa;
	background: #eeeeee;
	color: #888888;
    border-left: none;
    margin-left: 0;
    border-radius: 0;
}

#search-menu input[type="submit"]:hover {
    background: #cccccc;
    color: #666666;
}

#search-menu #search-text {
    border: 1px solid #aaaaaa;
    border-right: none;
    outline: none;
}

.side-menu {
    background-color: #111111;
    color: #ffffff;
}

.side-menu a {
    color: #0088FF;
}

ul.mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.mobile-list li {
    list-style: none;
    margin: 0;
    position: relative;
    border: 1px solid #191919;
    background-color: #222222;
    text-align: left;
    font-size: 10pt;
}

ul.mobile-list li a {
    display: block;
    padding: 11pt;
    width: 100%;
    height: 100%;
}

ul.mobile-list ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.mobile-list ul li {
    list-style: none;
    margin: 0;
    position: relative;
    border: 1px solid #292929;
    background-color: #333333;
    text-align: left;
    padding-left: 16pt;
}

.breadcrumbs {
    display: none;
}

div.img-fl {
	float: left;
	display: inline;
}

div.img-wb {
	padding: 3px;
	margin: 0px;
	background-color: White;
	border: solid 1px black;
	font-size: 0px;
}

#overview-profile div.info {
	padding: 5px;
	background-color: #333333;
	background-position: center;
	color: #FFFFFF;
	padding-left: 90px;
	min-height: 50px;
	background-size: cover;
}

#overview-profile div.info.no-icon {
    padding-left: 5px;
}

#overview-profile div.info a {
	color: #FFFFFF;
	text-decoration: none;
}

#overview-profile h2, #overview-profile p {
	margin-top: 5px;
	margin-bottom: 3px;
}

#overview-profile div.img-wb {
	margin: 5px;
	z-index: 2;
}

#pane-profile-overview div.img-fl {
	margin: 5px;
}

ul#profile-friends {
	list-style: none;
	padding: 5px;
	margin: 0px;
}

ul#profile-friends dl {
	padding: 0px;
	margin: 0px;
}

ul#profile-friends li {
	float: left;
	width: 60px;
	height: 60px;
	display: inline;
}

ul#profile-friends li div {
	width: 50px;
}

ul.list 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list li.list-item 
{
    list-style: none;
    padding: 3px;
    margin: 0;
    border: 1px solid #dddddd;
    border-top: 1px solid #ffffff;
    background-color: #eeeeee;
    overflow: auto;
}

ul.list li.list-item:first-child
{
    border-top: 1px solid #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul.list li.list-item:last-child
{
    border-bottom-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.list li.list-item > a
{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.list li.list-item.icon 
{
    padding-left: 110px;
    position: relative;
    height: 95px;
}

ul.list li.list-item.icon img
{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

ul.list li.list-item .count 
{
    float: right;
}

div.ui-grid-b 
{
    overflow: auto;
}

div.ui-grid-b div.ui-block-a, div.ui-grid-b div.ui-block-b, div.ui-grid-b div.ui-block-c
{
    float: left;
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}