<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ - [S=1]

RewriteRule ^(.*)$ 404.aspx?404;http://localhost:80/$0? [QSA,L]

Options -Indexes -MultiViews

</IfModule>
