<?xml version="1.0"?>
<configuration>
        <compilation debug="true" />
  <httpRuntime requestValidationMode="2.0" />
  <appSettings>
    <add key="mysql-host" value="" />
    <add key="mysql-user" value="" />
    <add key="mysql-password" value="" />
    <add key="mysql-database" value="" />
    <add key="storage-path" value="" />
    <add key="boxsocial-host" value="" />
    <add key="boxsocial-title" value="" />
    <add key="smtp-server" value="" />
    <add key="email" value="" />
    <add key="error-email" value="" />
    <add key="storage-provider" value="" />
    <add key="storage-root" value="" />
    <add key="storage-bin" value="" />
    <add key="analytics-code" value="" />
    <add key="adsense-code-header" value="" />
    <add key="adsense-code-footer" value="" />
  </appSettings>
  <system.web>

    <customErrors mode="Off" defaultRedirect="404.aspx">
      <error statusCode="403" redirect="403.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    <trace enabled="false" localOnly="false"/>

    <authentication mode="Forms">
      <forms slidingExpiration="true" name="zinzam" />
    </authentication>

  </system.web>
</configuration>
