<h3>{L_NEW_EVENT}</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>{L_NEW_EVENT}</legend>
		<dl>
			<dt><label for="subject">{L_SUBJECT}</label></dt>
			<dd><input type="text" id="subject" name="subject" value="{S_SUBJECT}" style="width: 100%;" /></dd>
			<dt><label for="location">{L_LOCATION}</label></dt>
			<dd><input type="text" id="location" name="location" value="{S_LOCATION}" style="width: 100%;" /></dd>
      <dt><label for="location">{L_INVITEES}</label></dt>
			<dd>{S_INVITEES}
        <p>You can also enter e-mail addresses to invite people who haven't joined.</p>
      </dd>
			<dt><label>{L_START_TIME}</label></dt>
			<dd>
        {S_START_DATE}
			</dd>
			<dt><label>{L_END_TIME}</label></dt>
			<dd>
        {S_END_DATE}
			</dd>
      <dt><label for="timezone">{L_TIMEZONE}</label></dt>
      <dd>{S_TIMEZONE}</dd>
			<dt><label for="description">{L_DESCRIPTION}</label></dt>
			<dd>
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 50px; border: solid 1px #666666;" cols="70" rows="4">{S_DESCRIPTION}</textarea>
				<div style="background-image: url('/images/tab_shadow.png'); background-repeat: repeat-x; position: relative; top: -2px; margin-left: 77px;">
					<div style="background-image: url('/images/bbcode_tab.png'); width: 77px; height: 18px; margin: 0px; padding: 0px; margin-left: -77px;"></div>
				</div>
			</dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="{L_SAVE}" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="calendar" />
		<input type="hidden" name="sub" value="new-event" />
		<input type="hidden" name="year" value="{S_YEAR}" />
		<input type="hidden" name="month" value="{S_MONTH}" />
		<input type="hidden" name="day" value="{S_DAY}" />
		<!-- IF EDIT -->
		<input type="hidden" name="id" value="{ID}" />
		<input type="hidden" name="mode" value="edit" />
		<!-- ENDIF -->
	</fieldset>
</form>