<h3>New Event</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>New Event</legend>
		<dl>
			<dt><label for="subject">Subject</label></dt>
			<dd><input type="text" id="subject" name="subject" value="{S_SUBJECT}" style="width: 100%;" /></dd>
			<dt><label for="location">Location</label></dt>
			<dd><input type="text" id="location" name="location" value="{S_LOCATION}" style="width: 100%;" /></dd>
      <dt><label for="location">Invitees</label></dt>
			<dd><input type="text" id="invitees" name="invitees" style="width: 100%;" />
        <p>You can also enter e-mail addresses to invite people who haven't joined.</p>
        <p>{S_INVITEES}</p>
        <input type="hidden" id="inviteeses" name="inviteeses" value="{INVITEES_ID_LIST}" />
      </dd>
			<dt><label>Start Time</label></dt>
			<dd>
				<label>Year: {S_START_YEAR}</label>
				<label>Month: {S_START_MONTH}</label>
				<label>Day: {S_START_DAY}</label>
				<label>Hour: {S_START_HOUR}</label>
				<label>Minute: {S_START_MINUTE}</label>
			</dd>
			<dt><label>End Time</label></dt>
			<dd>
				<label>Year: {S_END_YEAR}</label>
				<label>Month: {S_END_MONTH}</label>
				<label>Day: {S_END_DAY}</label>
				<label>Hour: {S_END_HOUR}</label>
				<label>Minute: {S_END_MINUTE}</label>
			</dd>
			<dt><label for="description">Description</label></dt>
			<dd>
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 50px; border: solid 1px #666666;" cols="70" rows="4">{S_DESCRIPTION}</textarea>
				<div style="background-image: url('/images/tab_shadow.png'); background-repeat: repeat-x; position: relative; top: -2px; margin-left: 77px;">
					<div style="background-image: url('/images/bbcode_tab.png'); width: 77px; height: 18px; margin: 0px; padding: 0px; margin-left: -77px;"></div>
				</div>
			</dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Save" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="calendar" />
		<input type="hidden" name="sub" value="new-event" />
		<input type="hidden" name="year" value="{S_YEAR}" />
		<input type="hidden" name="month" value="{S_MONTH}" />
		<input type="hidden" name="day" value="{S_DAY}" />
		<!-- IF EDIT -->
		<input type="hidden" name="id" value="{ID}" />
		<input type="hidden" name="mode" value="edit" />
		<!-- ENDIF -->
	</fieldset>
</form>