	<div id="today-month" style="border: solid 1px #EEEEEE; margin-bottom: 5px;">
		<h4><a href="{URI}">{CURRENT_MONTH} {CURRENT_YEAR}</a></h4>
		<div class="month-small">
			<div class="week">
				<div class="day">{L_MONDAY_2}</div>
				<div class="day">{L_TUESDAY_2}</div>
				<div class="day">{L_WEDNESDAY_2}</div>
				<div class="day">{L_THURSDAY_2}</div>
				<div class="day">{L_FRIDAY_2}</div>
				<div class="day">{L_SATURDAY_2}</div>
				<div class="day">{L_SUNDAY_2}</div>
			</div>
			<!-- BEGIN week -->
			<div class="week">
				<!-- BEGIN week.day -->
				<div class="day"><a href="{week.day.URI}">{week.day.DATE}</a></div>
				<!-- END week.day -->
			</div>
			<!-- END week -->
		</div>
	</div>