<!-- INCLUDE page_header.html -->
	<h2>{TOPIC}</h2>
	<p>{BREADCRUMBS}</p>
	<!-- IF U_NEW_TASK -->
	<div id="new-stuff">
		<span id="new-task" class="post-button"><a href="{U_NEW_TASK}">{L_NEW_TASK}</a></span>
		<span id="edit-task" class="post-button"><a href="{U_EDIT_TASK}">{L_EDIT_TASK}</a></span>
	</div>
	<!-- ENDIF -->
	<!-- IF DUE_DATE -->
	<p>{L_DUE_DATE}: {DUE_DATE}</p>
	<!-- ENDIF -->
	<!-- IF DESCRIPTION -->
	<p>{DESCRIPTION}</p>
	<!-- ENDIF -->
<!-- INCLUDE page_footer.html -->