<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
	<div id="overview-profile" class="pane">
        <!-- IF USER_MOBILE_COVER_PHOTO -->
		<div class="info no-icon" style="height: 90px; background-image: url('{USER_MOBILE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info no-icon">
        <!-- ENDIF -->
        <h2>{CURRENT_DAY} {CURRENT_MONTH} {CURRENT_YEAR}</h2>
        </div>
    </div>
<!-- ENDIF -->

<div id="content">
<!-- IF $_IS_DESKTOP -->
	<div id="overview-profile" class="pane">
        <!-- IF USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
	<h2>{CURRENT_DAY} {CURRENT_MONTH} {CURRENT_YEAR}</h2>
    </div>
    </div>
<!-- ENDIF -->

<!-- IF $_IS_DESKTOP -->
    	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">{L_NEW_EVENT}</a></span>
	</div>
	<!-- ENDIF -->
<!-- IF ALL_DAY_EVENTS -->
    <ul class="all-day-events">
      <!-- BEGIN event -->
        <li class="event" style="width: 100%; height: 32px;"><a href="{event.URI}">{event.TITLE}</a>
          <span class="ade-start-time">{event.START_TIME}</span>
        <!-- IF event.IS_BIRTHDAY -->
          (<span class="birth-date">{event.BIRTH_DATE}</span>)
          <!-- ENDIF -->
        </li>
      <!-- END event -->
    </ul>
<!-- ENDIF -->
	<ul id="day-timeslots">
		<!-- BEGIN timeslot -->
		<li>
			<dl>
				<dt>{timeslot.TIME}</dt>
				<dd>
					<!-- IF timeslot.EVENTS -->
					<ul class="day-events">
						<!-- BEGIN timeslot.event -->
						<li class="event" style="width: {timeslot.event.WIDTH}%; left: {timeslot.event.LEFT}%; top: {timeslot.event.TOP}px; height: {timeslot.event.HEIGHT}px;"><a href="{timeslot.event.URI}">{timeslot.event.TITLE}</a></li>
						<!-- END timeslot.event -->
					</ul>
					<!-- ENDIF -->
				</dd>
			</dl>
		</li>
		<!-- END timeslot -->
	</ul>
    </div>
    </div>
<!-- INCLUDE page_footer.html -->