<!-- INCLUDE page_header.html -->
	<h2>{CURRENT_DAY} {CURRENT_MONTH} {CURRENT_YEAR}</h2>
	<p>{BREADCRUMBS}</p>
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">{L_NEW_EVENT}</a></span>
	</div>
	<!-- ENDIF -->
<!-- IF ALL_DAY_EVENTS -->
    <ul class="all-day-events">
      <!-- BEGIN event -->
        <li class="event" style="width: 100%; height: 32px;"><a href="{event.URI}">{event.TITLE}</a>
          <span class="ade-start-time">{event.START_TIME}</span>
        <!-- IF event.IS_BIRTHDAY -->
          (<span class="birth-date">{event.BIRTH_DATE}</span>)
          <!-- ENDIF -->
        </li>
      <!-- END event -->
    </ul>
<!-- ENDIF -->
	<ul id="day-timeslots">
		<!-- BEGIN timeslot -->
		<li>
			<dl>
				<dt>{timeslot.TIME}</dt>
				<dd>
					<!-- IF timeslot.EVENTS -->
					<ul class="day-events">
						<!-- BEGIN timeslot.event -->
						<li class="event" style="width: 100%; height: {timeslot.event.HEIGHT}px;"><a href="{timeslot.event.URI}">{timeslot.event.TITLE}</a></li>
						<!-- END timeslot.event -->
					</ul>
					<!-- ENDIF -->
				</dd>
			</dl>
		</li>
		<!-- END timeslot -->
	</ul>
<!-- INCLUDE page_footer.html -->