<!-- INCLUDE page_header.html -->

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<div id="content">
	<div id="overview-profile" class="pane">
        <!-- IF $_IS_DESKTOP AND USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
	<h2>{SUBJECT}</h2>
	</div>
    </div>

    	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
	<div id="profile">
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">{L_NEW_EVENT}</a></span>
    <!-- IF U_EDIT_EVENT -->
		<span id="edit-event" class="post-button"><a href="{U_EDIT_EVENT}">{L_EDIT_EVENT}</a></span>
    <!-- ENDIF -->
    <!-- IF U_EDIT_PERMISSIONS -->
    <span id="edit-event" class="post-button"><a href="{U_EDIT_PERMISSIONS}">{L_EDIT_PERMISSIONS}</a></span>
    <!-- ENDIF -->
    <!-- IF U_DELETE_EVENT -->
    <span id="delete-event" class="post-button"><a href="{U_DELETE_EVENT}">{L_DELETE_EVENT}</a></span>
    <!-- ENDIF -->
	</div>
	<!-- ENDIF -->
	<!-- IF LOCATION -->
	<p>{L_LOCATION}: {LOCATION}</p>
	<!-- ENDIF -->
	<p>{L_START_TIME}: {START_TIME}</p>
	<p>{L_END_TIME}: {END_TIME}</p>
	<!-- IF DESCRIPTION -->
	<p>{DESCRIPTION}</p>
	<!-- ENDIF -->
<!-- IF INVITEES -->
<div id="profile-friends-pane" class="pane">
  <h3>{L_ATTENDING} ({ATTENDEES})</h3>
  	<!-- IF ATTENDEES -->
  <!--p><a href="{U_ATTENDEES}">View All</a></p-->
	<ul id="profile-friends">
	<!-- BEGIN attendee_list -->
		<li>
			<dl>
				<dt><span class="img-wb"><a href="{attendee_list.U_PROFILE}">
				<!-- IF attendee_list.TILE -->
				<img src="{attendee_list.TILE}" alt="{attendee_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{attendee_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a></span></dt>
				<dd><a href="{attendee_list.U_PROFILE}">{attendee_list.USER_DISPLAY_NAME}</a></dd>
			</dl>
		</li>
	<!-- END attendee_list -->
	</ul>
	<div class="cheat-clear-left"></div>
	<p>
    There {L_IS_ARE} {ATTENDEES} people attending this event.</p>
	<!-- ELSE -->
	<p>There are no people attending this event.</p>
	<!-- ENDIF -->

  <!-- IF MAYBE_ATTENDING -->
  <h3>Maybe Attending ({MAYBE_ATTENDING})</h3>
	<ul id="profile-friends">
	<!-- BEGIN maybe_attending_list -->
		<li>
			<dl>
				<dt><span class="img-wb"><a href="{maybe_attending_list.U_PROFILE}">
				<!-- IF maybe_attending_list.TILE -->
				<img src="{maybe_attending_list.TILE}" alt="{maybe_attending_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{maybe_attending_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a></span></dt>
				<dd><a href="{maybe_attending_list.U_PROFILE}">{maybe_attending_list.USER_DISPLAY_NAME}</a></dd>
			</dl>
		</li>
	<!-- END maybe_attending_list -->
	</ul>
	<div class="cheat-clear-left"></div>
  <!-- ENDIF -->
  
  <!-- IF NOT_ATTENDING -->
  <h3>{L_NOT_ATTENDING} ({NOT_ATTENDING})</h3>
	<ul id="profile-friends">
	<!-- BEGIN not_attending_list -->
		<li>
			<dl>
				<dt><span class="img-wb"><a href="{not_attending_list.U_PROFILE}">
				<!-- IF not_attending_list.TILE -->
				<img src="{not_attending_list.TILE}" alt="{not_attending_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{not_attending_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a></span></dt>
				<dd><a href="{not_attending_list.U_PROFILE}">{not_attending_list.USER_DISPLAY_NAME}</a></dd>
			</dl>
		</li>
	<!-- END not_attending_list -->
	</ul>
	<div class="cheat-clear-left"></div>
  <!-- ENDIF -->
  
  <!-- IF NOT_RESPONDED -->
  <h3>{L_HAVE_NOT_RESPONDED} ({NOT_RESPONDED})</h3>
	<ul id="profile-friends">
	<!-- BEGIN unresponded_list -->
		<li>
			<dl>
				<dt><span class="img-wb"><a href="{unresponded_list.U_PROFILE}">
				<!-- IF unresponded_list.TILE -->
				<img src="{unresponded_list.TILE}" alt="{unresponded_list.USER_DISPLAY_NAME}" />
				<!-- ELSE -->
				<img src="/images/no_picture_100.png" alt="{unresponded_list.USER_DISPLAY_NAME}" />
				<!-- ENDIF -->
				</a></span></dt>
				<dd><a href="{unresponded_list.U_PROFILE}">{unresponded_list.USER_DISPLAY_NAME}</a></dd>
			</dl>
		</li>
	<!-- END unresponded_list -->
	</ul>
	<div class="cheat-clear-left"></div>
  <!-- ENDIF -->
</div>
<div id="comments" class="comment-pane">
  <!-- INCLUDE pane.comments.html -->
</div>
<!-- IF PAGINATION -->
<p>{PAGINATION}</p>
<!-- ENDIF -->
<!-- ENDIF -->
</div>
</div>
<!-- INCLUDE page_footer.html -->