<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
    	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>{L_PAGES}</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">

<div>
  <p>
    <a href="{U_PREVIOUS_YEAR}">&lt;&lt; {L_PREVIOUS_YEAR}</a> |
    <a href="{U_NEXT_YEAR}">{L_NEXT_YEAR}&gt;&gt;</a>
  </p>
</div>
<ul class="year" style="list-style: none; padding: 0px; margin: 0 2px; overflow: auto;">
<!-- BEGIN month -->
  <li style="float: left; width: 32%; height: 185px;">
    <div style="margin: auto; width: 190px;">
    <h3><a href="{month.U_MONTH}">{month.MONTH}</a></h3>
<div class="month-small">
  <div class="week">
    <div class="day">{L_MONDAY_2}</div>
    <div class="day">{L_TUESDAY_2}</div>
    <div class="day">{L_WEDNESDAY_2}</div>
    <div class="day">{L_THURSDAY_2}</div>
    <div class="day">{L_FRIDAY_2}</div>
    <div class="day">{L_SATURDAY_2}</div>
    <div class="day">{L_SUNDAY_2}</div>
  </div>
  <!-- BEGIN month.week -->
  <div class="week">
    <!-- BEGIN month.week.day -->
    <div class="day">
      <a href="{month.week.day.URI}">{month.week.day.DATE}</a>
    </div>
    <!-- END month.week.day -->
  </div>
  <!-- END month.week -->
</div>
  </div>
  </li>
<!-- END month -->
</ul>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->