<!-- INCLUDE page_header.html -->
	<h2>{SUBJECT}</h2>
	<p>{BREADCRUMBS}</p>
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">New Event</a></span>
		<span id="edit-event" class="post-button"><a href="{U_EDIT_EVENT}">Edit Event</a></span>
	</div>
	<!-- ENDIF -->
	<!-- IF LOCATION -->
	<p>Location: {LOCATION}</p>
	<!-- ENDIF -->
	<p>Start Time: {START_TIME}</p>
	<p>End Time: {END_TIME}</p>
	<!-- IF DESCRIPTION -->
	<p>{DESCRIPTION}</p>
	<!-- ENDIF -->
<!-- INCLUDE page_footer.html -->