<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>{L_PAGES}</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">{L_NEW_EVENT}</a></span>
	</div>
    <!-- ENDIF -->
<div>
  <p>
    <a href="{U_PREVIOUS_MONTH}">&lt;&lt; {L_PREVIOUS_MONTH}</a> | 
    <a href="{U_NEXT_MONTH}">{L_NEXT_MONTH}&gt;&gt;</a>
  </p>
</div>
	
		<div class="month">
			<div class="week-head">
            <!-- IF $_IS_MOBILE -->
				<div class="day">{L_MONDAY_2}</div>
				<div class="day">{L_TUESDAY_2}</div>
				<div class="day">{L_WEDNESDAY_2}</div>
				<div class="day">{L_THURSDAY_2}</div>
				<div class="day">{L_FRIDAY_2}</div>
				<div class="day">{L_SATURDAY_2}</div>
				<div class="day">{L_SUNDAY_2}</div>
            <!-- ELSE -->
				<div class="day">{L_MONDAY}</div>
				<div class="day">{L_TUESDAY}</div>
				<div class="day">{L_WEDNESDAY}</div>
				<div class="day">{L_THURSDAY}</div>
				<div class="day">{L_FRIDAY}</div>
				<div class="day">{L_SATURDAY}</div>
				<div class="day">{L_SUNDAY}</div>
			<!-- ENDIF -->
            </div>
			<!-- BEGIN week -->
			<div class="week">
				<!-- BEGIN week.day -->
				<div class="day {week.day.CLASS}">
					<a href="{week.day.URI}">{week.day.DATE}</a>
					<!-- IF week.day.EVENTS -->
					<ul>
						<!-- BEGIN week.day.event -->
						<li><a href="{week.day.event.URI}">{week.day.event.START_TIME} {week.day.event.TITLE}</a></li>
						<!-- END week.day.event -->
					</ul>
					<!-- ENDIF -->
				</div>
				<!-- END week.day -->
			</div>
			<!-- END week -->
		</div>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->