<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>{L_PAGES}</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
	<!-- IF U_NEW_EVENT -->
	<div id="new-stuff">
		<span id="new-event" class="post-button"><a href="{U_NEW_EVENT}">{L_NEW_EVENT}</a></span>
	</div>
	<!-- ENDIF -->
	<!-- IF HAS_EVENTS -->
		<ul id="today-events">
			<!-- BEGIN appointment_days_list -->
			<li>
				<h5>{appointment_days_list.DAY}</h5>
				<dl>
					<!-- BEGIN appointment_days_list.appointments_list -->
					<dt>{appointment_days_list.appointments_list.TIME}</dt>
					<dd><a href="{appointment_days_list.appointments_list.URI}">{appointment_days_list.appointments_list.SUBJECT}
					<!-- IF appointment_days_list.appointments_list.LOCATION -->
					({appointment_days_list.appointments_list.LOCATION})
					<!-- ENDIF --></a>
					</dd>
					<!-- END appointment_days_list.appointments_list -->
				</dl>
			</li>
			<!-- END appointment_days_list -->
		</ul>
	<!-- ENDIF -->
    </div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->