<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
    	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
	<!-- IF U_NEW_TASK -->
	<div id="new-stuff">
		<span id="new-task" class="post-button"><a href="{U_NEW_TASK}">{L_NEW_TASK}</a></span>
		<span id="edit-task" class="post-button"><a href="{U_EDIT_TASK}">{L_EDIT_TASK}</a></span>
	</div>
	<!-- ENDIF -->
	<!-- IF DUE_DATE -->
	<p>{L_DUE_DATE}: {DUE_DATE}</p>
	<!-- ENDIF -->
	<!-- IF DESCRIPTION -->
	<p>{DESCRIPTION}</p>
	<!-- ENDIF -->
    </div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->