<!-- INCLUDE page_header.html -->

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
	<div id="overview-profile" class="pane">
        <!-- IF USER_MOBILE_COVER_PHOTO -->
		<div class="info no-icon" style="height: 90px; background-image: url('{USER_MOBILE_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info no-icon">
        <!-- ENDIF -->
        <h2>{L_TASKS}</h2>
        </div>
    </div>
<!-- ENDIF -->

<div id="content">
<!-- IF $_IS_DESKTOP -->
	<div id="overview-profile" class="pane">
        <!-- IF USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
	<h2>{L_TASKS}</h2>
    </div>
    </div>
<!-- ENDIF -->

<!-- IF $_IS_DESKTOP -->
	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
	<!-- IF U_NEW_TASK -->
	<div id="new-stuff">
		<span id="new-task" class="post-button"><a href="{U_NEW_TASK}">{L_NEW_TASK}</a></span>
	</div>
	<!-- ENDIF -->
	<!-- IF HAS_TASKS -->
	<ul id="today-tasks-list">
		<!-- BEGIN task_days -->
		<li><strong>{task_days.DAY}</strong>
			<!-- BEGIN task_days.task_list -->
			<dl>
				<dt>{task_days.task_list.DATE}</dt>
				<dd>
					<span class="{task_days.task_list.CLASS}">
					{task_days.task_list.PRIORITY}
					<a href="{task_days.task_list.URI}">{task_days.task_list.TOPIC}</a>
					<!-- NOT IF task_days.task_list.COMPLETE -->
					<a href="{task_days.task_list.U_MARK_COMPLETE}" onclick="return MarkTaskComplete({task_days.task_list.ID});" title="Mark Task Complete">[O]</a>
					<!-- ENDIF -->
					</span>
				</dd>
			</dl>
			<!-- END task_days.task_list -->
		</li>
		<!-- END task_days -->
	</ul>
	<!-- ENDIF -->
    </div>
    </div>
<!-- INCLUDE page_footer.html -->