<h3>Manage Song</h3>

<form action="{U_ACCOUNT}" method="post">
	<fieldset>
		<legend>Manage Song</legend>
		<dl>
			<dt><label for="title">Title</label></dt>
			<dd><input type="text" id="title" name="title" value="{S_TITLE}" style="width: 100%;" /></dd>
			<dt><label for="post">Lyrics</label></dt>
			<dd>
				<textarea id="lyrics" name="lyrics" style="margin: 0px; width: 100%; height: 250px;" cols="70" rows="15">{S_LYRICS}</textarea>
			</dd>
      <dt><label for="license">Song License</label></dt>
			<dd>{S_LICENSE} <a href="">Learn More...</a></dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Save" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="music" />
		<input type="hidden" name="sub" value="songs" />
    <input type="hidden" name="mode" value="{S_MODE}" />
		<!-- IF S_ID -->
		<input type="hidden" name="id" value="{S_ID}" />
		<!-- ENDIF -->
	</fieldset>
</form>