<!-- INCLUDE page_header.html -->

<h2>Gig {CITY} {YEAR}</h2>
<p>{BREADCRUMBS}</p>

<dl>
  <dt>City</dt>
  <dd>{CITY}</dd>
  <dt>Venue</dt>
  <dd>{VENUE}</dd>
  <dt>Time</dt>
  <dd>{TIME}</dd>
  <dt>Tickets</dt>
  <!-- IF U_TICKETS -->
  <dd><a href="{U_TICKETS}">Purchase online [external link]</a></dd>
  <!-- ENDIF -->
  <!-- IF IS_TICKETS_AT_DOOR -->
  <dd>Tickets avaliable at the door</dd>
  <!-- ENDIF -->
</dl>

<p>{ABSTRACT}</p>

<div class="comment-pane">
  <!-- INCLUDE pane.comments.html -->
</div>

<!-- INCLUDE musician_footer -->
<!-- INCLUDE page_footer.html -->