<!-- INCLUDE page_header.html -->

<h2>{L_DISCOGRAPHY}</h2>
<p>{BREADCRUMBS}</p>

<!-- IF album_list -->
<ul>
<!-- BEGIN album_list -->
<li></li>
<!-- END album_list -->
<ul>
<!-- ENDIF -->

<!-- IF single_list -->
<ul>
<!-- BEGIN single_list -->
<li></li>
<!-- END single_list -->
<ul>
<!-- ENDIF -->

<!-- IF ep_list -->
<ul>
<!-- BEGIN ep_list -->
<li></li>
<!-- END ep_list -->
<ul>
<!-- ENDIF -->

<!-- IF demo_list -->
<ul>
<!-- BEGIN demo_list -->
<li></li>
<!-- END demo_list -->
<ul>
<!-- ENDIF -->

<!-- IF dvd_list -->
<ul>
<!-- BEGIN dvd_list -->
<li></li>
<!-- END dvd_list -->
<ul>
<!-- ENDIF -->

<!-- IF compilation_list -->
<ul>
<!-- BEGIN compilation_list -->
<li></li>
<!-- END compilation_list -->
<ul>
<!-- ENDIF -->

<!-- INCLUDE musician_footer -->
<!-- INCLUDE page_footer.html -->