<h3>Application Icon</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>Application Icon</legend>
    <!-- IF I_ICON -->
		<p><img src="{I_ICON}" alt="Application Icon" /></p>
    <!-- ENDIF -->
		<dl>
			<dt><label for="photo-file">Select File</label></dt>
			<dd><input type="file" id="photo-file" name="photo-file" /></dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="{L_SAVE}" /></dd>
		</dl>
		<input type="hidden" name="module" value="applications" />
		<input type="hidden" name="sub" value="icon" />
	</fieldset>
</form>