<h3>Manage Musician Memberships</h3>

<a href="{U_REGISTER_MUSICIAN}">Register Musician</a>

<table style="width: 100%">
<tr>
	<th></th>
	<th>{L_FANS}</th>
	<th></th>
	<th></th>
</tr>
<!-- IF musician_list -->
<!-- BEGIN musician_list -->
<!-- IF musician_list.$_INDEX_EVEN -->
  <tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{musician_list.U_MUSICIAN}">{musician_list.DISPLAY_NAME}</a></td>
	<td>{musician_list.FANS}</td>
	<td><a href="{musician_list.U_MANAGE}">{L_MANAGE}</a></td>
	<td><a href="{musician_list.U_LEAVE}">{L_LEAVE}</a>
  </td>
</tr>
<!-- END musician_list -->
<!-- ELSE -->
    <tr>
      <td colspan="4">
        You are not associated with any musical acts.
      </td>
    </tr>
<!-- ENDIF -->
</table>