<h3>Manage Tours</h3>

<a href="{U_ADD_TOUR}">Add Tour</a>

<table style="width: 100%">
<tr>
	<th>Title</th>
	<th>Year</th>
	<th>Gigs</th>
	<th></th>
	<th></th>
  <th></th>
</tr>
<!-- BEGIN tour_list -->
<!-- IF tour_list.INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{tour_list.TITLE}</td>
  <td>{tour_list.YEAR}</td>
	<td><a href="{tour_list.U_GIGS}">{tour_list.GIGS}</a></td>
	<td><a href="{tour_list.U_ADD_GIG}">Add Gig</a></td>
	<td><a href="{tour_list.U_EDIT}">{L_EDIT}</a></td>
	<td><a href="{tour_list.U_DELETE}">{L_DELETE}</a>
  </td>
</tr>
<!-- END tour_list -->
</table>