<!-- INCLUDE page_header.html -->

<h2><a href="{U_MUSICIAN}">{MUSICIAN_DISPLAY_NAME}</a></h2>

<div id="pane-profile">
  <div class="pane">
  <h3><a href="{U_MUSICIAN}">{MUSICIAN_DISPLAY_NAME}</a></h3>
  <dl>
    <dt>{L_JOINED}:</dt>
    <dd>{DATE_JOINED}</dd>
  </dl>
  <!-- IF U_BECOME_FAN -->
			<p><span id="fan-musiciain" class="post-button"><a href="{U_BECOME_FAN}">Become a Fan</a></span></p>
			<!-- ENDIF -->
  <!-- IF U_MUSICIAN_ACCOUNT -->
			<p><span id="account-musician" class="post-button"><a href="{U_MUSICIAN_ACCOUNT}">Musician Account Panel</a></span></p>
			<!-- ENDIF -->
</div>
  
<!-- IF MEMBERS_PANE -->
<div class="pane">
  <h3>{L_GROUP_MEMBERS}</h3>
  <ul>
    <!-- BEGIN member_list -->
    <li><a href="{member_list.U_MEMBER}">{member_list.STAGE_NAME}</a></li>
    <!-- END member_list -->
  </ul>
</div>
<!-- ENDIF -->
  
		<div id="pane-pages" class="pane">
			<h3>Pages</h3>
			<ul>
				{PAGE_LIST}
			</ul>
		</div>

  <!-- BEGIN app_panel_side -->
  {app_panel_side.BODY}
  <!-- END app_panel_side -->
</div>

<div id="profile">
<!-- IF BIOGRAPHY -->
  <div id="profile-autobiography" class="pane normal-writing">
    <h3>Biography</h3>
    <p>{BIOGRAPHY}</p>
  </div>
<!-- ENDIF -->

<!-- BEGIN app_panel -->
{app_panel.BODY}
<!-- END app_panel -->

</div>

<!-- INCLUDE page_footer.html -->