<!-- INCLUDE email_header.html -->

<p>Hello {TO_NAME},</p>

<p>You have requested a password reset for {SITE_TITLE}. Before you can use the
new password below, you must first activate it by clicking the link below:<br />
{U_ACTIVATE}</p>

<p>Once activated you will be able to use the new password below:<br />
<strong>Username:</strong> {USERNAME}<br />
<strong>New Password:</strong> {PASSWORD}</p>

<p>Remember to change your password once you have signed in.</p>

<p>The {SITE_TITLE} Team</p>

<hr style="border: 1px solid #888888"/>

<p>This e-mail was intended for the above receipient only. If you did not
register this account, you can disregard this e-mail.</p>
<!-- INCLUDE email_footer.html -->