<!-- INCLUDE email_header.html -->
<p>Hello {TO_NAME},</p>

<p>{L_YOU_HAVE_RECEIVED_THE_FOLLOWING_NOTIFICATION}</p>

<p>{NOTIFICATION_MESSAGE}</p>

<!-- IF NOTIFICATION_BODY -->
<p style="padding: 5px; border: solid 1px #dddddd; background: #eeeeee;">{NOTIFICATION_BODY}</p>
<!-- ENDIF -->

<!-- IF actions_list -->
<p>
<!-- BEGIN actions_list -->
<span style="padding: 5px; margin: 5px; border-radius: 3px; background-color: #ffaa55; color: #ffffff; font-weight: bold;"><a href="{actions_list.U_ACTION}">{actions_list.ACTION}</a></span>
<!-- END actions_list -->
</p>
<!-- ENDIF -->

<p>The {SITE_TITLE} Team</p>

<!-- INCLUDE notification_footer.html -->
<!-- INCLUDE email_footer.html -->