
.status-post {
    min-height: 62px;
}

.status-post:hover, #compose-status:hover, .status-post.active {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-top: none;
}

#compose-status h3 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 120%;
}

.status-disp-pic {
	float:left;
	width: 60px;
	height: 60px;
	padding: 0 5px;
	margin-top: 2px;
}

.status-disp-pic img {
	padding: 2px;
	background-color: White;
	border: solid 1px #999999;
}

.status-body {
    padding: 2px;
	margin-left: 70px;
	position: relative;
}

ul#small-friends {
	list-style: none;
	padding: 2px;
	margin: 0px;
	width: 246px;
	overflow: hidden;
}

ul#small-friends dl {
	padding: 0px;
	margin: 0px;
}

ul#small-friends li {
	margin-right: 2px;
	height: 42px;
}

ul#small-friends li img {
    float: left;
    width: 40px;
	height: 40px;
}

ul#small-friends .small-friend-info {
    margin-left: 42px;
    padding: 3px;
}