<h3>{L_FORUM_RANKS}</h3>

<div id="new-stuff">
	<span id="new-rank" class="post-button"><a href="{U_NEW_RANK}">{L_NEW_RANK}</a></span>
</div>

<table style="width: 100%">
  <tr>
    <th>{L_RANK}</th>
    <th>{L_SPECIAL}</th>
    <th>{L_MINIMUM_POSTS}</th>
    <th></th>
    <th></th>
  </tr>
  <!-- BEGIN rank_list -->
  <!-- IF rank_list.INDEX_EVEN -->
  <tr class="even">
    <!-- ELSE -->
    <tr class="odd">
      <!-- ENDIF -->
      <td>{rank_list.RANK}</td>
      <td>{rank_list.SPECIAL}</td>
      <td>{rank_list.MINIMUM_POSTS}</td>
      <td>
        <a href="{rank_list.U_EDIT}">{L_EDIT}</a>
      </td>
      <td>
        <a href="{rank_list.U_DELETE}">{L_DELETE}</a>
      </td>
    </tr>
    <!-- END rank_list -->
  </table>