<!-- IF EDIT -->
<h3>{L_EDIT_FORUM}</h3>
<p>Manage forums.</p>
<!-- ELSE -->
<h3>{L_CREATE_NEW_FORUM}</h3>
<!-- ENDIF -->

<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->

<form action="{S_ACCOUNT}" method="post">
  <fieldset>
    <!-- IF EDIT -->
    <legend>{L_EDIT_FORUM}</legend>
    <!-- ELSE -->
    <legend>{L_CREATE_NEW_FORUM}</legend>
    <!-- ENDIF -->
    <dl>
      <dt>
        <label for="type">{L_FORUM_TYPE}</label>
      </dt>
      <dd>
        {S_FORUM_TYPE}
      </dd>
      <!--dt>
        <label for="type">{L_FORUM_PARENT}</label>
      </dt>
      <dd>
        {S_FORUM_PARENT}
      </dd-->
      <dt>
        <label for="title">{L_FORUM_TITLE}</label>
      </dt>
      <dd>
        {S_TITLE}
      </dd>
      <dt>
        <label for="description">{L_FORUM_DESCRIPTION}</label>
      </dt>
      <dd>
        {S_DESCRIPTION}
      </dd>
      <dt>
        <label for="rules">{L_FORUM_RULES}</label>
      </dt>
      <dd>
        {S_RULES}
      </dd>
      <!--dt><label>Forum Permissions</label></dt>
      <dd>
        {S_FORUM_PERMS}
      </dd-->
      <dt></dt>
      <dd>
        <input type="submit" name="save" value="{L_SAVE}" />
      </dd>
    </dl>
    <input type="hidden" name="module" value="forum" />
    <input type="hidden" name="sub" value="forum" />
    <!-- IF EDIT -->
    <input type="hidden" name="mode" value="edit" />
    <!-- ELSE -->
    <input type="hidden" name="mode" value="new" />
    <!-- ENDIF -->
    <input type="hidden" name="id" value="{S_ID}" />
  </fieldset>
</form>