<h3>{L_FORUM_SETTINGS}</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>{L_FORUM_SETTINGS}</legend>
		<dl>
			<dt><label for="topics-per-page">{L_TOPICS_PER_PAGE}</label></dt>
			<dd><input type="text" id="topics-per-page" name="topics-per-page" value="{S_TOPICS_PER_PAGE}" style="width: 100%;" /></dd>
      <dt><label for="posts-per-page">{L_POSTS_PER_PAGE}</label></dt>
			<dd><input type="text" id="posts-per-page" name="posts-per-page" value="{S_POSTS_PER_PAGE}" style="width: 100%;" /></dd>
			<dd><input type="submit" name="save" value="{L_SAVE}" /></dd>
		</dl>
		<input type="hidden" name="module" value="forum" />
		<input type="hidden" name="sub" value="settings" />
	</fieldset>
</form>