<h3>{L_FORUM_MEMBER}</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>{L_FORUM_MEMBER}</legend>
		<dl>
			<dt>{L_USERNAME}</dt>
			<dd>{S_USERNAME}</dd>
			<dt><label for="rank">{L_RANK}</label></dt>
			<dd>{S_RANK}</dd>
			<dt><label for="signature">{L_SIGNATURE}</label></dt>
			<dd>
        {S_SIGNATURE}
			</dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="{L_SAVE}" /></dd>
		</dl>
		<input type="hidden" name="module" value="forum" />
		<input type="hidden" name="sub" value="members" />
		<input type="hidden" name="mode" value="edit" />
		<input type="hidden" name="id" value="{S_ID}" />
	</fieldset>
</form>