<h3>{L_MANAGE_FORUMS}</h3>
<p>{L_MANAGE_FORUMS_PROSE}</p>

<div id="new-stuff">
	<!-- IF U_CREATE_FORUM -->
	<span id="new-forum" class="post-button"><a href="{U_CREATE_FORUM}">{L_CREATE_NEW_FORUM}</a></span>
	<!-- ENDIF -->
</div>

<table style="width: 100%">
  <tr>
    <th>{L_FORUM_CATEGORY}</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <!-- BEGIN forum_list -->
  <!-- IF forum_list.INDEX_EVEN -->
  <tr class="even">
    <!-- ELSE -->
    <tr class="odd">
      <!-- ENDIF -->
      <td><a href="{forum_list.U_SUB_FORUMS}">{forum_list.TITLE}</a></td>
      <td>
        <a href="{forum_list.U_VIEW}">{L_VIEW}</a>
      </td>
      <td>
        <a href="{forum_list.U_EDIT}">{L_EDIT}</a>
      </td>
      <td>
        <!--a href="{forum_list.U_DELETE}">{L_DELETE}</a-->
      </td>
      <td>
        <a href="{forum_list.U_MOVE_UP}">{L_MOVE_UP}</a>
      </td>
      <td>
        <a href="{forum_list.U_MOVE_DOWN}">{L_MOVE_DOWN}</a>
      </td>
      <td>
        <a href="{forum_list.U_EDIT_PERMISSION}">Edit Permission⌨</a>
      </td>
    </tr>
    <!-- END forum_list -->
  </table>