<h3>{L_FORUM_MEMBERS}</h3>

<table style="width: 100%">
  <tr>
    <th>{L_RANK}</th>
    <th>{L_POSTS}</th>
    <th></th>
    <th></th>
  </tr>
  <!-- BEGIN members -->
  <!-- IF members.INDEX_EVEN -->
  <tr class="even">
    <!-- ELSE -->
    <tr class="odd">
      <!-- ENDIF -->
      <td>{members.DISPLAY_NAME}</td>
      <td>{members.POSTS}</td>
      <td>
        <a href="{members.U_EDIT}">{L_EDIT}</a>
      </td>
      <td>
        <a href="{members.U_BAN}">{L_BAN}</a>
      </td>
    </tr>
    <!-- END members -->
  </table>