<!-- INCLUDE page_header.html -->
<!-- INCLUDE forum_header -->
<p>{BREADCRUMBS}</p>
<h2>Forum Help</h2>

<h3>Post Formatting</h3>
<h4>What is BBCode?</h2>
<p>BBCode is a special formatting markup that has been developed specifically for internet forums. It is based on original codes used by Ultimate Bulletin Board. More on the <a href="http://en.wikipedia.org/wiki/BBCode">history of BBCode</a> can be read on wikipedia. BBCode is simillar to HTML using tags that are defined by square brackets rather than angle brackets. For more information on the BBCodes you can use see the <a href="http://boxsocial.net/bbcode">BBCode guide</a>.</p>

<h4>Can I use HTML?</h2>
<p>HTML has been disabled in this software, it is not possible to use HTML, though you may use BBCodes for simple formatting and layout.</p>

<h4>Can I use images in my posts?</h4>
<p>Yes, images can be directly used in posts using the image BBCode ([img]image url[/img]). Images must be stored on a separate server, or uploaded to your personal gallery and linked.</p>

<h4>Can I embed videos into my posts?</h4>
<p>There is a youtube BBCode ([youtube]video url[/youtube]) that can be used. Generally embedding videos requires HTML markup which is disabled.</p>

<h3>Attachments</h3>
<h4>Can I attach files to posts?</h4>
<p>The forum currently does not allow attaching files to posts.</p>

<h3>Private Messaging</h3>
<h4>Can I send other members private messages?</h4>
<p>The forum application does not currently have a private messaging function.</p>

<h3>Groups and Moderators</h3>
<h4>What is a sub group?</h4>
<p>A sub group is a grouping of group members that can have a set of common characteristics. The forum uses sub groups to give a group of members permissions to view private forums and ranks.</p>

<h4>What is an Operator?</h4>
<p>An operator is a super user who can add and remove users from groups, subgroups, administrate the group and forum settings, and have full moderation permissions on the forums.</p>

<h4>What is a Moderator?</h4>
<p>A moderator is a super user who maintain the forum posts. They can delete posts and topics, lock and unlock topics, move topics between forums, and split and merge topics. Moderators ensure that topics are posted in the correct forum and are kept from going off-topic. Moderators are also there to prevent offensive and abusive material from being posted.</p>

<!-- INCLUDE page_footer.html -->