<h3>Main</h3>

<form action="{S_MCP}" method="post">
  <fieldset>
    <legend>Main</legend>
	<!-- IF TOPICS -->
  <p>
    {PAGINATION}
  </p>
			<ul id="topics" class="pane mcp">
    <li id="topic-head">
					<dl class="title-row">
						<dt><div>&nbsp;</div></dt>
						<dd><div>{L_VIEWS}</div></dd>
						<dd><div>{L_REPLIES}</div></dd>
						<dd><div>{L_LAST_POST}</div></dd>
            <dd></dd>
      </dl>
    </li>
    <!-- BEGIN topic_list -->
    <li>
					<dl class="icon">
        <dt>
    <div class="topic-info">
    <!-- IF topic_list.IS_NORMAL_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_READ_LOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -80px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_LOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -80px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -40px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -40px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -60px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -60px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->

          <a href="{topic_list.URI}">{topic_list.TITLE}</a><br />
          by <a href="{topic_list.U_POSTER}">{topic_list.USERNAME}</a> on  {topic_list.DATE}
          </div>
        </dt>
        <dd><div>{topic_list.VIEWS}</div></dd>
        <dd><div>{topic_list.REPLIES}</div></dd>
        <dd><div>{topic_list.LAST_POST}</div></dd>
        <dd><div>{topic_list.S_CHECK}</div></dd>
      </dl>
    </li>
    <!-- END topic_list -->
	</ul>
  <p>{PAGINATION}</p>

<p>{S_ACTIONS} {S_SUBMIT}</p>
  <!-- ELSE -->
  <p>{L_NO_TOPICS_FORUM}</p>
	<!-- ENDIF -->
  </fieldset>
</form>