<!-- INCLUDE page_header.html -->
<!-- INCLUDE forum_header -->
	<h2>{FORUM_TITLE}</h2>
	
	<!-- IF RULES -->
	<div id="forum-rules">
		<p><strong>{L_FORUM_RULES}</strong></p>
		<p>{RULES}</p>
	</div>
	<!-- ENDIF -->
	
	<!-- IF U_NEW_TOPIC -->
	<a href="{U_NEW_TOPIC}" data-role="button" data-theme="a" data-inline="true">{L_NEW_TOPIC}</a>
	<!-- ENDIF -->

  <!-- IF FORUMS -->
  <p>
    <!-- IF IS_FORUM_MEMBER -->
    <a href="{U_MARK_FORUMS_READ}">{L_MARK_FORUMS_READ}</a>
    <!-- ENDIF -->
  </p>
  <ul data-role="listview" data-inset="true" data-count-theme="b">
  <!-- BEGIN forum_list -->
  <!-- IF forum_list.IS_CATEGORY -->
			<li data-role="list-divider"><a href="{forum_list.URI}">{forum_list.TITLE}</a></li>
  <!-- ENDIF -->
  <!-- IF forum_list.IS_FIRST -->
  <!-- ENDIF -->
    <!-- IF forum_list.IS_FORUM -->
				<li><a href="{forum_list.URI}">
	      <!-- IF forum_list.IS_READ -->
	      <img src="/images/posticon_read_med.png" class="ui-li-icon ui-corner-none" />
	      <!-- ELSE -->
	      <img src="/images/posticon_unread_med.png" class="ui-li-icon ui-corner-none" />
	      <!-- ENDIF -->
          <p><strong>{forum_list.TITLE}</strong></p>
          <p>{forum_list.DESCRIPTION}</p>
          <!-- IF forum_list.sub_forum_list -->
          <p>
          <!-- BEGIN forum_list.sub_forum_list -->
          {forum_list.sub_forum_list.TITLE}
          <!-- END forum_list.sub_forum_list -->
          </p>
          <!-- ENDIF -->
						<span class="ui-li-count">{forum_list.TOPICS} topics</span>
                        </a>
                        <!-- IF forum_list.LAST_POST_URI -->
						<a href="{forum_list.LAST_POST_URI}">{forum_list.LAST_POST_TITLE}</a>
                        <!-- END IF -->
    </li>
    <!-- ENDIF -->
  <!-- IF forum_list.IS_LAST -->
  <!-- ENDIF -->
  <!-- END forum_list -->
  <!-- ENDIF -->
</ul>
	
	<!-- IF TOPICS -->
  <p>
    <!-- IF IS_FORUM_MEMBER -->
    <a href="{U_MARK_TOPICS_READ}">{L_MARK_TOPICS_READ}</a>
    <!-- ENDIF -->
    {PAGINATION}
  </p>
			<ul data-role="listview" data-inset="true" data-count-theme="b">
    <li data-role="list-divider">Topics</li>
    <!-- BEGIN topic_list -->
    <li>
		<a href="{topic_list.URI}">
    <!-- IF topic_list.IS_NORMAL_READ_UNLOCKED -->
    <img src="/images/posticon_read_med.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_UNLOCKED -->
    <img src="/images/posticon_unread_med.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_READ_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_UNLOCKED -->
    <img src="/images/posticon_read_med_sticky.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_UNLOCKED -->
    <img src="/images/posticon_unread_med_sticky.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_UNLOCKED -->
    <img src="/images/posticon_read_med_announce.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_UNLOCKED -->
    <img src="/images/posticon_unread_med_announce.png" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_LOCKED -->
    <img src="" class="ui-li-icon ui-corner-none" />
    <!-- ENDIF -->

          <p><strong>{topic_list.TITLE}</strong></p>
          <p>by {topic_list.USERNAME}<br />on  {topic_list.DATE}</p>
          <span class="ui-li-count">{topic_list.REPLIES} replies</span></a>
          <!-- IF topic_list.LAST_POST_URI -->
        <a href="{topic_list.LAST_POST_URI}">{topic_list.LAST_POST_TITLE}</a>
          <!-- ENDIF -->
      </dl>
    </li>
    <!-- END topic_list -->
	</ul>
  <p>{PAGINATION}</p>
  <!-- ELSE -->
  <p>{L_NO_TOPICS_FORUM}</p>
	<!-- ENDIF -->

	<!-- IF U_NEW_TOPIC -->
	<a href="{U_NEW_TOPIC}" data-role="button" data-theme="a" data-inline="true">{L_NEW_TOPIC}</a>
	<!-- ENDIF -->

<!-- IF INDEX_STATISTICS -->
<div class="forum-statistics">
  <p>Forum posts {FORUM_POSTS} &bull; Forum topics {FORUM_TOPICS} &bull; Group members {GROUP_MEMBERS}</p>
</div>
<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->