<!-- INCLUDE page_header.html -->
<!-- INCLUDE forum_header -->
	<h2>{FORUM_TITLE}</h2>
	<p>{BREADCRUMBS}</p>
	
	<!-- IF RULES -->
	<div id="forum-rules">
		<p><strong>Forum Rules</strong></p>
		<p>{RULES}</p>
	</div>
	<!-- ENDIF -->
	
	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

  <!-- IF FORUMS -->
  <!-- BEGIN forum_list -->
  <!-- IF forum_list.IS_CATEGORY -->
  <div class="forums">
    <dl>
      <dt>
        <a href="{forum_list.URI}">{forum_list.TITLE}</a>
      </dt>
      <dd>{L_POSTS}</dd>
      <dd>{L_TOPICS}</dd>
      <dd>{L_LAST_POST}</dd>
    </dl>
  </div>
  <!-- ENDIF -->
  <!-- IF forum_list.IS_FIRST -->
  <ul class="forums">
  <!-- ENDIF -->
    <!-- IF forum_list.IS_FORUM -->
    <li>
      <dl>
        <dt>
	      <!-- IF forum_list.IS_READ -->
	      <img src="/images/posticon_read_med.png" alt="Read" />
	      <!-- ELSE -->
	      <img src="/images/posticon_unread_med.png" alt="New" />
	      <!-- ENDIF -->
          <a href="{forum_list.URI}">{forum_list.TITLE}</a>
          <p>{forum_list.DESCRIPTION}</p>
        </dt>
        <dd>{forum_list.POSTS}</dd>
        <dd>{forum_list.TOPICS}</dd>
        <dd>{forum_list.LAST_POST}</dd>
      </dl>
    </li>
    <!-- ENDIF -->
  <!-- IF forum_list.IS_LAST -->
  </ul>
  <!-- ENDIF -->
  <!-- END forum_list -->
  <!-- ENDIF -->
	
	<!-- IF TOPICS -->
  <p>{PAGINATION}</p>
	<ul id="topics">
    <li id="topic-head">
      <dl>
        <dt>&nbsp;</dt>
        <dd>{L_VIEWS}</dd>
        <dd>{L_REPLIES}</dd>
        <dd>{L_LAST_POST}</dd>
      </dl>
    </li>
    <!-- BEGIN topic_list -->
    <!-- IF topic_list.IS_NORMAL_READ_UNLOCKED -->
    <li class="forum-med-read-unlocked">
    <!-- ELSE -->
    <li class="forum-med-unread-unlocked">
    <!-- ENDIF -->
      <dl>
        <dt>
          <!-- IF topic_list.IS_NORMAL_READ_UNLOCKED -->
          <!--img class="topic-icon" src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_NORMAL_UNREAD_UNLOCKED -->
          <!--img class="topic-icon" src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_NORMAL_READ_LOCKED -->
          <!-- img src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_NORMAL_UNREAD_LOCKED -->
          <!--img src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_STICKY_READ_UNLOCKED -->
          <!-- img src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_STICKY_UNREAD_UNLOCKED -->
          <!--img src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_STICKY_READ_LOCKED -->
          <!-- img src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_STICKY_UNREAD_LOCKED -->
          <!--img src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_ANNOUNCEMENT_READ_UNLOCKED -->
          <!-- img src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_UNLOCKED -->
          <!--img src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_ANNOUNCEMENT_READ_LOCKED -->
          <!-- img src="/images/posticon_read_med.png" alt="Read" /-->
          <!-- ENDIF -->
          <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_LOCKED -->
          <!--img src="/images/posticon_unread_med.png" alt="New" /-->
          <!-- ENDIF -->
          <a href="{topic_list.URI}">{topic_list.TITLE}</a><br />
          by <a href="{topic_list.U_POSTER}">{topic_list.USERNAME}</a> on  {topic_list.DATE}
        </dt>
        <dd>{topic_list.VIEWS}</dd>
        <dd>{topic_list.REPLIES}</dd>
        <dd>{topic_list.LAST_POST}</dd>
      </dl>
    </li>
    <!-- END topic_list -->
	</ul>
  <p>{PAGINATION}</p>
  <!-- ELSE -->
  <p>{L_NO_TOPICS_FORUM}</p>
	<!-- ENDIF -->

	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->