<!-- INCLUDE page_header.html -->

<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>

<div id="content">
	<div id="overview-profile" class="pane">
        <!-- IF USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}'); background-position: 0 -50px;">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
        <h2>{FORUM_TITLE}</h2>
    </div>
    </div>

<div id="page-body">
<!-- INCLUDE forum_header -->
	
	<!-- IF RULES -->
	<div id="forum-rules">
		<p><strong>{L_FORUM_RULES}</strong></p>
		<p>{RULES}</p>
	</div>
	<!-- ENDIF -->
	
	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

  <!-- IF FORUMS -->
  <p>
    <!-- IF IS_FORUM_MEMBER -->
    <a href="{U_MARK_FORUMS_READ}">{L_MARK_FORUMS_READ}</a>
    <!-- ENDIF -->
  </p>
  <!-- BEGIN forum_list -->
  <!-- IF forum_list.IS_CATEGORY -->
			<div class="pane forums">
				<dl class="title-row">
					<dt>
						<div><a href="{forum_list.URI}">{forum_list.TITLE}</a></div>
					</dt>
					<dd class="posts"><div>{L_POSTS}</div></dd>
					<dd class="topics"><div>{L_TOPICS}</div></dd>
					<dd class="lastpost"><div>{L_LAST_POST}</div></dd>
				</dl>
			</div>
  <!-- ENDIF -->
  <!-- IF forum_list.IS_FIRST -->
			<ul class="pane forums">
  <!-- ENDIF -->
    <!-- IF forum_list.IS_FORUM -->
				<li>
					<dl class="icon">
        <dt>
          <div class="forum-info">
	      <!-- IF forum_list.IS_READ -->
	      <div class="forum-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -60px;"></div>
	      <!-- ELSE -->
	      <div class="forum-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -40px;"></div>
	      <!-- ENDIF -->
          <a href="{forum_list.URI}">{forum_list.TITLE}</a>
          <p>{forum_list.DESCRIPTION}</p>
          <!-- BEGIN forum_list.sub_forum_list -->
          <a href="{forum_list.sub_forum_list.URI}">{forum_list.sub_forum_list.TITLE}</a>
          <!-- END forum_list.sub_forum_list -->
          </div>
        </dt>
						<dd class="posts"><div>{forum_list.POSTS}</div></dd>
						<dd class="topics"><div>{forum_list.TOPICS}</div></dd>
						<dd class="lastpost"><div>{forum_list.LAST_POST}</div></dd>
      </dl>
    </li>
    <!-- ENDIF -->
  <!-- IF forum_list.IS_LAST -->
  </ul>
  <!-- ENDIF -->
  <!-- END forum_list -->
  <!-- ENDIF -->
	
	<!-- IF TOPICS -->
  <p>
    <!-- IF IS_FORUM_MEMBER -->
    <a href="{U_MARK_TOPICS_READ}">{L_MARK_TOPICS_READ}</a>
    <!-- ENDIF -->
    <strong>Go to page:</strong> {PAGINATION}
  </p>
			<ul id="topics" class="pane">
    <li id="topic-head">
					<dl class="title-row">
						<dt><div>&nbsp;</div></dt>
						<dd><div>{L_VIEWS}</div></dd>
						<dd><div>{L_REPLIES}</div></dd>
						<dd><div>{L_LAST_POST}</div></dd>
      </dl>
    </li>
    <!-- BEGIN topic_list -->
    <li>
					<dl class="icon">
        <dt>
    <div class="topic-info">
    <!-- IF topic_list.IS_NORMAL_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: 0 -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_READ_LOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -80px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_NORMAL_UNREAD_LOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -80px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -40px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -40px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_READ_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_STICKY_UNREAD_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -60px -60px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_UNLOCKED -->
    <div class="topic-icon" style="background-image: url('/images/posticon_med.png'); background-position: -60px -40px;"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_READ_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
    <!-- IF topic_list.IS_ANNOUNCEMENT_UNREAD_LOCKED -->
    <div class="topic-icon"></div>
    <!-- ENDIF -->
          <a href="{topic_list.URI}">{topic_list.TITLE}</a><br />
          by <a href="{topic_list.U_POSTER}">{topic_list.USERNAME}</a> on  {topic_list.DATE} 
          <!-- IF topic_list.PAGINATION -->
          <span style="float:right;">{topic_list.PAGINATION}</span>
          <!-- ENDIF -->
          </div>
        </dt>
        <dd><div>{topic_list.VIEWS}</div></dd>
        <dd><div>{topic_list.REPLIES}</div></dd>
        <dd><div>{topic_list.LAST_POST}</div></dd>
      </dl>
    </li>
    <!-- END topic_list -->
	</ul>
  <p><strong>Go to page:</strong> {PAGINATION}</p>
  <!-- ELSE -->
  <p>{L_NO_TOPICS_FORUM}</p>
	<!-- ENDIF -->

	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

<!-- IF INDEX_STATISTICS -->
<div class="forum-statistics">
  <p>Forum posts {FORUM_POSTS} &bull; Forum topics {FORUM_TOPICS} &bull; Group members {GROUP_MEMBERS}</p>
</div>
<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->
</div>
</div>
<!-- INCLUDE page_footer.html -->