<!-- INCLUDE page_header.html -->
<!-- INCLUDE forum_header -->
	<h2>{TOPIC_TITLE}</h2>
	<p>{BREADCRUMBS}</p>

<div class="new-stuff">
  <!-- IF U_NEW_TOPIC -->
  <span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
  <!-- ENDIF -->
  <!-- IF U_NEW_REPLY -->
	<span class="new-reply post-button"><a href="{U_NEW_REPLY}">{L_POST_REPLY}</a></span>
  <!-- ENDIF -->
</div>

<p><strong>Go to page:</strong> {PAGINATION}</p>
<!-- IF POSTS -->
<ul id="posts">
  <!-- BEGIN post_list -->
  <li>
  	<div class="post">
      <div class="postbody">
  	<h3 id="p{post_list.ID}"><a href="{post_list.URI}">{post_list.SUBJECT}</a></h3>
  	<p>
    <!-- IF post_list.IS_READ -->
    <img src="/images/posticon_read_sml.png" alt="Read" />
    <!-- ELSE -->
    <img src="/images/posticon_unread_sml.png" alt="New" />
    <!-- ENDIF -->
    by <strong><a href="{post_list.U_USER}">{post_list.USER_DISPLAY_NAME}</a></strong> on {post_list.POST_TIME}</p>
      <div class="inner">
      	<p>{post_list.TEXT}</p>
      	<!-- IF post_list.SIGNATURE -->
      	<p>____________________<br/>{post_list.SIGNATURE}</p>
      	<!-- ENDIF -->
      </div>
      </div>
    <dl class="profile">
      <dt>
      	<p><strong><a href="{post_list.U_USER}">{post_list.USER_DISPLAY_NAME}</a></strong></p>
      	<!-- IF post_list.USER_RANK -->
      	<p>{post_list.USER_RANK}</p>
      	<!-- ENDIF -->
        <!-- IF post_list.USER_TILE -->
        <div class="comment-disp-pic">
          <img src="{post_list.USER_TILE}" alt="{post_list.USER_DISPLAY_NAME}" />
        </div>
        <!-- ENDIF -->
      </dt>
      <dd>
      	<strong>{L_POSTS}: </strong> {post_list.USER_POSTS}
      </dd>
      <dd>
        <strong>{L_JOINED}: </strong> {post_list.USER_JOINED}
      </dd>
      <!-- IF post_list.USER_COUNTRY -->
      <dd><strong>Location: </strong> {post_list.USER_COUNTRY}</dd>
      <!-- ENDIF -->
    </dl>
    <div class="top"><a href="#posts">{L_TOP}</a></div>
    </div>
  </li>
  <!-- END post_list -->
</ul>
<!-- ENDIF -->
<p><strong>Go to page:</strong> {PAGINATION}</p>

	<!-- IF U_NEW_REPLY -->
	<div class="new-stuff">
    <span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
		<span class="new-reply post-button"><a href="{U_NEW_REPLY}">{L_POST_REPLY}</a></span>
	</div>
	<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->