<!-- INCLUDE page_header.html -->
	<h2>{FORUM_TITLE}</h2>
	<p>{BREADCRUMBS}</p>
	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

  <!-- IF FORUMS -->
  <!-- BEGIN forum_list -->
  <!-- IF forum_list.IS_CATEGORY -->
  <h3><a href="{forum_list.URI}">{forum_list.TITLE}</a></h3>
  <!-- ENDIF -->
  <!-- IF forum_list.IS_FIRST -->
  <ul>
  <!-- ENDIF -->
    <li>
      <dl>
        <dt>
          <a href="{forum_list.URI}">{forum_list.TITLE}</a>
        </dt>
        <dd>{forum_list.POSTS}</dd>
        <dd>{forum_list.TOPICS}</dd>
        <dd>{forum_list.LAST_POST}</dd>
      </dl>
    </li>
  <!-- IF forum_list.IS_LAST -->
  </ul>
  <!-- ENDIF -->
  <!-- END forum_list -->
  <!-- ENDIF -->
	
	<!-- IF TOPICS -->
  <p>{PAGINATION}</p>
	<ul id="topics">
    <li>
      <dl>
        <dt>&nbsp;</dt>
        <dd>{L_VIEWS}</dd>
        <dd>{L_REPLIES}</dd>
        <dd>{L_LAST_POST}</dd>
      </dl>
    </li>
    <!-- BEGIN topic_list -->
    <li>
      <dl>
        <dt>
          <!-- IF topic_list.IS_READ -->
          <!-- ELSE -->
          *
          <!-- ENDIF -->
          <a href="{topic_list.URI}">{topic_list.TITLE}</a>
        </dt>
        <dd>{topic_list.VIEWS}</dd>
        <dd>{topic_list.REPLIES}</dd>
        <dd>{topic_list.LAST_POST}</dd>
      </dl>
    </li>
    <!-- END topic_list -->
	</ul>
  <p>{PAGINATION}</p>
  <!-- ELSE -->
  <p>There are no topics in this forum.</p>
	<!-- ENDIF -->

	<!-- IF U_NEW_TOPIC -->
	<div class="new-stuff">
		<span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
	</div>
	<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->