<!-- INCLUDE page_header.html -->
<!-- INCLUDE forum_header -->
	<h2>{TOPIC_TITLE}</h2>
	<p>{BREADCRUMBS}</p>
	<!-- IF U_NEW_REPLY -->
	<div class="new-stuff">
    <span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
		<span class="new-reply post-button"><a href="{U_NEW_REPLY}">{L_POST_REPLY}</a></span>
	</div>
	<!-- ENDIF -->

<p>{PAGINATION}</p>
<!-- IF POSTS -->
<ul id="posts">
  <!-- BEGIN post_list -->
  <li>
    <!-- IF post_list.IS_READ -->
    <img src="/images/posticon_read_sml.png" alt="Read" />
    <!-- ELSE -->
    <img src="/images/posticon_unread_sml.png" alt="New" />
    <!-- ENDIF -->
    <h3 id="p{post_list.ID}"><a href="{post_list.URI}">{post_list.SUBJECT}</a></h3>
      <div class="postbody"><p>{post_list.TEXT}</p></div>
    <dl class="profile">
      <dt>
        <!-- IF post_list.USER_TILE -->
        <div class="comment-disp-pic">
          <img src="{post_list.USER_TILE}" alt="{post_list.USER_DISPLAY_NAME}" />
        </div>
        <!-- ENDIF -->
      </dt>
      <dd>
        <strong>{L_JOINED}: </strong> {post_list.USER_JOINED}
      </dd>
      <!--dd><strong>Country: </strong> {post_list.USER_COUNTRY}</dd-->
    </dl>
    <div class="top"><a href="#posts">{L_TOP}</a></div>
  </li>
  <!-- END post_list -->
</ul>
<!-- ENDIF -->
<p>{PAGINATION}</p>

	<!-- IF U_NEW_REPLY -->
	<div class="new-stuff">
    <span class="new-topic post-button"><a href="{U_NEW_TOPIC}">{L_NEW_TOPIC}</a></span>
		<span class="new-reply post-button"><a href="{U_NEW_REPLY}">{L_POST_REPLY}</a></span>
	</div>
	<!-- ENDIF -->

<!-- IF PERMISSION_BLOCK -->
{PERMISSION_BLOCK}
<!-- ENDIF -->

<!-- INCLUDE page_footer.html -->