<h3>Musician Profile</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>Musician Profile</legend>
		<dl>
			<dt><label for="name">Name</label></dt>
			<dd>{S_NAME}</dd>
      <dt><label for="genre">Genre</label></dt>
			<dd>{S_GENRE}</dd>
      <dt><label for="musician-type">Act</label></dt>
			<dd>{S_MUSICIAN_TYPE}</dd>
			<dt><label for="biography">Biography</label></dt>
			<dd>{S_BIOGRAPHY}</dd>
			<dt><label for="homepage">Homepage</label></dt>
			<dd>{S_HOMEPAGE}</dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="music" />
		<input type="hidden" name="sub" value="profile" />
	</fieldset>
</form>