<h3>{L_MY_INFORMATION}</h3>

<form action="{S_ACCOUNT}" method="post">
	<fieldset>
		<legend>{L_MY_INFORMATION}</legend>
		<dl>
			<dt><label for="country">{L_AUTOBIOGRAPHY}</label></dt>
			<dd>
				<textarea id="auto-biography" name="auto-biography" style="margin: 0px; width: 100%; height: 160px;" rows="8" cols="75">{S_AUTO_BIOGRAPHY}</textarea>
			</dd>
			<dt><label for="country">{L_COUNTRY}</label></dt>
			<dd>{S_COUNTRY}</dd>
			<dt><label>{L_DATE_OF_BIRTH}</label></dt>
			<dd>
				<label>{L_YEAR}: {S_DOB_YEAR}</label>
				<label>{L_MONTH}: {S_DOB_MONTH}</label>
				<label>{L_DAY}: {S_DOB_DAY}</label>
			</dd>
			<dt><label>{L_GENDER}</label></dt>
			<dd>
				{S_GENDER}
			</dd>
      <dt>{L_HEIGHT}</dt>
      <dd>{S_HEIGHT} cm</dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Save" /></dd>
		</dl>
		<input type="hidden" name="module" value="profile" />
		<input type="hidden" name="sub" value="" />
	</fieldset>
</form>