<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<script type="text/javascript">
<!--
    $(document).ready(function () {
        $('#message').focus().val('is ').outerWidth($('#status-div').width() - $('#status-submit').outerWidth(true));
    });
-->
</script>

<!-- IF $_IS_DESKTOP -->
	<div id="pane-profile">
		<div id="pane-pages" class="pane">
			<h3>{L_PAGES}</h3>
			<ul class="page-tiles">
				{PAGE_LIST}
			</ul>
		</div>
	</div>
<!-- ENDIF -->
	<div id="profile">
    <!-- IF $_IS_DESKTOP AND OWNER -->
	<div id="compose-status">
        <h3>Post Status</h3>
        <div id="status-div">
		<form action="/account" method="post" id="status-form" onsubmit="return SendStatus('{USER_DISPLAY_NAME}');">
			<p><input type="text" id="message" name="message" value="is " style="border: 1px solid #082; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; outline: none;"/><input type="submit" id="status-submit" value="Post" style="border-left: none; margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" />
            <input type="hidden" name="aclmode" value="simple" />
			<input type="hidden" name="module" value="profile" />
			<input type="hidden" name="sub" value="status" /></p>
            {S_STATUS_PERMISSIONS}
		</form>
        </div>
	</div>
    <!-- ENDIF -->

    <div class="infinite">
        <ul class="status-feed">
<!-- INCLUDE pane.statusmessage.html -->
        </ul>

	<!-- IF PAGINATION -->
	<p>{PAGINATION}<a href="#" class="infinite-more" onclick="return loadInfiniteContent('{U_NEXT_PAGE}', $(this).parent().siblings('.status-feed'));">{L_LOAD_MORE}</a></p>
	<!-- ENDIF -->
    </div>

    <div id="clear-space">
	</div>

    </div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->