<h3>{L_NEW_TASK}</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>{L_NEW_TASK}</legend>
		<dl>
			<dt><label for="topic">{L_SUBJECT}</label></dt>
			<dd><input type="text" id="topic" name="topic" value="{S_TOPIC}" style="width: 100%;" /></dd>
			<dt><label for="due-date">{L_DUE_DATE}</label></dt>
			<dd>
        {S_DUE_DATE}
      </dd>
			<dt><label for="percent-complete">{L_PERCENT_COMPLETE}</label></dt>
			<dd>{S_PERCENT_COMPLETE}</dd>
			<dt><label for="percent-complete">{L_PRIORITY}</label></dt>
			<dd>{S_PRIORITY}</dd>
			<dt><label for="description">{L_DESCRIPTION}</label></dt>
			<dd>
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 50px;" cols="70" rows="4">{S_DESCRIPTION}</textarea>
			</dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="{L_SAVE}" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="calendar" />
		<input type="hidden" name="sub" value="new-task" />
		<input type="hidden" name="year" value="{S_YEAR}" />
		<input type="hidden" name="month" value="{S_MONTH}" />
		<input type="hidden" name="day" value="{S_DAY}" />
		<!-- IF EDIT -->
		<input type="hidden" name="id" value="{ID}" />
		<input type="hidden" name="mode" value="edit" />
		<!-- ENDIF -->
	</fieldset>
</form>