<h3>Tag Photo</h3>

<script type="text/javascript">
<!--
var user_tags = new Array();
	<!-- BEGIN user_tags -->
  user_tags[{user_tags.INDEX}] = new Array({user_tags.TAG_ID}, {user_tags.TAG_X}, {user_tags.TAG_Y});
  <!-- END user_tags -->
-->
</script>

<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
	<fieldset id="fieldlist">
		<legend>Tag Photo</legend>
		<dl>
			<dt><label for="title">{S_PHOTO_TITLE}</label></dt>
			<dd>
        <span style="display: block; margin: auto; height: 0px; width: 640px; overflow:visible; text-align: left;">
          <!-- BEGIN user_tags -->
          <span id="tag-{user_tags.TAG_ID}" style="display: block; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; height: 100px; width: 100px; background-color: transparent; border: solid 2px transparent;"></span>
          <span id="tag-name-{user_tags.TAG_ID}" style="display: none; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; width: 100px; background-color: black; color: white; text-align: center; padding: 1px;">{user_tags.TAG_TITLE}</span>
          <!-- END user_tags -->
        </span>
        <img id="photo-640" name="photo-640" src="{S_PHOTO_DISPLAY}" alt="Photo" onmousemove="ShowTagNearPointer(event);" onmousedown="CreateUserTagNearPointer({S_PHOTO_ID}, event);"/>
      </dd>
      <dd>
        Tags:
        <ul id="user-tags">
          <!-- IF HAS_USER_TAGS -->
          <!-- BEGIN user_tags -->
          <li onmouseover="ShowUserTag({user_tags.TAG_ID});" onmouseout="HideUserTag({user_tags.TAG_ID});">
            <a href="{user_tags.U_MEMBER}">{user_tags.TAG_TITLE}</a>
          </li>
          <!-- END user_tags -->
          <!-- ELSE -->
          <li id="no-tags">None</li>
          <!-- ENDIF -->
        </ul>
        <div >
        </div>
      </dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Save" />
			</dd>
		</dl>
    <!-- BEGIN user_tags -->
    <input type="hidden" name="tag[{user_tags.INDEX}]" value="{user_tags.TAG_X},{user_tags.TAG_Y},{user_tags.TAG_TITLE},{user_tags.TAG_USER_ID}" />
    <!-- END user_tags -->
    <input type="hidden" name="tags" id="tags" value="{TAG_COUNT}" />
		<input type="hidden" name="module" value="galleries" />
		<input type="hidden" name="sub" value="tag" />
		<input type="hidden" name="id" value="{S_PHOTO_ID}" />
		<input type="hidden" name="mode" value="edit" />
	</fieldset>
</form>