<h3>Upload Photo</h3>

<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>Upload Photo</legend>
		<dl>
			<dt><label for="title">Title</label></dt>
			<dd><input type="text" id="title" name="title" value="{S_TITLE}" style="width: 100%;" /></dd>
			<dt><label for="photo-file">Select File</label></dt>
			<dd><input type="file" id="photo-file" name="photo-file" /></dd>
			<dt><label for="description">Description</label></dt>
			<dd>
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 50px;" cols="70" rows="4">{S_DESCRIPTION}</textarea>
			</dd>
            <dt><a id="show-advanced" href="#" onclick="return ToggleAdvanced();" class="hidden">Advanced Options <span>›</span></a></dt>
            <dd>&nbsp;</dd>
			<dt class="advanced-field"><label>Photo Classification</label></dt>
			<dd class="advanced-field">{S_PHOTO_CLASSIFICATION}</dd>
			<dt class="advanced-field"><label for="license">Photo License</label></dt>
			<dd class="advanced-field">{S_GALLERY_LICENSE} <a href="">Learn More...</a></dd>
			<dt class="advanced-field"><label for="high-quality">High Quality <a href="">Learn More...</a></label></dt>
			<dd class="advanced-field">
				{S_HIGH_QUALITY}
			</dd>
            <dt class="advanced-field"><label for="publish-feed">Publish to Feed</label></dt>
			<dd class="advanced-field">
				{S_PUBLISH_FEED}
			</dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Upload" />
			</dd>
		</dl>
		<input type="hidden" name="module" value="galleries" />
		<input type="hidden" name="sub" value="upload" />
		<input type="hidden" name="id" value="{S_GALLERY_ID}" />
	</fieldset>
</form>