<h3>Manage Galleries</h3>

<!-- IF $_IS_MOBILE -->
<p><span class="actions-menu"><a onclick="return showPopupMenu(event, 'actions-menu');"><span></span></a></span></p>
<ul id="actions-menu" class="popup-menu">
    <!-- IF U_UPLOAD_PHOTO -->
    <li><a href="{U_UPLOAD_PHOTO}">Upload Photo</a></li>
    <!-- ENDIF -->
    <!-- IF U_NEW_GALLERY -->
    <li><a href="{U_NEW_GALLERY}">New Gallery</a></li>
    <!-- ENDIF -->
    <li><a href="{U_EDIT_PERMISSIONS}">{L_EDIT_PERMISSIONS}</a></li>
</ul>
<!-- ENDIF -->
<!-- IF NOT $_IS_MOBILE -->
<div id="new-stuff">
	<!-- IF U_UPLOAD_PHOTO -->
	<span id="new-photo" class="post-button"><a href="{U_UPLOAD_PHOTO}">Upload Photo</a></span>
	<!-- ENDIF -->
    <!-- IF U_NEW_GALLERY -->
	<span id="new-gallery" class="post-button"><a href="{U_NEW_GALLERY}">New Gallery</a></span>
    <!-- ENDIF -->
  <span id="gallery-permissions" class="post-button"><a href="{U_EDIT_PERMISSIONS}">{L_EDIT_PERMISSIONS}</a></span>
</div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
<ul class="list">
<!-- BEGIN gallery_list -->
<li class="list-item">
    <p>
        <a href="{gallery_list.U_MANAGE}">{gallery_list.NAME}</a>
    </p>
    <span class="action delete"><a href="{gallery_list.U_DELETE}">{L_DELETE}</a></span>
    <span class="action edit"><a href="{gallery_list.U_EDIT}">{L_EDIT}</a></span>
    <span class="action permissions"><a href="{gallery_list.U_EDIT_PERMISSIONS}">{L_PRIVACY}</a></span>
</li>
<!-- END gallery_list -->
</ul>
<!-- ENDIF -->
<!-- IF NOT $_IS_MOBILE -->
<table style="width: 100%">
<tr>
	<th>Name</th>
	<th>Items</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN gallery_list -->
<!-- IF gallery_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td><a href="{gallery_list.U_MANAGE}">{gallery_list.NAME}</a></td>
	<td>{gallery_list.ITEMS}</td>
	<td><a href="{gallery_list.U_VIEW}">{L_VIEW}</a></td>
	<td><a href="{gallery_list.U_EDIT}">{L_EDIT}</a></td>
    <td><a href="{gallery_list.U_EDIT_PERMISSIONS}"><img src="/images/permissions.png" alt="{L_EDIT_PERMISSIONS}" title="{L_EDIT_PERMISSIONS}"/></a></td>   
	<td><a href="{gallery_list.U_DELETE}"><img src="/images/delete.png" alt="{L_DELETE}" title="{L_DELETE}"/></a></td>
</tr>
<!-- END gallery_list -->
</table>
<!-- ENDIF -->