<!-- INCLUDE page_header.html -->

<h2>Upload Photo</h2>

<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>Upload Photo</legend>
		<dl>
			<dt><label for="title">Title</label></dt>
			<dd><input type="text" id="title" name="title" value="{S_TITLE}" style="width: 100%;" /></dd>
			<dt><label for="photo-file">Select File</label></dt>
			<dd><input type="file" id="photo-file" name="photo-file" /></dd>
			<dt><label for="description">Description</label></dt>
			<dd>
				<textarea id="description" name="description" style="margin: 0px; width: 100%; height: 50px;" cols="70" rows="4">{S_DESCRIPTION}</textarea>
			</dd>
      <dt><label>Photo Classification</label></dt>
			<dd>{S_PHOTO_CLASSIFICATION}</dd>
			<dt><label for="license">Photo License</label></dt>
			<dd>{S_GALLERY_LICENSE} <a href="">Learn More...</a></dd>
			<dt></dt>
			<dd>
				<input type="submit" name="save" value="Upload" />
			</dd>
		</dl>
	</fieldset>
</form>

<!-- INCLUDE page_footer.html -->