<!-- INCLUDE page_header.html -->
<script type="text/javascript" src="/scripts/jquery.history.js"></script>

<!-- IF BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<div id="content">
	<div id="overview-profile" class="pane">
        <!-- IF $_IS_DESKTOP AND USER_COVER_PHOTO -->
		<div class="info" style="height: 100px; background-image: url('{USER_COVER_PHOTO}');">
        <!-- ELSE -->
        <div class="info">
        <!-- ENDIF -->
  <h2>{PHOTO_TITLE}</h2>
        </div>
        </div>

<div id="pane-profile">
  <div id="pane-pages" class="pane">
    <h3>Pages</h3>
    <ul class="page-tiles">
      {PAGE_LIST}
    </ul>
  </div>
</div>
<div id="profile">
  <!-- IF U_UPLOAD_PHOTO -->
  <div id="new-stuff">
    <span id="new-photo" class="post-button">
      <a href="{U_UPLOAD_PHOTO}">Upload Photo</a>
    </span>
  </div>
  <!-- ENDIF -->
  <!-- IF U_VIEW_FULL -->
  <p style="text-align: right;">
    <span id="view-full" class="post-button">
      <a href="{U_VIEW_FULL}">View Full Size</a>
    </span>
  </p>
  <!-- ENDIF -->
  <div id="view-photo">
    <script type="text/javascript">
      <!--

        $(document).keydown(function(e){
        <!-- IF U_PREVIOUS_PHOTO -->
            if (e.keyCode == 37) { /* left */
                window.location.href = "{U_PREVIOUS_PHOTO}" + parent.location.hash;
                return false;
            }
        <!-- ENDIF -->
        <!-- IF U_NEXT_PHOTO -->
            if (e.keyCode == 39) { /* right */
                window.location.href = "{U_NEXT_PHOTO}" + parent.location.hash;
                return false;
            }
        <!-- ENDIF -->
            if (e.keyCode == 27) { /* escape */
                showNormal();
            }
        });

        $(document).ready(function(){
            if (parent.location.hash == '#hd') {
                showHd();
            }

          $("#display-hd div").click(function(event){
            event.stopPropagation();  
          });

          $(window).resize(function() {
            positionHd();
          });

        });

        function positionHd() {
            $('#photo-hd').css('top', (($('#hd-padding-block').height() - Math.min($('#hd-padding-block').height(), Math.min($('#hd-padding-block').width(), {HD_WIDTH}) * {HD_HEIGHT} / {HD_WIDTH})) / 2) + 'px');
        }

        var hdDisplay = '{PHOTO_FULL}';
        var retinaDisplay = '{PHOTO_ULTRA}';
        var normalDisplay = '{PHOTO_DISPLAY}';
		var user_tags = new Array();
	<!-- BEGIN user_tags -->
      user_tags[{user_tags.INDEX}] = new Array({user_tags.TAG_ID}, {user_tags.TAG_X}, {user_tags.TAG_Y});
      <!-- END user_tags -->
      -->
    </script>
    <div id="display-hd" onclick="showNormal();">
        <div class="comment-block">
            <!-- INCLUDE pane.comments.html -->
        </div>
        <div id="hd-content-block" class="content-block">
            <div class="hd-blackout">
            <div id="hd-padding-block" style="margin: auto; position: relative; max-width: 100%; max-height: 100%; height: 100%; padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
        <span class="photo-canvas" style="display: inline-block; margin: auto; position: relative; max-width: 100%; max-height: 100%; height: 100%;">
        <!-- IF U_PREVIOUS_PHOTO -->
        <span class="previous-photo"><a href="{U_PREVIOUS_PHOTO}#hd">‹</a></span>
        <!-- ENDIF -->
        <!-- IF U_NEXT_PHOTO -->
        <span class="next-photo"><a href="{U_NEXT_PHOTO}#hd">›</a></span>
        <!-- ENDIF -->
        <span style="position: relative; /*width: 640px;*/ display: block; height: 0; overflow:visible; text-align: left;">
          <!-- BEGIN user_tags -->
          <span id="tag-{user_tags.TAG_ID}" style="display: block; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; height: 100px; width: 100px; background-color: transparent; border: solid 2px transparent;"></span>
          <span id="tag-name-{user_tags.TAG_ID}" style="display: none; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; width: 100px; background-color: black; color: white; text-align: center; padding: 1px;">{user_tags.DISPLAY_NAME}</span>
          <!-- END user_tags -->
        </span>
        <img id="photo-hd" alt="Photo" onmousemove="ShowTagNearPointer(event);" style="margin: auto;" onload="positionHd();"
		<!-- IF OWNER -->
        onmousedown="CreateUserTagNearPointer({ID}, event);"
        <!-- ENDIF -->
        />
        </span>
        </div>
            </div>
        </div>
    </div>
    <dl>
      <dt style="text-align: center;">
        <span class="photo-canvas" style="display: inline-block; margin: auto; position: relative;">
        <!-- IF U_PREVIOUS_PHOTO -->
        <span class="previous-photo"><a href="{U_PREVIOUS_PHOTO}">‹</a></span>
        <!-- ENDIF -->
        <!-- IF U_NEXT_PHOTO -->
        <span class="next-photo"><a href="{U_NEXT_PHOTO}">›</a></span>
        <!-- ENDIF -->
        <span style="position: relative; /*width: 640px;*/ display: block; height: 0; overflow:visible; text-align: left;">
          <!-- BEGIN user_tags -->
          <span id="tag-{user_tags.TAG_ID}" style="display: block; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; height: 100px; width: 100px; background-color: transparent; border: solid 2px transparent;"></span>
          <span id="tag-name-{user_tags.TAG_ID}" style="display: none; float: top; position: relative; left: {user_tags.TAG_X}px; top: {user_tags.TAG_Y}px; width: 100px; background-color: black; color: white; text-align: center; padding: 1px;">{user_tags.DISPLAY_NAME}</span>
          <!-- END user_tags -->
        </span>
        <img id="photo-640" src="{PHOTO_DISPLAY}" alt="Photo" onclick="toggleHd()" onmousemove="ShowTagNearPointer(event);"
					<!-- IF OWNER -->
        onmousedown="CreateUserTagNearPointer({ID}, event);"
        <!-- ENDIF -->
        />
        </span>
      </dt>
      <!-- IF HAS_USER_TAGS -->
      <dd>
        Tags:
        <ul>
          <!-- BEGIN user_tags -->
          <li onmouseover="ShowUserTag({user_tags.TAG_ID});" onmouseout="HideUserTag({user_tags.TAG_ID});">
            <a href="{user_tags.U_MEMBER}">{user_tags.DISPLAY_NAME}</a>
          </li>
          <!-- END user_tags -->
        </ul>
      </dd>
      <!-- ENDIF -->
      <!-- IF PHOTO_DESCRIPTION -->
      <dd>
        <p>{PHOTO_DESCRIPTION}</p>
      </dd>
      <!-- ENDIF -->
    </dl>
    <!-- IF OWNER -->
    <div id="x-stuff">
      <span id="edit-photo" class="post-button">
        <a href="{U_EDIT}">Edit Details</a>
      </span>
      <span id="make-display-pic" class="post-button">
        <a href="{U_MARK_DISPLAY_PIC}">Make my Display Picture</a>
      </span>
      <span id="make-gallery-cover" class="post-button">
        <a href="{U_MARK_GALLERY_COVER}">Set as Album Cover</a>
      </span>
      <span id="rotate-left" class="img-button"><a href="{U_ROTATE_LEFT}" title="Rotate Left"><span class="font-sprite">&#8634;</span></a></span><span id="rotate-right" class="img-button"><a href="{U_ROTATE_RIGHT}" title="Rotate Right"><span class="font-sprite">&#8635;</span></a></span><span id="delete" class="img-button"><a href="{U_DELETE}" title="Delete Photo"><span class="sprite delete-sprite"></span></a></span><span id="tag" class="img-button"><a href="{U_TAG}" title="Tag Photo"><span class="sprite tag-sprite"></span></a></span>
    </div>
    <!-- ENDIF -->
    <div class="comment-pane" style="margin: 0 auto; width: 640px;">
      <!-- INCLUDE pane.comments.html -->
    </div>
    <!-- IF PAGE_LICENSE -->
    <p>
      <!-- IF I_PAGE_LICENSE -->
      <a href="{U_PAGE_LICENSE}">
        <img src="/images/{I_PAGE_LICENSE}" title="{PAGE_LICENSE}" alt="{PAGE_LICENSE}" />
      </a>
      <!-- ELSE -->
      <a href="{U_PAGE_LICENSE}">This page is licensed under the following license: {PAGE_LICENSE}</a>
      <!-- ENDIF -->
      <!-- IF I_PAGE_CLASSIFICATION -->
      <img src="/images/{I_PAGE_CLASSIFICATION}" title="{PAGE_CLASSIFICATION}" alt="{PAGE_CLASSIFICATION}" />
      <!-- ENDIF -->
    </p>
    <!-- ENDIF -->
  </div>
</div>
</div>
<!-- INCLUDE page_footer.html -->