<!-- INCLUDE page_header.html -->
<div>
  <h2>{GALLERY_TITLE}</h2>
  <p>{BREADCRUMBS}</p>
  <div id="new-stuff">
    <!-- IF U_UPLOAD_PHOTO -->
    <span id="new-photo" class="post-button">
      <a href="{U_UPLOAD_PHOTO}">Upload Photo</a>
    </span>
    <!-- ENDIF -->
    <!-- IF U_NEW_GALLERY -->
    <span id="new-gallery" class="post-button">
      <a href="{U_NEW_GALLERY}">New Gallery</a>
    </span>
    <!-- ENDIF -->
  </div>
  <!-- IF GALLERIES -->
  <ul id="gallery-list">
    <!-- BEGIN gallery_list -->
    <li>

          <div class="gallery-item" style="text-align: center;">
            <span class="photo-canvas" style="display: inline-block; margin: auto; position: relative;">
            <span class="gallery-title"><h3><a href="{gallery_list.URI}" alt="{gallery_list.TITLE}">{gallery_list.TITLE}</a></h3><p style="padding: 0;">{gallery_list.ITEMS}</p></span>
            <!-- IF gallery_list.LARGETILE -->
            <p style="font-size: 0; padding: 0;"><a href="{gallery_list.URI}"><img src="{gallery_list.LARGETILE}" alt="{gallery_list.TITLE}" width="200" height="200" /></a></p>
            <!-- ELSE -->
            <p style="font-size: 0; padding: 0;"><a href="{gallery_list.URI}"><span class="no-photos" style="display: inline-block; width: 200px; height: 200px;" title="{gallery_list.TITLE}"></span></a></p>
            <!-- ENDIF -->
            </span>
          </div>
    </li>
    <!-- END gallery_list -->
  </ul>
  <div class="cheat-clear-left"></div>
  <!-- ENDIF -->
  <!-- IF PHOTOS -->
  <!-- IF PAGINATION -->
  <p>
    <strong>Go to page:</strong> {PAGINATION}
  </p>
  <!-- ENDIF -->
  <ul id="photo-list">
    <!-- BEGIN photo_list -->
    <li>
          <div class="gallery-item" style="text-align: center;">
            <span class="photo-canvas" style="display: inline-block; margin: auto; position: relative;">
            <span class="gallery-title"><h3><a class="photo-link" href="{photo_list.PHOTO_URI}" alt="{photo_list.TITLE}">{photo_list.TITLE}</a></h3><p class="gallery-item-buttons white"><span class="img-button like-item"><a href="#" onclick="return LikeItem({photo_list.ID},{photo_list.TYPE_ID},$(this).children('.likes'));" title="Like"><span class="sprite like-sprite"></span><span class="likes">{photo_list.LIKES}</span></a></span></p><p class="white"><span class="post-button item-views static">{photo_list.VIEWS} Views</span></p></span>
            <p style="font-size: 0; padding: 0;"><a href="{photo_list.PHOTO_URI}"><img src="{photo_list.LARGETILE}" alt="{photo_list.TITLE}" width="200" height="200" /></a></p>
            </span>
          </div>
    </li>
    <!-- END photo_list -->
  </ul>
  <div class="cheat-clear-left"></div>
  <!-- IF PAGINATION -->
  <p>
    <strong>Go to page:</strong> {PAGINATION}
  </p>
  <!-- ENDIF -->
  <!-- ENDIF -->
  <!-- IF ALBUM_COMMENTS -->
    <div class="comment-pane" style="margin: 0 auto; width: 700px;">
    <!-- INCLUDE pane.comments.html -->
  </div>
  <!-- ENDIF -->
</div>
<!-- INCLUDE page_footer.html -->