<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<div id="pane-profile">
  <div id="pane-pages" class="pane">
    <h3>Pages</h3>
    <ul class="page-tiles">
      {PAGE_LIST}
    </ul>
  </div>
</div>
<div id="profile">
  <div id="new-stuff">
    <!-- IF U_UPLOAD_PHOTO -->
    <span id="new-photo" class="post-button">
      <a href="{U_UPLOAD_PHOTO}">Upload Photo</a>
    </span>
    <!-- ENDIF -->
    <!-- IF U_NEW_GALLERY -->
    <span id="new-gallery" class="post-button">
      <a href="{U_NEW_GALLERY}">New Gallery</a>
    </span>
    <!-- ENDIF -->
  </div>
  <!-- IF GALLERIES -->
  <ul id="gallery-list">
    <!-- BEGIN gallery_list -->
    <li>

          <div class="gallery-item" style="text-align: center;">
            <span class="photo-canvas" style="display: inline-block; margin: auto; position: relative;">
            <span class="gallery-title"><h3><a href="{gallery_list.URI}" alt="{gallery_list.TITLE}">{gallery_list.TITLE}</a></h3><p class="gallery-item-buttons white"><span class="img-button like-item"><a href="#" onclick="return LikeItem({gallery_list.ID},{gallery_list.TYPE_ID},$(this).children('.likes'));" title="Like"><span class="sprite like-sprite"></span><span class="likes">{gallery_list.LIKES}</span></a></span></p><p class="white"><span class="post-button item-views static">{gallery_list.ITEMS}</span></p></span>
            <!-- IF gallery_list.SQUARE -->
            <p style="font-size: 0; padding: 0;"><a href="{gallery_list.URI}"><img src="{gallery_list.SQUARE}" alt="{gallery_list.TITLE}" width="200" height="200" /></a></p>
            <!-- ELSE -->
            <p style="font-size: 0; padding: 0;"><a href="{gallery_list.URI}"><span class="no-photos" style="display: inline-block; width: 200px; height: 200px;" title="{gallery_list.TITLE}"></span></a></p>
            <!-- ENDIF -->
            </span>
          </div>
    </li>
    <!-- END gallery_list -->
  </ul>
  <div class="cheat-clear-left"></div>
  <!-- ENDIF -->
  <!-- IF PHOTOS -->
  <!-- IF PAGINATION -->
  <!--p>{PAGINATION}</p-->
  <!-- ENDIF -->
  <div class="infinite">
  <ul id="photo-list">
<!-- INCLUDE pane_photo -->
  </ul>
  <div class="cheat-clear-left"></div>
  <!-- IF PAGINATION -->
  <p><span>{PAGINATION}</span><a href="#" class="infinite-more" onclick="return loadInfiniteContent('{U_NEXT_PAGE}', $('#photo-list'));">{L_LOAD_MORE}</a></p>
  <!-- ENDIF -->
  </div>
  <!-- ENDIF -->
  <!-- IF ALBUM_COMMENTS -->
    <div class="comment-pane" style="margin: 0 auto; width: 700px;">
    <!-- INCLUDE pane.comments.html -->
  </div>
  <!-- ENDIF -->
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->