<h3>Join a Network</h3>
<p>To join this network you need to confirm your e-mail address for that network. Enter your e-mail address below:</p>
<form action="{S_ACCOUNT}" method="post">
<fieldset>
		<legend>Join a Network</legend>
		<dl>
			<dt><label for="email">E-mail:</label></dt>
			<dd><input type="text" id="email" name="email" /></dd>
			<dt></dt>
			<dd><input type="submit" name="save" value="Join Network" /></dd>
		</dl>
		<input type="hidden" name="module" value="networks" />
		<input type="hidden" name="sub" value="memberships" />
    <input type="hidden" name="mode" value="join" />
		<input type="hidden" name="id" value="{S_ID}" />
</fieldset>
</form>