<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<div id="pane-profile">
  <div id="pane-pages" class="pane">
    <h3>Pages</h3>
    <ul class="page-tiles">
      {PAGE_LIST}
    </ul>
  </div>
</div>

<div id="profile">
	<div id="profile-comments" class="pane">
	<div class="comment-pane">
		<!-- INCLUDE pane.comments.html -->
	</div>
	</div>
    </div>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->