	</div>
	<div id="clear-space">
	</div>
</div>
</div>
		<div id="foot">
			<div id="footer">
			<!--<p><a href="{U_ABOUT}">About</a> | <a href="{U_SAFETY}">Safety</a> | <a href="{U_PRIVACY}">Privacy</a> | <a href="{U_TOS}">Terms of Service</a> | <a href="{U_HELP}">Help</a> | <a href="{U_SITEMAP}">Site Map</a></p>-->
			<ul id="foot-nav">
				<li>
					<p>{SITE_TITLE}</p>
					<ul class="foot-nav">

						<li><a href="{U_ABOUT}">About</a></li>
						<li><a href="{U_PRIVACY}">Privacy</a></li>
						<li><a href="{U_TOS}">Terms of Service</a></li>
						<li><a href="{U_SITEMAP}">Site Map</a></li>
					</ul>
				</li>
				<li>

					<p>Groups</p>
					<ul class="foot-nav">
						<li><a href="{U_FOOT_GROUPS}">Browse Groups</a></li>
					</ul>
				</li>
				<li>
					<p>Networks</p>

					<ul class="foot-nav">
						<li><a href="{U_FOOT_NETWORKS}">Browse Networks</a></li>
					</ul>
				</li>
				<li>
					<p>Music</p>
					<ul class="foot-nav">

						<li><a href="{U_FOOT_MUSIC}">Music Home</a></li>

						<li><a href="{U_FOOT_MUSIC_DIRECTORY}">Artists</a></li>
						<li><a href="{U_FOOT_MUSIC_CHART}">Charts</a></li>
					</ul>
				</li>
				<li>
					<p>Help</p>

					<ul class="foot-nav">

						<li><a href="{U_SAFETY}">Safety</a></li>
						<li><a href="{U_HELP}">Help</a></li>
					</ul>
				</li>
			</ul>
			<div class="cheat-clear"></div>

			<p><a href="{U_COPYRIGHT}">Copyright</a> &copy; {YEAR} {SITE_TITLE}, Powered By <a href="http://boxsocial.net/">Box Social</a></p>

			</div>
		</div>
</body>
</html>
