
#nav-pane {
	clear: left;
	height: 30;
	margin-top: 10px;
}

#nav-pane ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 24px;
	margin-left: 8px;
}

#nav-pane ul li {
	float: left;
	height: 24px;
	list-style-type: none;
	background-color: #AAAAAA;
	margin-left: 1px;
}

#nav-pane ul li a {
	background-color: #DDDDDD;
	display: block;
	padding-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

#nav-pane ul li a span {
	background-color: #CCCCCC;
	display: block;
	height: 22px;
	line-height: 22px;
	padding: 0 8px;
	margin-top: 2px;
	font-weight: bold;
}