<!-- INCLUDE page_header.html -->
<h2>Create a New Musician</h2>
<p>It only takes a minute to register as a musician on {SITE_TITLE}.</p>
<!-- IF ERROR -->
<p class="error">{ERROR}</p>
<!-- ENDIF -->
<form action="/music/register" method="post" id="form-register">
<fieldset>
	<dl id="form-list">
		<dt class="top"><label for="title">Musician Title:</label></dt>
		<dd class="top"><input type="text" name="title" id="title" size="64" maxlength="64" style="width: 350px; "  onchange="UpdateSlug()" value="{GROUP_TITLE}" /></dd>
		<dt class="top"><label for="slug">Musician name slug:</label></dt>
		<dd class="top"><input type="text" id="slug" name="slug" maxlength="64" size="48" style="width: 225px; "value="{GROUP_NAME_SLUG}" /> <img src="/images/group-path-bar.png" alt="The name shown in the address bar." /></dd>
		
		<dt class="top"><label>Enter the letters shown to the left in the box below:</label></dt>
		<dd class="top"><img src="{U_CAPTCHA}" alt="captcha" /></dd>
		<dd class="top"><input type="text" id="captcha" name="captcha" /></dd>
		<dt class="top"><label for="agree">I agree to the {SITE_TITLE} <a href="/terms-of-service/">Terms of Service</a>:</label></dt>
		<dd class="top"><input type="checkbox" value="true" id="agree" name="agree" /></dd>
		<dt class="top"></dt>
		<dd class="top"><input type="submit" value="Register Musician" name="submit" /></dd>
	</dl>
	<input type="hidden" id="verification" value="{SID}" />
</fieldset>
</form>
<!-- INCLUDE page_footer.html -->