<h3>{L_BLOGROLL}</h3>

<p>{L_BLOG_ROLL_DESCRIPTION}</p>
<form action="{S_ACCOUNT}" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{L_ADD_TO_BLOGROLL}</legend>
    <dl>
      <dt>
        <label for="title">{L_TITLE}</label>
      </dt>
      <dd>
        <input type="text" id="title" name="title" value="{S_TITLE}" style="width: 100%;" />
      </dd>
      <dt>
        <label for="uri">{L_URI}</label>
      </dt>
      <dd>
        <input type="text" id="uri" name="uri" value="{S_URI}" style="width: 100%;" />
      </dd>
      <dt></dt>
      <dd>
        <input type="submit" name="save" value="{L_SAVE}" />
      </dd>
    </dl>
    <input type="hidden" name="module" value="blog" />
    <input type="hidden" name="sub" value="blogroll" />
    <!-- IF EDIT -->
    <input type="hidden" name="id" value="{S_ID}" />
    <input type="hidden" name="mode" value="edit" />
    <!-- ELSE -->
    <input type="hidden" name="mode" value="new" />
    <!-- ENDIF -->
  </fieldset>
</form>