ul.forums {
	list-style-type: none;
	padding: 0px;
	margin: 5px;
	margin-top: 0;
	display: block;
}

ul.forums li {
	display: block;
	list-style-type: none;
	border: solid 2px #333333;
	border-top: none;
	margin: 0;
	min-height: 35px;
}

div.forums {
	display: block;
	padding: 0px;
	margin: 5px;
	margin-bottom: 0;
	height: 2.0em;
	border: solid 2px #333333;
	font-weight: bold;
	background-color: #333333;
}

.forums dl {
	position: relative;
	padding: 0;
	margin: 0;
}

.forums dl dt {
	display: block;
	float: left;
	width: 52%;
	padding: 0;
	margin: 0;
}

.forums dl dd {
	display: block;
	float: left;
	width: 16%;
	text-align: center;
	padding: 0;
	margin: 0px;
}

.forums dl div {
	margin: 5px;
}

ul.forums dd div, ul#topics dd div {
	border-left: 1px solid #CCCCCC;
}

ul#topics li#topic-head dd div {
	border: none !important;
}

div.forums .topics, div.forums .posts, div.forums .lastpost {
	line-height: 1.2em;
}

ul.forums .topics, ul.forums .posts {
	line-height: 4.5em;	
	margin-left: -1px;
}

ul.forums .lastpost div, ul#topics .lastpost div {
	padding-top: 1.2em;
}


div.forums dl dt {
	line-height: 1.2em;
}

div.forums dl dd {
	height: 1.2em;
}

.forums dl dt h3 {
	display: inline;
}

ul#topics {
	list-style: none;
	padding: 0px;
	margin: 5px;
	border: solid 2px #333333;
}

ul#topics li {
	display: block;
	list-style-type: none;
	margin: 0;
	border-bottom: 1px solid #CCCCCC;
}

ul#topics li div {
	margin: 5px;
}

ul#topics li#topic-head {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
}

ul#topics dl {
	position: relative;
	padding: 0;
	margin: 0;
}

ul#topics dl dt {
	display: block;
	float: left;
	width: 52%;
	padding: 0;
	margin: 0;
}

ul#topics dl dd {
	display: block;
	float: left;
	width: 16%;
	text-align: center;
	padding: 0;
	margin: 0;
}

ul#topics.mcp dl dt {
	width: 44%;
}

ul#topics.mcp dl dd {
	width: 14%;
}

ul#posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#posts li {
	/*border: solid 2px #333333;*/
	list-style: none;
	margin: 0px;
	margin-bottom: 3px;
	
}

ul#posts li h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

.post {
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
}

.postbody {
	float: left;
	clear: both;
	width: 75%;
}

.postbody .inner {
	padding: 5px;
}

ul#posts dl.profile {
	float: right;
	display: inline;
	width: 25%;
	border-left: solid 1px #FFFFFF;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

ul#posts dl.profile p {
    padding-top: 0;
}

ul#posts dl.profile dd {
	margin: 0;
	padding: 0;
}

ul#posts div.top {
	clear: both;
	text-align: right;
}

div#forum-rules {
	color: #CC0000;
	background-color: #FFEEEE;
	border: solid 2px #CC0000;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.title-row dd, .title-row dt {
	background-color: #333333;
	color: #FFFFFF;
}

.title-row a {
	color: #FFFFFF;
	margin-left: 5px;
}

/* Simple fix so forum and topic lists always have a min-height set, even in IE6
	From http://www.dustindiaz.com/min-height-fast-hack */
dl.icon {
	min-height: 35px;
	height: auto !important;
	height: 35px;
	height: 1%;
	overflow: hidden;

}

dl.icon dt div {
	padding-left: 45px;		
	background-repeat: no-repeat;
	background-position: 10px 50%;
	font-weight: normal;
	text-align: left;
}

dl.title-row {
	min-height: 0px;
	height: auto !important;
	height: 0px;
	height: 1%;
	overflow: hidden;
}

div#forum-head {
	text-align: right;
}

div#forum-head a {
	padding-left: 16px;
}

div#forum-head a span
{
    background-image: url(../images/ui-icons_0044aa_256x240.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 4px;
    position: relative;
}

div#forum-head a#forum-index span
{
    background-position: 0 -112px;
}

div#forum-head a#forum-help span
{
    background-position: -48px -144px;
}

div#forum-head a#forum-profile span
{
    background-position: -144px -96px;
}

div#forum-head a#forum-join span
{
    background-position: -32px -128px;
}

/* colours */
ul#posts .corners-top, ul#posts .corners-top > span {
    background-image: url('/images/corners-top-eeeeee-18-9.png');
}

ul#posts .corners-top > span + span, ul#posts .corners-bottom > span + span {
    background-color: #EEEEEE;
}

ul#posts .corners-bottom, ul#posts .corners-bottom > span {
    background-image: url('/images/corners-bottom-eeeeee-18-9.png');
}

ul#posts div.post {
    background-color: #EEEEEE;
}