
ul.forums {
	list-style: none;
	padding: 5px;
	padding-top: 0;
	margin: 0px;
}

ul.forums li {
	display: block;
	list-style-type: none;
	height: 6.5em;
	border: solid 1px black;
	border-top: none;
	margin: 0;
}

div.forums {
	display: block;
	padding: 0px;
	margin: 5px;
	margin-bottom: 0;
	height: 2.5em;
	border: solid 1px black;
	font-weight: bold;
}

.forums dl {
	position: relative;
	padding: 0;
	margin: 0;
}

.forums dl dt {
	display: block;
	float: left;
	width: 50%;
	padding: 0px 0;
	margin: 0;
}

.forums dl dd {
	display: block;
	float: left;
	width: 16%;
	text-align: center;
	border-left: 1px solid black;
	padding: 0px 0;
	margin: 0;
	height: 6.5em;
}

div.forums dl dd {
	height: 2.5em;
}

.forums dl dt h3 {
	display: inline;
}

ul#topics {
	list-style: none;
	padding: 5px;
	margin: 0px;
}

ul#topics li {
	display: block;
	list-style-type: none;
	height: 3.5em;
	border: solid 1px black;
	border-top: none;
	margin: 0;
}

ul#topic li dt img.topic-icon {
	float: left;
}

ul#topics li#topic-head {
	border-top: solid 1px black;
	font-weight: bold;
}

ul#topics dl {
	position: relative;
	padding: 0px 0;
}

ul#topics dl dt {
	display: block;
	float: left;
	width: 50%;
	padding: 0 0 0 0;
	margin: 0;
}

ul#topics dl dt span {
	padding-left: 20px;
	display: block;
}

ul#topics dl dd {
	display: block;
	float: left;
	width: 16%;
	text-align: center;
	border-left: 1px solid black;
	padding: 0px 0;
	margin: 0;
	height: 3.5em;
}

ul#posts {
	list-style: none;
	margin: 0px;
}

ul#posts li {
	border: solid 1px black;
	list-style: none;
	margin: 0px;
	margin-bottom: 3px;
}

ul#posts li h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

.postbody {
	float: left;
	clear: both;
	width: 50%;
	margin-right: 205px;
}

ul#posts dl.profile {
	float: right;
	display: inline;
	width: 200px;
}

ul#posts div.top {
	clear: both;
	text-align: right;
}

div#forum-rules {
	color: #CC0000;
	background-color: #FFEEEE;
	border: solid 2px #CC0000;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}