<!-- INCLUDE page_header.html -->

<h2>News</h2>
<p>{BREADCRUMBS}</p>
<p>{PAGINATION}</p>
<!-- IF NEWS_COUNT -->
<ul>
<!-- BEGIN news_list -->
<li>
	<!-- IF news_list.TITLE -->
	<h3><a href="{news_list.U_ARTICLE}">{news_list.TITLE}</a></h3>
	<!-- ENDIF -->
		<p class="details"><strong>{news_list.DATE}</strong> <em>Posted by: <a href="{news_list.U_POSTER}">{news_list.USERNAME}</a></em></p>
	<p>{news_list.BODY}</p>
	<p><a href="{news_list.U_ARTICLE}#comments">Comments ({news_list.COMMENTS})</a></p>
</li>
<!-- END news_list -->
</ul>
<!-- ENDIF -->
<p>{PAGINATION}</p>

<!-- INCLUDE page_footer.html -->