<!-- INCLUDE page_header.html -->
<!-- IF TITLE -->
<h2><a href="{ARTICLE_U_ARTICLE}">{ARTICLE_TITLE}</a></h2>
<!-- ENDIF -->
<p>{BREADCRUMBS}</p>
<div>
		<p class="details"><strong>{ARTICLE_DATE}</strong> <em>Posted by: <a href="{ARTICLE_U_POSTER}">{ARTICLE_USERNAME}</a></em></p>
	<p>{ARTICLE_BODY}</p>
	<p><a href="{ARTICLE_U_ARTICLE}#comments">Comments ({ARTICLE_COMMENTS})</a></p>
</div>
	<div class="comment-pane">
		<!-- INCLUDE pane.comments.html -->
	</div>

<!-- INCLUDE page_footer.html -->