<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
<div id="pane-profile">
	<div id="pane-pages" class="pane">
		<h3>{L_PAGES}</h3>
		<ul class="page-tiles">
			{PAGE_LIST}
		</ul>
	</div>
</div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
<p class="action-buttons">{BREADCRUMBS}
<!-- IF U_CREATE_ARTICLE -->
<span class="actions-menu"><a onclick="return showPopupMenu(event, 'actions-menu');"><span></span></a></span>
<!-- ENDIF -->
</p>
    <ul id="actions-menu" class="popup-menu">
    <!-- IF U_CREATE_ARTICLE -->
        <li><a href="{U_CREATE_ARTICLE}">{L_POST_NEWS_ARTICLE}</a></li>
    <!-- ENDIF -->
    </ul>
<!-- ENDIF -->

<div id="profile">
<div id="pane-page" class="pane">
<!-- IF $_IS_DESKTOP -->
	<!-- IF U_CREATE_ARTICLE -->
	<div id="new-stuff">
		<span id="post-news-article" class="post-button"><a href="{U_CREATE_ARTICLE}">{L_POST_NEWS_ARTICLE}</a></span>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<p><strong>Go to page:</strong> {PAGINATION}</p>
<!-- IF NEWS_COUNT -->
<ul id="news-list">
<!-- BEGIN news_list -->
<li>
  <div class="cornered-posting">
	<!-- IF news_list.TITLE -->
	<h3><a href="{news_list.U_ARTICLE}">{news_list.TITLE}</a></h3>
	<!-- ENDIF -->
		<p class="details"><strong>{news_list.DATE}</strong> <em>Posted by: <a href="{news_list.U_POSTER}">{news_list.USERNAME}</a></em></p>
	<p>{news_list.BODY}</p>
	<p><a href="{news_list.U_ARTICLE}#comments">Comments ({news_list.COMMENTS})</a></p>
  </div>
</li>
<!-- END news_list -->
</ul>
<!-- ENDIF -->
<p><strong>Go to page:</strong> {PAGINATION}</p>
</div>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->