<hr style="border: 1px solid #888888"/>

<p>This notification was sent automatically by {SITE_TITLE} in response to an event
caused by you, or someone interacting with your profile. You can unsubscribe from
e-mail notifications such as these in your account preferences. Click the
link below to be taken there automatically.<br />
<a href="{U_SITE}account/?module=&sub=preferences">Unsubscribe</a><p>

<p>This e-mail was intended for the above named receipient only. If this is not you
disregard this message.</p>
