<h3>Navigation Tabs</h3>

<div id="new-stuff">
	<span id="new-tab" class="post-button"><a href="{U_NEW_TAB}">New Tab</a></span>
</div>

<p>Note: Tab title is the same as the page title.</p>

<table style="width: 100%">
<tr>
	<th>Tab Title</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<!-- BEGIN tab_list -->
<!-- IF tab_list.$_INDEX_EVEN -->
<tr class="even">
<!-- ELSE -->
<tr class="odd">
<!-- ENDIF -->
	<td>{tab_list.TITLE}</td>
  <td><a href="{tab_list.U_MOVE_UP}">Move Up</a></td>
	<td><a href="{tab_list.U_MOVE_DOWN}">Move Down</a></td>
	<td><a href="{tab_list.U_DELETE}">Delete</a></td>
</tr>
<!-- END tab_list -->
</table>