<!-- INCLUDE page_header.html -->

<!-- IF $_IS_DESKTOP AND BREADCRUMBS -->
<div class="breadcrumbs"><p>{BREADCRUMBS}</p></div>
<!-- ENDIF -->

<!-- INCLUDE primitive_header.html -->

<!-- IF $_IS_DESKTOP -->
<div id="pane-profile">
	<div id="pane-pages" class="pane">
		<h3>{L_PAGES}</h3>
		<ul class="page-tiles">
			{PAGE_LIST}
		</ul>
	</div>
</div>
<!-- ENDIF -->

<!-- IF $_IS_MOBILE -->
<p class="action-buttons">{BREADCRUMBS}
<!-- IF U_EDIT -->
<span class="actions-menu"><a onclick="return showPopupMenu(event, 'actions-menu');"><span></span></a></span>
<!-- ENDIF -->
</p>
    <ul id="actions-menu" class="popup-menu">
    <!-- IF U_EDIT -->
        <li><a href="{U_EDIT}">{L_EDIT_PAGE}</a></li>
    <!-- ENDIF -->
    </ul>
<!-- ENDIF -->

<div id="profile">
<div id="pane-page" class="pane">
	<div id="page-body" class="normal-writing">
{PAGE_BODY}
	</div>
  <div class="cheat-clear"></div>
	<hr />
	<p>{LAST_MODIFIED_PAGE_VIEWS}</p>
	<!-- IF PAGE_LICENSE -->
	<p>
	<!-- IF I_PAGE_LICENSE -->
		<a href="{U_PAGE_LICENSE}"><img src="/images/{I_PAGE_LICENSE}" title="{PAGE_LICENSE}" alt="{PAGE_LICENSE}" /></a>
	<!-- ELSE -->
		<a href="{U_PAGE_LICENSE}">This page is licensed under the following license: {PAGE_LICENSE}</a>
	<!-- ENDIF -->
	<!-- IF I_PAGE_CLASSIFICATION -->
		<img src="/images/{I_PAGE_CLASSIFICATION}" title="{PAGE_CLASSIFICATION}" alt="{PAGE_CLASSIFICATION}" />
	<!-- ENDIF -->
	</p>
	<!-- ENDIF -->
	<!-- IF $_IS_DESKTOP AND U_EDIT -->
	<div id="new-stuff">
		<span id="edit-page" class="post-button"><a href="{U_EDIT}">{L_EDIT_PAGE}</a></span>
	</div>
	<!-- ENDIF -->
</div>
</div>
</div>
<!-- INCLUDE primitive_footer.html -->
<!-- INCLUDE page_footer.html -->